@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-UltraLightItalic.woff2") format('woff2'), url("fonts/Gilroy-UltraLightItalic.woff") format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-LightItalic.woff2") format('woff2'), url("fonts/Gilroy-LightItalic.woff") format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-UltraLight.woff2") format('woff2'), url("fonts/Gilroy-UltraLight.woff") format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-Semibold.woff2") format('woff2'), url("fonts/Gilroy-Semibold.woff") format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-Regular.woff2") format('woff2'), url("fonts/Gilroy-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-Light.woff2") format('woff2'), url("fonts/Gilroy-Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-Medium.woff2") format('woff2'), url("fonts/Gilroy-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-SemiboldItalic.woff2") format('woff2'), url("fonts/Gilroy-SemiboldItalic.woff") format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-RegularItalic.woff2") format('woff2'), url("fonts/Gilroy-RegularItalic.woff") format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-MediumItalic.woff2") format('woff2'), url("fonts/Gilroy-MediumItalic.woff") format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input {
/* 1 */
  overflow: visible;
}
button,
select {
/* 1 */
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.main-svg-sprite {
  display: none;
}
.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
  font-size: 0;
}
.svg-icon__link {
  vertical-align: top;
  fill: inherit;
  width: inherit;
  height: inherit;
}
* {
  min-width: 0;
  min-height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: auto;
  min-width: 375px;
  font-family: sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #2d2d2d;
  background-color: #fff;
}
svg:not(:root) {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
blockquote {
  padding: 20px;
  margin: 30px 0;
  padding-left: 20px;
  border-left: 5px solid #106285;
  background-color: rgba(16,98,133,0.03);
}
img {
  max-width: 100%;
  height: auto;
}
.theme-color {
  color: #106285;
}
/**
 * The CSS class screen-reader-text
 *
 * @link https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
 */
.visuallyhidden,
.screen-reader-text,
.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
  -webkit-overflow-scrolling: touch;
}
.visuallyhidden:active,
.screen-reader-text:active,
.sr-only:active,
.visuallyhidden:focus,
.screen-reader-text:focus,
.sr-only:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000 /* Above WP toolbar. */;
}
.overflow-hidden {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.container {
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1;
  font-weight: 400;
  font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
  text-transform: uppercase;
}
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 43.2px;
}
h2,
.h2 {
  margin-top: 42px;
  margin-bottom: 42px;
  font-size: 36px;
  line-height: 43.2px;
}
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 27px;
}
h4,
.h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
}
h5,
.h5,
h6,
.h6 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}
a {
  color: #0023ff;
  -webkit-transition: 0.25s color;
  transition: 0.25s color;
  color: #2d2d2d;
}
a:hover {
  color: #106285;
  text-decoration: none;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
.btn-reset-styles {
  border: 0;
  background: none;
  padding: 0;
}
.align-center {
  text-align: center;
}
html,
body {
  margin: 0;
  padding: 0;
}
html {
  min-height: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}
.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.app__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  position: relative;
}
.app__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.app__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}
.app.simple-header .app__main {
  padding-top: 40px;
}
.header {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  font-size: 12px;
}
.header.abs .header__box {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}
.header.fixed {
  color: #2d2d2d;
}
.header.fixed .header__box {
  position: fixed;
  backdrop-filter: blur(5px);
  background: rgba(255,255,255,0.8);
}
.header.fixed .header__burger > span:before,
.header.fixed .header__burger > span span,
.header.fixed .header__burger > span:after {
  background: #2d2d2d;
}
.header.fixed .header__burger:hover > span:before,
.header.fixed .header__burger:hover > span span,
.header.fixed .header__burger:hover > span:after {
  background: #49b1d0;
}
.header.fixed .header__lang {
  color: #bcbcbc;
}
.header.fixed .header__lang.is-active {
  color: #2d2d2d;
}
.header.fixed .header__phone a {
  color: #2d2d2d;
}
.header.fixed .header__form-call {
  color: #2d2d2d;
}
.header.fixed .header__form-call:after {
  background: #2d2d2d;
}
.header.menu-opened .header__box {
  background: #fff;
}
.header__box {
  left: 0;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 15;
  -webkit-transition: 0.2s ease transform;
  transition: 0.2s ease transform;
}
.header__in {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.7s opacity, 0.7s visibility;
  transition: 0.7s opacity, 0.7s visibility;
}
.header.animated .header__content {
  opacity: 1;
  visibility: visible;
}
.header__burger {
  position: relative;
  width: 50px;
  height: 18px;
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  overflow: hidden;
  font-size: 0;
  background: none;
  border: 0;
  -webkit-overflow-scrolling: touch;
}
.header__burger:before {
  content: '';
  position: absolute;
  left: 0;
  top: -10px;
  right: 0;
  bottom: -10px;
}
.header__burger > span {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  cursor: none;
}
.header__burger > span span {
  -webkit-transform-origin: 0;
          transform-origin: 0;
  right: 0;
  top: 50%;
  trnaform: translateY(-50%);
  -webkit-transition: 0.13s left, 0.2s right, 0.4s background;
  transition: 0.13s left, 0.2s right, 0.4s background;
}
.header__burger > span span,
.header__burger > span:before,
.header__burger > span:after {
  position: absolute;
  background: #fff;
  left: 0;
  height: 1px;
  border-radius: 3px;
  -webkit-transform-origin: 0;
          transform-origin: 0;
  pointer-events: none;
  cursor: none;
}
.header__burger > span:before,
.header__burger > span:after {
  content: '';
}
.header__burger > span:before {
  right: 15px;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}
.header__burger > span:after {
  bottom: 0;
  right: 0;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}
.header__burger:active > span span {
  right: 0;
}
.header__burger:active > span:before {
  right: 0;
}
.header__burger.is-active > span span {
  left: 15%;
  right: 87%;
}
.header__burger.is-active > span:before {
  width: 24px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__burger.is-active > span:after {
  width: 24px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 74%;
  margin-left: auto;
}
.header__logo {
  width: 33px;
  height: 35px;
}
.header__langs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__lang {
  margin-right: 10px;
  text-decoration: none;
  color: #bcbcbc;
}
.header__lang.is-active {
  color: #fff;
}
.header__lang:last-child {
  margin-right: 0;
}
.header__phone {
  margin-left: 13px;
}
.header__phone a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  color: #bcbcbc;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__phone a:hover,
.header__phone a.is-active {
  color: #fff;
}
.header__phone a:before {
  display: block;
  border-radius: 100%;
  border: 2px solid rgba(168,219,241,0.5);
  content: '';
  width: 8px;
  height: 8px;
  margin-right: 5px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  background: #48b1d0;
  background-clip: content-box;
  -webkit-animation: flashing 1200ms infinite alternate;
          animation: flashing 1200ms infinite alternate;
}
.header__address,
.header__form-call {
  display: none;
}
.header__container {
  position: absolute;
  left: 0;
  right: 0;
  top: 75px;
  z-index: 10;
  background: #fff;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.3s height;
  transition: 0.3s height;
  max-height: calc(100vh - 75px);
  max-height: calc(calc(var(--vh, 1vh) * 100) - 75px);
  padding-left: 15px;
  padding-right: 15px;
  -webkit-overflow-scrolling: touch;
}
.header__container-in {
  font-size: 15px;
  border-top: 1.5px solid #e9e9e9;
  text-transform: uppercase;
  max-height: 100%;
  height: 100%;
}
.header__container-in a {
  color: #2b2b2b;
}
.header__container-in-row--menu {
  margin-bottom: 20px;
}
.header__container-in-row--contacts {
  padding-top: 20px;
  border-top: 1px solid #e9e9e9;
}
.header__container-in1 {
  margin-left: -15px;
  margin-right: -15px;
  padding: 20px 15px;
  height: 100%;
  overflow-y: auto;
  color: #2d2d2d;
  -webkit-overflow-scrolling: touch;
}
.header__container-in0 {
  height: 100%;
  max-height: 100%;
}
.header__container nav ul {
  margin-bottom: 40px;
}
.header__container nav ul:last-child {
  margin-bottom: 0;
}
.header__container nav ul li {
  margin-bottom: 15px;
}
.header__container nav ul li:last-child {
  margin-bottom: 0;
}
.header__container nav ul li a,
.header__container nav ul li span {
  text-decoration: none;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: 0.25s padding-left, 0.25s color;
  transition: 0.25s padding-left, 0.25s color;
}
.header__container nav ul li a:before,
.header__container nav ul li span:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -3.5px;
  width: 0;
  height: 7px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-transition: 0.25s width;
  transition: 0.25s width;
  background: url("data:image/svg+xml,%3Csvg width='11.000000' height='7.000000' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath id='Line 50' d='M8.79 2.5L6.81 0.52C6.62 0.32 6.62 0.01 6.81 -0.19C7.01 -0.38 7.32 -0.38 7.52 -0.19L10.35 2.64C10.55 2.84 10.55 3.15 10.35 3.35L7.52 6.18C7.32 6.37 7.01 6.37 6.81 6.18C6.62 5.98 6.62 5.67 6.81 5.47L8.79 3.5L0 3.5C-0.28 3.5 -0.5 3.27 -0.5 3C-0.5 2.72 -0.28 2.5 0 2.5L8.79 2.5Z' fill='%23106285' fill-opacity='1.000000' fill-rule='evenodd'/%3E%3C/svg%3E") right center no-repeat;
}
.header__container nav ul li a:hover,
.header__container nav ul li span:hover {
  padding-left: 22px;
  color: #106285;
}
.header__container nav ul li a:hover:before,
.header__container nav ul li span:hover:before {
  width: 11px;
}
.header__container nav ul li.is-active a,
.header__container nav ul li.is-active span {
  padding-left: 22px;
  color: #106285;
}
.header__container nav ul li.is-active a:before,
.header__container nav ul li.is-active span:before {
  width: 11px;
}
.header.menu-opened {
  background: #fff;
}
.header.menu-opened .header__container {
  height: calc(100vh - 75px);
  height: calc(calc(var(--vh, 1vh) * 100) - 75px);
  color: #2d2d2d;
}
.header .site-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header .site-contacts__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header .site-contacts__col .site-contacts__item:first-child {
  width: 55%;
}
.header .site-contacts__col .site-contacts__item:nth-child(2) {
  width: 45%;
}
.header .site-contacts__col .site-contacts__item:last-child {
  width: 100%;
}
.header .site-contacts__item-time:nth-child(2) {
  min-width: 91px;
}
.header .site-contacts__item--address {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-bottom: 0;
  margin-top: 18px;
}
.header__line-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 832px;
  overflow: hidden;
  z-index: 1;
  pointer-events: none;
  -webkit-overflow-scrolling: touch;
}
.header__line-bg:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background: url("data:image/svg+xml,%3Csvg width='2098.000000' height='1518.000000' viewBox='0 0 2098 1518' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cfilter id='filter_51_13126_dd' x='-0.000244' y='-0.032349' width='2097.592529' height='1517.748657' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='120' result='effect_layerBlur_1'/%3E%3C/filter%3E%3ClinearGradient x1='388.999817' y1='1184.350098' x2='1287.500732' y2='349.851074' id='paint_linear_51_13126_0' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2349B1D0'/%3E%3Cstop offset='1.000000' stop-color='%234977D0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg filter='url(%23filter_51_13126_dd)'%3E%3Cpath id='Vector 1' d='M466.01 1132.85C371.13 1013.29 306.08 809 804.94 948.3C1428.53 1122.42 1606.91 924.85 1296.5 722.35C879.1 450.04 1381.5 283.35 1716 497.85' stroke='url(%23paint_linear_51_13126_0)' stroke-opacity='0.100000' stroke-width='80.000000'/%3E%3C/g%3E%3C/svg%3E") center center no-repeat;
  background-size: auto 832px;
  height: 832px;
}
.header.fixed .header__line-bg,
.header.abs .header__line-bg {
  display: none;
}
.header.menu-opened .header__line-bg {
  display: block;
  z-index: 11;
  top: -45px;
}
.header.menu-opened .header__line-bg:after {
  right: -36px;
}
.dark-header .header__burger span span,
.dark-header .header__burger span:before,
.dark-header .header__burger span:after {
  background: #2d2d2d;
}
.dark-header .header__address {
  color: #2d2d2d;
}
.dark-header .header__form-call {
  color: #2d2d2d;
}
.dark-header .header__form-call:after {
  background: #2d2d2d;
}
.dark-header .header__phone a {
  color: #2d2d2d;
}
.dark-header .header__lang {
  color: #bcbcbc;
}
.dark-header .header__lang:hover {
  color: #49b1d0;
}
.dark-header .header__lang.is-active {
  color: #2d2d2d;
}
.simple-header .header__content {
  opacity: 1;
  visibility: visible;
}
.simple-header .header__box {
  position: relative;
}
.simple-header .header.absolute .header__box {
  position: absolute;
}
.simple-header .header.fixed .header__box {
  position: fixed;
}
.header.menu-opened .header__burger span span,
.header.menu-opened .header__burger span:before,
.header.menu-opened .header__burger span:after {
  background: #2d2d2d;
}
.header.menu-opened .header__burger:hover span span,
.header.menu-opened .header__burger:hover span:before,
.header.menu-opened .header__burger:hover span:after {
  background: #49b1d0;
}
.header.menu-opened .header__address {
  color: #2d2d2d;
}
.header.menu-opened .header__form-call {
  color: #2d2d2d;
}
.header.menu-opened .header__form-call:after {
  background: #2d2d2d;
}
.header.menu-opened .header__phone a {
  color: #2d2d2d;
}
.header.menu-opened .header__lang {
  color: #bcbcbc;
}
.header.menu-opened .header__lang:hover,
.header.menu-opened .header__lang.is-active {
  color: #2d2d2d;
}
.animated-title {
  display: block;
  overflow: hidden;
  -webkit-transform: translateY(90%);
          transform: translateY(90%);
  -webkit-transition: 1.5s -webkit-transform;
  transition: 1.5s -webkit-transform;
  transition: 1.5s transform;
  transition: 1.5s transform, 1.5s -webkit-transform;
  -webkit-overflow-scrolling: touch;
}
.animated-title > div,
.animated-title > span {
  -webkit-transform: translateY(-90%);
          transform: translateY(-90%);
  -webkit-transition: 1.5s -webkit-transform;
  transition: 1.5s -webkit-transform;
  transition: 1.5s transform;
  transition: 1.5s transform, 1.5s -webkit-transform;
}
.animated-title > span {
  display: block;
}
.animated .animated-title {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.animated .animated-title > div,
.animated .animated-title > span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.intro-main {
  padding-top: 115px;
  margin-bottom: 68px;
}
.intro-main__title {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.intro-main__title span {
  display: block;
}
.intro-main__title .sp-smal {
  font-weight: 200;
}
.intro-main__title .sp-2 {
  font-style: italic;
  margin-left: 7%;
  width: calc(100% - 26px);
}
.intro-main__title .sp-3 {
  font-style: italic;
  text-align: right;
  margin-right: 22%;
}
.intro-main__title .sp-4 {
  text-align: right;
  margin-right: 30px;
}
.intro-main__text {
  font-size: 16px;
  margin-bottom: 42px;
}
.intro-main__text:last-child {
  margin-bottom: 0;
}
.intro-main__text ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.intro-main__text ul li {
  margin-bottom: 10px;
  padding-left: 25px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.41' height='9.33' viewBox='0 0 13.41 9.33'%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath id='Line_50' data-name='Line 50' d='M11,4,8.25,1.2a.69.69,0,0,1,0-1,.69.69,0,0,1,1,0l4,4a.69.69,0,0,1,0,1l-4,4a.7.7,0,0,1-1-1L11,5.37H.71A.71.71,0,1,1,.71,4Z' fill='%232d2d2d' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") 0 5.5px no-repeat;
}
.intro-main__text ul li:last-child {
  margin-bottom: 0;
}
.intro-main__button {
  width: 100%;
}
.intro-in {
  position: relative;
}
.intro-in.animated .intro-in__background:after {
  backdrop-filter: blur(0);
}
.intro-in.animated .intro-in__img {
  opacity: 1;
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
}
.intro-in.animated .intro-in__img img {
  -webkit-animation: toothScale 1s alternate;
          animation: toothScale 1s alternate;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.intro-in.animated .intro-in__mobile .intro-in__text,
.intro-in.animated .intro-in__mobile .intro-in__button {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.intro-in.animated .intro-in__mobile .intro-in__text:nth-child(1) {
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
}
.intro-in.animated .intro-in__mobile .intro-in__text:nth-child(2) {
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
}
.intro-in.animated .intro-in__mobile .intro-in__button {
  -webkit-transition-delay: 800ms;
          transition-delay: 800ms;
}
.intro-in__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.intro-in__background:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(45,45,45,0.8);
  backdrop-filter: blur(25px);
  -webkit-transition: 1.2s backdrop-filter;
  transition: 1.2s backdrop-filter;
}
.intro-in__background img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro-in__in {
  padding-top: 115px;
  padding-bottom: 80px;
  position: relative;
  color: #f3fbff;
  z-index: 1;
}
.intro-in__container {
  position: relative;
  padding-top: 115px;
  padding-bottom: 80px;
  max-width: 575px;
  margin-left: auto;
  margin-right: auto;
}
.intro-in__img {
  position: static;
  text-align: center;
  margin-top: -30px;
  margin-bottom: -37px;
  opacity: 0;
  -webkit-transition: 0s opacity;
  transition: 0s opacity;
}
.intro-in__img img {
  vertical-align: bottom;
  width: auto;
  height: 189px;
}
.intro-in__title {
  color: #f3fbff;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}
.intro-in__title.h2 {
  margin-bottom: 0;
}
.intro-in__row .intro-in__text {
  display: none;
}
.intro-in__text {
  font-size: 16px;
  color: #fff;
  padding-left: 26px;
  margin-bottom: 13px;
  position: relative;
}
.intro-in__text:before {
  position: absolute;
  left: 0;
  top: 6px;
  content: '';
  width: 13px;
  height: 9px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.41' height='9.33' viewBox='0 0 13.41 9.33'%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath id='Line_50' data-name='Line 50' d='M11,4,8.25,1.2a.69.69,0,0,1,0-1,.69.69,0,0,1,1,0l4,4a.69.69,0,0,1,0,1l-4,4a.7.7,0,0,1-1-1L11,5.37H.71A.71.71,0,1,1,.71,4Z' fill='%23F3FBFF' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") center center no-repeat;
  background-size: contain;
}
.intro-in__button {
  width: 100%;
  margin-top: 29px;
  display: none;
}
.intro-in .btn-desctop {
  display: none;
}
.intro-in__row {
  position: relative;
  z-index: 1;
}
.intro-in__row.row-1 {
  padding-left: 0;
  text-align: center;
}
.intro-in__row.row-3 {
  text-align: right;
}
.intro-in__row.row-4 {
  text-align: center;
  font-style: italic;
}
.intro-in__mobile {
  margin-top: 30px;
}
.intro-in__mobile .intro-in__text,
.intro-in__mobile .intro-in__button {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s opacity, 0.5s -webkit-transform;
  transition: 0.5s transform, 0.5s opacity;
  transition: 0.5s transform, 0.5s opacity, 0.5s -webkit-transform;
}
.site-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 49px;
  padding: 5px 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  background: #137e9f;
  color: #fff;
  font-weight: 500;
  border: 1px solid #137e9f;
  -webkit-transition: 0.3s color, 0.3s border-color, 0.3s background;
  transition: 0.3s color, 0.3s border-color, 0.3s background;
  cursor: pointer;
}
.site-button .svg-icon {
  margin-left: 12px;
  width: 14px;
  height: 10px;
  margin-top: 0.5px;
  -webkit-transition: 0.3s fill;
  transition: 0.3s fill;
}
.site-button .svg-icon svg {
  -webkit-transition: 0.3s -webkit-transform;
  transition: 0.3s -webkit-transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
}
.site-button:hover {
  color: #49b1d0;
  background: none;
}
.site-button:hover .svg-icon {
  fill: #49b1d0;
}
.site-button:hover .svg-icon svg {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.site-button.disabled,
.site-button[disabled] {
  background: #f3fbff;
  border-color: #f3fbff;
  color: #49b1d0;
  pointer-events: none;
}
.site-button.disabled .svg-icon,
.site-button[disabled] .svg-icon {
  fill: #49b1d0;
}
.site-button.type-2 {
  border-color: #f3fbff;
  background: none;
}
.site-button.type-2:hover {
  background: #f3fbff;
  color: #106285;
}
.site-button.type-2:hover .svg-icon {
  fill: #106285;
}
.site-button.type-3 {
  border: 1px solid #f3fbff;
  background: #f3fbff;
  color: #106285;
}
.site-button.type-3 .svg-icon {
  fill: #106285;
}
.site-button.type-3:hover {
  background: none;
  color: #f3fbff;
}
.site-button.type-3:hover .svg-icon {
  fill: #f3fbff;
}
.site-button.type-4 {
  background: none;
  border-color: #49b1d0;
  color: #49b1d0;
}
.site-button.type-4:hover {
  background: #49b1d0;
  color: #fff;
}
.site-button.type-4:hover .svg-icon {
  fill: #fff;
}
.cfw-image {
  overflow: hidden;
  min-height: 542px;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.cfw-image img {
  vertical-align: bottom;
  width: 100%;
}
.cfw-image__desktop {
  display: none;
}
.cfw-image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.values {
  padding: 120px 15px;
  position: relative;
  min-height: 485px;
  background: #fff;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.values__background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.values__background img {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0.15;
  width: 307px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: flashing2 1800ms infinite alternate;
          animation: flashing2 1800ms infinite alternate;
}
.values__background:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: backDropOpacity 1800ms infinite alternate;
          animation: backDropOpacity 1800ms infinite alternate;
}
.values__items {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
.values__item {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 43.2px;
}
.values__item span {
  color: #7d7d80;
  font-weight: 300;
  font-style: italic;
}
.values__item:nth-child(2) {
  text-align: right;
}
.values__item:nth-child(3) {
  padding-left: 32px;
}
.values__item-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: right;
  margin-left: -32px;
}
.values__item:nth-child(4) {
  text-align: right;
}
.values__item .sep3 {
  font-style: normal;
  color: #2d2d2d;
  font-weight: 400;
}
.values__item {
  -webkit-transition: 1.6s opacity, 1.6s -webkit-transform;
  transition: 1.6s opacity, 1.6s -webkit-transform;
  transition: 1.6s opacity, 1.6s transform;
  transition: 1.6s opacity, 1.6s transform, 1.6s -webkit-transform;
  opacity: 0;
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
}
.values__item:nth-child(2n) {
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
}
.values__item:nth-child(2) {
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}
.values__item:nth-child(3) {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0;
  transition: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.values__item:nth-child(3) .sep,
.values__item:nth-child(3) .sep2 {
  opacity: 0;
  -webkit-transition: 1.6s opacity, 1.6s -webkit-transform;
  transition: 1.6s opacity, 1.6s -webkit-transform;
  transition: 1.6s opacity, 1.6s transform;
  transition: 1.6s opacity, 1.6s transform, 1.6s -webkit-transform;
  display: block;
}
.values__item:nth-child(3) .sep {
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
}
.values__item:nth-child(3) .sep2,
.values__item:nth-child(3) .sep3 {
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
  -webkit-transition-delay: 900ms;
          transition-delay: 900ms;
}
.values__item:nth-child(3) .sep3 {
  opacity: 0;
  display: inline-block;
  -webkit-transition: 1.6s opacity, 1.6s -webkit-transform;
  transition: 1.6s opacity, 1.6s -webkit-transform;
  transition: 1.6s opacity, 1.6s transform;
  transition: 1.6s opacity, 1.6s transform, 1.6s -webkit-transform;
  -webkit-transition-delay: 900ms;
          transition-delay: 900ms;
}
.values__item:nth-child(4) {
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
  -webkit-transition-delay: 1200ms;
          transition-delay: 1200ms;
}
.values.animated .values__item {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.values.animated .values__item:nth-child(3) .sep,
.values.animated .values__item:nth-child(3) .sep2,
.values.animated .values__item:nth-child(3) .sep3 {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.page-scroller {
  pointer-events: none;
  opacity: 0;
  padding: 1px 0 0 1px;
  border-radius: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  z-index: 9;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  background-color: rgba(255,255,255,0.6);
  backdrop-filter: blur(5px);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: opacity 0.16s linear;
  transition: opacity 0.16s linear;
}
.page-scroller__icon {
  width: 14px;
  height: 30px;
  fill: #666;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}
.page-scroller:hover,
.page-scroller:focus {
  background-color: rgba(168,219,241,0.4);
}
.page-scroller:active {
  background-color: rgba(168,219,241,0.4);
}
.page-scroller--in-memory .page-scroller__icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.page-scroller--in-memory,
.page-scroller--visible {
  opacity: 1;
  pointer-events: auto;
}
@media (min-width: 768px) {
  body {
    font-size: 18px;
    line-height: 22px;
  }
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  h1,
  .h1 {
    font-size: 55px;
    line-height: 58px;
  }
  h2,
  .h2 {
    font-size: 45px;
  }
  h3,
  .h3 {
    font-size: 38px;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  h4,
  .h4 {
    font-size: 35px;
    margin-bottom: 27px;
    margin-top: 27px;
  }
  h5,
  .h5,
  h6,
  .h6 {
    font-size: 27px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .header__container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .header__container-in1 {
    margin-left: -40px;
    margin-right: -40px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .header__container-in-row nav,
  .header .site-contacts__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
  .header__container-in-row nav >*,
  .header .site-contacts__col >* {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 30px;
    width: calc(50% - 30px);
  }
  .intro-main__title {
    max-width: 700px;
  }
  .intro-in__title {
    line-height: 60px;
  }
  .intro-in__img img {
    width: 191px;
    height: 257px;
  }
  .cfw-image img {
    position: relative;
  }
  .cfw-image__desktop {
    display: block;
  }
  .cfw-image__mobile {
    display: none;
  }
  .values {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 992px) {
  h1,
  .h1 {
    font-size: 88px;
    margin-bottom: 100px;
  }
  h2,
  .h2 {
    font-size: 60px;
    line-height: 72px !important;
    margin-bottom: 50px;
  }
  h3,
  .h3 {
    font-size: 50px;
    margin-bottom: 50px;
  }
  h4,
  .h4 {
    font-size: 45px;
    margin-bottom: 35px;
  }
  h5,
  .h5,
  h6,
  .h6 {
    font-size: 38px;
    margin-bottom: 30px;
  }
  .app.simple-header .app__main {
    padding-top: 120px;
  }
  .header {
    font-size: 15px;
    color: #f3fbff;
  }
  .header__line-bg {
    position: absolute;
    left: 0;
    top: -105px;
    right: 0;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
    height: calc(100vh + 105px);
    height: calc(calc(var(--vh, 1vh) * 100) + 105px);
    -webkit-overflow-scrolling: touch;
  }
  .header__line-bg:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: -198px;
    bottom: 0;
    background: url("data:image/svg+xml,%3Csvg width='2098.000000' height='1518.000000' viewBox='0 0 2098 1518' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cfilter id='filter_51_13126_dd' x='-0.000244' y='-0.032349' width='2097.592529' height='1517.748657' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='120' result='effect_layerBlur_1'/%3E%3C/filter%3E%3ClinearGradient x1='388.999817' y1='1184.350098' x2='1287.500732' y2='349.851074' id='paint_linear_51_13126_0' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2349B1D0'/%3E%3Cstop offset='1.000000' stop-color='%234977D0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg filter='url(%23filter_51_13126_dd)'%3E%3Cpath id='Vector 1' d='M466.01 1132.85C371.13 1013.29 306.08 809 804.94 948.3C1428.53 1122.42 1606.91 924.85 1296.5 722.35C879.1 450.04 1381.5 283.35 1716 497.85' stroke='url(%23paint_linear_51_13126_0)' stroke-opacity='0.100000' stroke-width='80.000000'/%3E%3C/g%3E%3C/svg%3E") center center no-repeat;
  }
  .header__in {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header__container {
    background: rgba(0,0,0,0.55);
    padding-left: 0;
    padding-right: 0;
    opacity: 0;
    visibility: hidden;
    height: auto;
    -webkit-transition: 0.5s opacity, 0.5s visibility;
    transition: 0.5s opacity, 0.5s visibility;
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
    height: calc(100vh - 55px);
    height: calc(calc(var(--vh, 1vh) * 100) - 55px);
    max-height: calc(100vh - 55px);
    max-height: calc(calc(var(--vh, 1vh) * 100) - 55px);
  }
  .header__container-in {
    background: #fff;
    padding-left: 40px;
    padding-right: 40px;
    border: 0;
    overflow-y: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    max-height: 100%;
    font-size: 15px;
    -webkit-overflow-scrolling: touch;
  }
  .header__container-in-line {
    position: absolute;
    left: 40px;
    top: 0;
    right: 40px;
    height: 1px;
    background: #e9e9e9;
  }
  .header__container-in1 {
    padding: 60px 0 60px 0;
    margin: 0 auto;
    max-width: 1160px;
    width: 100%;
    height: auto;
    overflow: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0;
  }
  .header__container-in-row--contacts {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding-top: 0;
    border: 0;
    margin-bottom: 49px;
  }
  .header__container-in-row--menu {
    border-top: 1px solid #e9e9e9;
    padding-top: 60px;
  }
  .header__burger {
    margin-right: 8.8%;
    background: none;
    border: 0;
  }
  .header__burger:hover > span:before {
    right: 0;
  }
  .header__burger:hover > span:before,
  .header__burger:hover > span:after,
  .header__burger:hover > span span {
    background: #49b1d0;
  }
  .header__row {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
  }
  .header__address,
  .header__form-call {
    display: block;
  }
  .header__form-call {
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-bottom: -3px;
    line-height: 1;
    position: relative;
    cursor: pointer;
    -webkit-transition: 0.3s color;
    transition: 0.3s color;
    color: #f3fbff;
    text-decoration: none;
  }
  .header__form-call:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: #f3fbff;
    -webkit-transition: 0.3s background;
    transition: 0.3s background;
  }
  .header__form-call:hover {
    color: #49b1d0 !important;
  }
  .header__form-call:hover:after {
    background: #49b1d0 !important;
  }
  .header__phone a {
    color: #f3fbff;
  }
  .header.menu-opened .header__address,
  .header.menu-opened .header__langs,
  .header.menu-opened .header__phone,
  .header.menu-opened .header__form-call {
    opacity: 0;
  }
  .header.menu-opened .header__container {
    background: rgba(0,0,0,0.55);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 1;
    visibility: visible;
    max-height: none;
    height: calc(100vh - 55px);
    height: calc(calc(var(--vh, 1vh) * 100) - 55px);
  }
  .header .site-contacts {
    margin-left: -40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header .site-contacts >* {
    margin-left: 40px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .header .site-contacts >*:nth-child(1) {
    width: calc(29.45% - 40px);
  }
  .header .site-contacts >*:nth-child(2) {
    margin-top: 0;
    width: calc(24.45% - 40px);
  }
  .header .site-contacts >*:nth-child(3) {
    width: calc(31.45% - 40px);
  }
  .header .site-contacts__col >* {
    margin-left: 0;
    padding-right: 25px;
  }
  .header .site-contacts__work {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .header .site-contacts__col {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .header .site-contacts__item--address {
    -webkit-box-ordinal-group: none;
        -ms-flex-order: none;
            order: none;
  }
  .header__container nav {
    margin-left: -40px;
  }
  .header__container nav >* {
    margin-left: 40px;
  }
  .header__container nav >*:nth-child(1) {
    width: calc(29.45% - 40px);
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .header__container nav >*:nth-child(2) {
    width: calc(31.45% - 40px);
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .header__container nav >*:nth-child(3) {
    width: calc(24.45% - 40px);
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .header__lang:hover {
    color: #49b1d0;
  }
  .header__lang.is-active {
    color: #f3fbff;
  }
  .sp-word {
    overflow: hidden;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: 1.6s -webkit-transform;
    transition: 1.6s -webkit-transform;
    transition: 1.6s transform;
    transition: 1.6s transform, 1.6s -webkit-transform;
    -webkit-overflow-scrolling: touch;
  }
  .sp-word > span {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: 1.6s -webkit-transform;
    transition: 1.6s -webkit-transform;
    transition: 1.6s transform;
    transition: 1.6s transform, 1.6s -webkit-transform;
  }
  .animated .sp-word {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .animated .sp-word > span {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .intro-main__row {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0;
    -webkit-transition: 1.2s opacity, 1.2s -webkit-transform;
    transition: 1.2s opacity, 1.2s -webkit-transform;
    transition: 1.2s transform, 1.2s opacity;
    transition: 1.2s transform, 1.2s opacity, 1.2s -webkit-transform;
  }
  .intro-main.animated .intro-main__row {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .intro-main {
    padding-top: 122px;
    margin-bottom: 50px;
  }
  .intro-main__title {
    max-width: 1064px;
    line-height: 83px;
    margin-bottom: 30px;
    font-weight: 300;
  }
  .intro-main__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    max-width: 1060px;
    margin: 0 auto;
  }
  .intro-main__text {
    margin-bottom: 0;
    font-size: 20px;
    max-width: 434px;
  }
  .intro-main__button {
    width: auto;
    min-width: 243px;
    text-align: center;
  }
  .intro-in__container {
    max-width: 1220px;
    padding-bottom: 102px;
  }
  .intro-in__img {
    margin: -125px -4px -125px 0;
  }
  .intro-in__row.row-1 {
    padding-left: 0;
    text-align: center;
  }
  .intro-in__row.row-2,
  .intro-in__row.row-3,
  .intro-in__row.row-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro-in__row.row-2 .intro-in__text,
  .intro-in__row.row-3 .intro-in__text {
    opacity: 0;
    -webkit-transition: 0.9s opacity, 0.9s -webkit-transform;
    transition: 0.9s opacity, 0.9s -webkit-transform;
    transition: 0.9s opacity, 0.9s transform;
    transition: 0.9s opacity, 0.9s transform, 0.9s -webkit-transform;
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  .intro-in__row.row-2 {
    padding-left: 0;
    margin-bottom: 0;
  }
  .intro-in__row.row-2 .intro-in__title {
    text-align: right;
    width: 60.3%;
    margin-left: -159px;
  }
  .intro-in__row.row-2 .intro-in__text {
    margin-right: 2.2%;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  .intro-in__row.row-3 {
    text-align: right;
    padding-right: 0;
    text-align: left;
  }
  .intro-in__row.row-3 .intro-in__title {
    width: 46.2%;
    text-align: left;
  }
  .intro-in__row.row-3 .intro-in__text {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  .intro-in__row.row-4 {
    padding-right: 0;
  }
  .intro-in__row.row-4 .site-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .intro-in__row.row-4 .intro-in__title {
    width: 53%;
    text-align: left;
  }
  .intro-in__row .intro-in__text {
    display: block;
  }
  .intro-in__text {
    font-size: 20px;
    line-height: 24px;
    max-width: 306px;
    margin-bottom: 0;
    text-align: left;
  }
  .intro-in__title {
    font-size: 74px;
    line-height: 105px !important;
  }
  .intro-in__mobile {
    display: none;
  }
  .intro-in__button {
    display: block;
    width: auto;
    margin-top: 0;
    font-style: normal;
    margin-left: 51px;
    opacity: 0;
    -webkit-transition: 0.8s opacity, 0.3s color, 0.3s border-color, 0.3s background, 0.8s -webkit-transform;
    transition: 0.8s opacity, 0.3s color, 0.3s border-color, 0.3s background, 0.8s -webkit-transform;
    transition: 0.8s opacity, 0.8s transform, 0.3s color, 0.3s border-color, 0.3s background;
    transition: 0.8s opacity, 0.8s transform, 0.3s color, 0.3s border-color, 0.3s background, 0.8s -webkit-transform;
    -webkit-transition-delay: 0.8s;
            transition-delay: 0.8s;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  .intro-in.animated .intro-in__row .intro-in__text {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .intro-in.animated .intro-in__button {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  .intro-in.md-title .intro-in__title {
    font-size: 58px;
  }
  .cfw-image {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0;
    -webkit-transition: 1.9s opacity, 1s -webkit-transform;
    transition: 1.9s opacity, 1s -webkit-transform;
    transition: 1s transform, 1.9s opacity;
    transition: 1s transform, 1.9s opacity, 1s -webkit-transform;
    -webkit-transition-delay: 200ms;
            transition-delay: 200ms;
  }
  .cfw-image.animated {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .values {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .values__background img {
    width: 506px;
  }
  .values__items {
    max-width: 886px;
  }
  .values__item {
    font-size: 50px;
    line-height: 60px;
  }
  .values__item:nth-child(3) {
    padding-left: 106px;
  }
  .values__item:nth-child(4) {
    padding-right: 100px;
  }
  .values__item-in {
    display: inline-block;
    text-align: left;
    margin-left: 0;
  }
  .values__item-in .sep {
    display: block;
    padding-left: 165px;
  }
  .values__item .sb {
    margin-right: 58px;
  }
}
@media (min-width: 1200px) {
  .header__container nav >*:nth-child(1) {
    width: calc(32.7% - 40px);
  }
  .header__container nav >*:nth-child(2) {
    width: calc(35.5% - 40px);
  }
  .header__container nav >*:nth-child(3) {
    width: calc(31.5% - 40px);
  }
  .header .site-contacts >*:nth-child(1) {
    width: calc(32.7% - 40px);
  }
  .header .site-contacts >*:nth-child(2) {
    width: calc(31.45% - 40px);
  }
  .header .site-contacts >*:nth-child(3) {
    width: calc(35.5% - 40px);
  }
  .intro-main__title {
    text-align: center;
  }
  .intro-main__title > span {
    display: inline-block;
  }
  .intro-main__title .sp-smal {
    font-size: 40px;
    text-transform: none;
  }
  .intro-main__title .sp-2 {
    width: auto;
  }
  .intro-main__title .sp-2,
  .intro-main__title .sp-3 {
    margin: 0;
    vertical-align: bottom;
    margin-bottom: -8px;
  }
  .intro-main__title .sp-4 {
    margin-right: 0;
  }
  .intro-in__title {
    font-size: 88px;
  }
  .intro-in__row.row-2 .intro-in__text {
    margin-right: 7.7%;
  }
  .intro-in__row.row-4 .intro-in__title {
    width: 58.6%;
  }
  .intro-in.md-title .intro-in__title {
    font-size: 74px;
  }
  .cfw-image {
    min-height: auto;
  }
}
@media (min-width: 1240px) {
  .header__container-in-line {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    right: auto;
    width: 1160px;
  }
}
@media (max-width: 768px) {
  .values__item {
    -webkit-transition: none;
    transition: none;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .values__item:nth-child(2n) {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .values__item:nth-child(2) {
    -webkit-transition-delay: 0;
            transition-delay: 0;
  }
  .values__item:nth-child(3) {
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0;
    transition: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .values__item:nth-child(3) .sep,
  .values__item:nth-child(3) .sep2 {
    opacity: 1;
    -webkit-transition: none;
    transition: none;
    display: block;
  }
  .values__item:nth-child(3) .sep {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition-delay: 0;
            transition-delay: 0;
  }
  .values__item:nth-child(3) .sep2,
  .values__item:nth-child(3) .sep3 {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition-delay: 0;
            transition-delay: 0;
  }
  .values__item:nth-child(3) .sep3 {
    opacity: 1;
    display: inline-block;
    -webkit-transition: none;
    transition: none;
    -webkit-transition-delay: 0;
            transition-delay: 0;
  }
  .values__item:nth-child(4) {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition-delay: 0;
            transition-delay: 0;
  }
}
@media (max-width: 575px) {
  .header__content {
    opacity: 1;
    visibility: visible;
  }
  .intro-in__background:after {
    backdrop-filter: blur(0);
  }
  .intro-in__img {
    opacity: 1;
    -webkit-transition-delay: 0;
            transition-delay: 0;
  }
  .intro-in__img img {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-animation-delay: 0;
            animation-delay: 0;
  }
  .intro-in__mobile .intro-in__text,
  .intro-in__mobile .intro-in__button {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .intro-in__mobile .intro-in__text:nth-child(1) {
    -webkit-transition-delay: 0;
            transition-delay: 0;
  }
  .intro-in__mobile .intro-in__text:nth-child(2) {
    -webkit-transition-delay: 0;
            transition-delay: 0;
  }
  .intro-in__mobile .intro-in__button {
    -webkit-transition-delay: 0;
            transition-delay: 0;
  }
  .intro-in .animated-title {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .intro-in .animated-title > div {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
