.main-menu {
  margin-bottom: 20px;
}
.main-menu > ul > li {
  position: relative;
}
.main-menu > ul > li:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(99.65deg, #b8d217 -24.21%, #09ba8f 91.89%);
  opacity: 0.2;
}
.main-menu > ul > li:last-child:after {
  display: none;
}
.main-menu > ul > li > a {
  display: block;
  padding: 10px 20px 10px 51px;
  position: relative;
  font-size: 17px;
  line-height: 1.2;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
.main-menu > ul > li ul {
  padding: 1px 0 1px 51px;
}
.main-menu > ul > li ul li {
  margin-bottom: 15px;
  padding-right: 25px;
}
.main-menu > ul > li ul li:first-child {
  margin-top: 10px;
}
.main-menu > ul > li ul li:last-child {
  margin-bottom: 23px;
}
.main-menu > ul > li ul li a {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 0.99;
  text-decoration: none;
  color: #000;
}
.main-menu > ul li ul {
  display: none;
}
.main-menu .m-tgl {
  position: absolute;
  left: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 22px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #cecece;
  border-radius: 50px;
}
.main-menu .m-tgl .svg-icon {
  width: 6px;
  height: 11px;
  fill: #15ab87;
}
.main-menu .has-child .m-tgl {
  padding-left: 0;
  padding-top: 1px;
}
.main-menu .has-child .m-tgl .svg-icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.main-menu .is-opened .m-tgl {
  padding-top: 0;
  padding-bottom: 1px;
  border-color: transparent;
  background: linear-gradient(99.65deg, #b8d217 -24.21%, #09ba8f 91.89%);
}
.main-menu .is-opened .m-tgl .svg-icon {
  fill: #fff;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.c-bg {
  position: relative;
}
.c-bg:before {
  content: '';
  position: absolute;
  left: 9px;
  top: 280px;
  height: 299px;
  background: #1892c7;
  -webkit-filter: blur(614px);
          filter: blur(614px);
  left: 15px;
  right: 0;
  z-index: -1;
}
.filter {
  padding: 29px 21px 32px;
  background: #fff;
  margin-bottom: 35px;
}
.filter__title {
  font-size: 18px;
  margin-bottom: 16px;
}
.filter__item {
  margin-bottom: 18px;
}
.filter__item select {
  width: 100%;
  display: block;
}
.filter__item .select2-container {
  display: block;
  width: 100% !important;
}
.filter .brands {
  margin-bottom: 0;
  margin-top: 20px;
  margin-bottom: -5px;
  display: none;
}
.filter.type-3 {
  padding-top: 15px;
  padding-bottom: 8px;
  margin-bottom: 40px;
}
.filter.type-3 .filter__title {
  font-size: 13px;
  margin-bottom: 14px;
}
.filter.type-3 .filter__item {
  margin-bottom: 11px;
}
.brands {
  margin-bottom: 96px;
}
.brands__title {
  font-size: 20px;
  margin-bottom: 18px;
  max-width: 250px;
}
.brands__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.brands__items-title {
  font-size: 15px;
  line-height: 0.9;
  margin-bottom: 25px;
}
.brands__item {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.brands__item a {
  display: block;
}
.brands__item img {
  display: block;
  max-height: 32px;
  max-width: 48px;
}
.brands__item:nth-child(8) ~ .brands__item {
  display: none;
}
.brands__item--plus {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.brands__item--plus .svg-icon {
  display: block;
  fill: #09ba8f;
}
.brands .site-button {
  width: 100%;
  font-size: 19px;
}
.services {
  position: relative;
  overflow: hidden;
  padding-bottom: 168px;
  margin-bottom: -95px;
  -webkit-overflow-scrolling: touch;
}
.services__image {
  position: absolute;
  right: -165px;
  bottom: 0;
  pointer-events: none;
  width: 397px;
  height: 354px;
}
.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
}
.services__item {
  text-decoration: none;
  overflow: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.services__item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url("../img/i-overlay.png") center center no-repeat;
  background-size: cover;
  pointer-events: none;
}
.services__item:hover .services__item-image img {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}
.services__item:hover .site-button:after {
  opacity: 1;
}
.services__item:hover .site-button .svg-icon {
  fill: #fff;
}
.services__title {
  max-width: 250px;
  margin-bottom: 13px;
}
.services__col {
  width: 50%;
  padding-left: 11px;
  margin-bottom: 12px;
  min-height: 112px;
}
.services__col:first-child {
  width: 100%;
  margin-bottom: 18px;
  min-height: 0;
}
.services__item {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 32px 15px;
}
.services__item-image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.services__item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s ease transform;
  transition: 0.3s ease transform;
}
.services__item-image a {
  display: block;
}
.services__item-title {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  line-height: 0.9;
  z-index: 2;
  position: relative;
}
.services__item-link {
  position: absolute;
  left: 12px;
  bottom: 7px;
  z-index: 2;
}
.services__item-link .site-button {
  width: 22px;
  height: 18px;
  background: #fff;
}
.services__item-link .site-button .svg-icon {
  fill: #09bb90;
}
.services__callback {
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 14px 14px 16px 13px;
  background: rgba(18,139,207,0.05);
  color: #000;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.services__callback-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: auto;
}
.services__callback-text {
  font-size: 13px;
  margin-top: 15px;
}
.services__callback-text--large {
  display: none;
}
.services__callback-text a {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  margin-top: 3px;
}
.services__callback .site-button {
  display: none;
}
.services.type-2 {
  margin: 0 0 78px 0;
  padding: 0;
}
.services.type-2:after {
  display: none;
}
.services.type-2 .services__item {
  padding: 0;
  margin-bottom: 47px;
}
.services.type-2 .services__item:before {
  display: none;
}
.services.type-2 .services__item:last-child {
  margin-bottom: 0;
}
.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  height: auto;
}
.service:hover .site-button {
  border-color: transparent;
}
.service:hover .site-button:after {
  opacity: 1;
}
.service__image {
  margin-bottom: 13px;
  overflow: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.service__image img {
  display: block;
  width: 100%;
}
.service__container {
  padding-left: 15px;
  padding-right: 45px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.service__head,
.service__title {
  display: block;
}
.service__head {
  font-size: 12px;
  color: #5cbe56;
  margin-bottom: 12px;
}
.service__title {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  line-height: 0.9;
  margin-bottom: 17px;
}
.service .site-button {
  margin-top: auto;
  width: 41px;
  height: 30px;
  background: none;
  margin-top: auto;
  border: 1px solid #c1c1c1;
  -webkit-transition: 0.3s ease border-color;
  transition: 0.3s ease border-color;
}
.service .site-button.arrow {
  border-radius: 11px;
}
.service__text {
  font-size: 14px;
  margin-bottom: 18px;
  color: #fff;
  display: block;
}
.service.type-2 .service__container {
  padding-left: 0;
  padding-right: 20px;
}
.service.type-2 .service__title {
  color: #000;
  font-weight: 400;
}
.service.type-2 .service__text {
  color: #545454;
}
.service.type-2 .site-button {
  width: 47px;
  height: 32px;
  border-color: #55d35c;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.service.type-2 .site-button .svg-icon {
  fill: #000;
  width: 16px;
  height: 10px;
}
.service.type-2:hover .site-button {
  border-color: transparent;
}
.service.type-2:hover .site-button .svg-icon {
  fill: #fff;
}
.service.type-3 {
  width: 100%;
}
.service.type-3 .service__title {
  margin-bottom: 12px;
  line-height: 1.08;
}
.service.type-3 .service__text {
  margin-bottom: 11px;
}
body .swiper-slide {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
body .swiper-button {
  width: 61px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  border-radius: 100px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 16px rgba(0,0,0,0.07);
          box-shadow: 0px 4px 16px rgba(0,0,0,0.07);
  border-radius: 100px;
}
body .swiper-button .svg-icon {
  width: 23px;
  height: 13px;
  fill: #46c366;
}
body .swiper-button:after {
  display: none;
}
body .swiper-button:hover {
  background: linear-gradient(99.65deg, #dbff00 -24.21%, #09ba8f 91.89%);
}
body .swiper-button:hover .svg-icon {
  fill: #fff;
}
body .swiper-scrollbar {
  background: none;
}
body .swiper-button-prev {
  left: 29px;
}
body .swiper-button-next {
  right: 40px;
}
body .swiper-horizontal>.swiper-scrollbar {
  height: 6px;
  left: 0;
  position: static;
  margin-top: 30px;
}
body .swiper-scrollbar-drag {
  border-radius: 0;
  background: #6e8c7d;
}
body .swiper-scrollbar.color2 .swiper-scrollbar-drag {
  background: #d5d5d5;
}
body .swiper-parent .swiper {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 33px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
body .swiper-scrollbar {
  height: 6px;
  margin-top: 30px;
}
body .swiper-scrollbar .swiper-scrollbar-drag {
  background: #6e8c7d;
}
body .swiper-button-wrapper {
  position: relative;
  width: 166px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
}
body .swiper-button-wrapper .swiper-button {
  position: static;
  margin: 0;
  width: 76px;
  height: 51px;
  background: none;
  border: 2px solid #43cd68;
}
body .swiper-button-wrapper .swiper-button:hover {
  border-color: transparent;
  background: linear-gradient(99.65deg, #b8d217 -24.21%, #09ba8f 91.89%);
}
body .swiper-button-wrapper .swiper-button:hover .svg-icon {
  fill: #fff;
}
body .swiper-pagination {
  position: static;
  margin-top: 42px;
  font-size: 0;
  display: none;
}
body .swiper-pagination-bullet {
  width: 10px;
  height: 8px;
  margin-left: 4px !important;
  margin-right: 4px !important;
  border-radius: 10px;
  background: rgba(0,0,0,0.9);
}
body .swiper-pagination-bullet-active {
  width: 23px;
  background: #000;
}
body .white .swiper-pagination-bullet {
  background: rgba(255,255,255,0.5);
}
body .white .swiper-pagination-bullet-active {
  background: #fff;
}
.tags {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
}
.tags__title {
  margin-bottom: 22px;
  max-width: 150px;
}
.tags__items {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  white-space: nowrap;
  overflow-y: auto;
  scrollbar-height: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}
.tags__items::-webkit-scrollbar {
  display: none;
}
.tags__item {
  display: inline-block;
  padding-right: 12px;
}
.tags__item:last-child {
  padding-right: 0;
}
.tags__item a {
  border: 1px solid #09ba8f;
  border-radius: 7px;
  letter-spacing: -0.02em;
  display: block;
  padding: 12px 20px;
  font-size: 12px;
  color: #09ba8f;
  font-size: 12px;
  text-decoration: none;
  font-weight: 400;
  -webkit-transition: 0.3s background, 0.3s color;
  transition: 0.3s background, 0.3s color;
}
.tags__item a:hover {
  background: #09ba8f;
  color: #fff;
}
.list-block {
  position: relative;
  z-index: 1;
  background: #192329;
}
.list-block__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 bottom;
     object-position: 0 bottom;
}
.list-block__in {
  padding-top: 27px;
  padding-bottom: 24px;
  position: relative;
}
.list-block__head {
  margin-bottom: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.list-block__head-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list-block__head-row img {
  margin-top: -3px;
  margin-left: 15px;
  max-width: 31px;
}
.list-block__title {
  color: #fff;
  margin-bottom: 0;
}
.list-block .link {
  display: none;
}
.list-block.type-2 {
  background: none;
}
.list-block.type-2 .list-block__in {
  padding-bottom: 27px;
}
.list-block.type-2 .list-block__title {
  color: #000;
  max-width: none;
}
.list-block.type-2 .list-block__overtitle {
  display: block;
  font-size: 18px;
  font-family: "Aeroport", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 300;
  margin-top: 12px;
}
.list-block.type-3 {
  background: #fff;
  padding: 26px 20px 7px;
  margin-bottom: 20px;
}
.list-block.type-3 .list-block__title {
  color: #000;
  font-size: 20px;
  margin-bottom: 30px;
}
.list-block.type-4 {
  background: none;
  padding: 0;
  margin-bottom: 43px;
}
.list-block.type-4 .list-block__title {
  color: #000;
  font-family: "Aeroport", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 26px;
  margin-bottom: 17px;
  font-weight: 400;
}
.list-block.type-5 {
  margin-bottom: 10px;
}
.list-block.type-5 .list-block__in {
  padding-top: 20px;
}
.list-block2 {
  background-color: #354253;
  background-repeat: no-repeat;
  background-position: right 0;
  background-size: cover;
  position: relative;
}
.list-block2__image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.list-block2__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.list-block2__in {
  padding-top: 40px;
  padding-bottom: 15px;
  color: #fff;
  position: relative;
}
.list-block2__title {
  color: #fff;
  margin-bottom: 28px;
}
.list-block2__item {
  margin-bottom: 15px;
}
.list-block2__item-in {
  padding: 21px 33px 24px 23px;
  background: rgba(65,80,102,0.4);
  -webkit-backdrop-filter: blur(35px);
          backdrop-filter: blur(35px);
  border-radius: 8px;
  min-height: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: -0.02em;
}
.list-block2__item-container {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.list-block2__item-title {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 14px;
}
.list-block2__item-text {
  color: rgba(233,233,233,0.6);
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 12px;
}
.list-block2__item-icon {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 89px;
  height: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(139,147,159,0.6);
  border-radius: 500px;
  margin-left: 15px;
}
.list-block2__item-link {
  margin-top: auto;
}
.list-block2__item .link {
  margin-left: 0;
  font-size: 11px;
  color: #7ee141;
}
.list-block2__item .link .svg-icon {
  margin-left: 10px;
  width: 17px;
  height: 15px;
}
.list-block2.type-2 .list-block2__in {
  padding-bottom: 52px;
}
.list-block2.type-2 .list-block2__item-in {
  background: rgba(96,105,114,0.4);
  display: block;
  border-radius: 0;
}
.list-block2.type-2 .list-block2__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  margin-bottom: 16px;
}
.list-block2.type-2 .list-block2__item-icon {
  margin-left: auto;
}
.list-block2.type-2 .list-block2__item-title {
  margin-bottom: 0;
  margin-right: 20px;
}
.list-block2.type-2 .list-block2__item-text {
  margin-top: 0;
  margin-bottom: 0;
}
.list-block2.type-2 .swiper-scrollbar {
  margin-top: 5px;
}
.address {
  margin-bottom: 21px;
}
.address__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 17px;
}
.address__head .h2 {
  margin-bottom: 0;
}
.address .link {
  display: none;
}
.address .site-button {
  width: 100%;
  min-height: 46px;
  font-size: 16px;
  padding-top: 9px;
}
.address .site-button .svg-icon {
  margin-top: 3px;
  width: 23px;
  height: 16px;
  margin-left: 30px;
}
.address__map {
  background: #f8f8f8;
  overflow: hidden;
  height: 289px;
  margin-bottom: 23px;
  border-radius: 8px;
  -webkit-overflow-scrolling: touch;
}
.address__map.fullscreen .address__map-content {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 10;
}
.address__map.fullscreen .address__map-buttons {
  top: auto;
  left: 40px;
  bottom: 40px;
}
.address__map.fullscreen .address__map-btn--fullscreen {
  position: fixed;
  right: 0;
  top: 0;
  margin-top: 0;
  width: 70px;
  height: 70px;
}
.address__map.fullscreen .address__map-btn--fullscreen .svg-icon {
  display: none;
}
.address__map.fullscreen .address__map-btn--fullscreen .svg-icon--close {
  display: block;
}
.address__map {
  position: relative;
}
.address__map-in,
.address__map-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.address__map-buttons {
  position: absolute;
  left: 21px;
  top: 21px;
  width: 48px;
  display: none;
  z-index: 1;
}
.address__map-btn {
  width: 48px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  cursor: pointer;
}
.address__map-btn:hover {
  background: linear-gradient(99.65deg, #dbff00 -24.21%, #09ba8f 91.89%);
}
.address__map-btn:hover .svg-icon {
  fill: #fff;
}
.address__map-btn .svg-icon {
  fill: #000;
  width: 20px;
  height: 20px;
}
.address__map-btn.btn-plus {
  border-radius: 3px 3px 0 0;
}
.address__map-btn.btn-minus {
  border-radius: 0 0 3px 3px;
}
.address__map-btn--fullscreen {
  margin-top: 28px;
  border-radius: 3px;
}
.address__map-btn--fullscreen .svg-icon--close {
  display: none;
}
.address__items {
  padding-left: 26px;
}
.address__item {
  margin-bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  color: #000;
  font-weight: 400;
}
.address__item .svg-icon {
  fill: #71dd49;
  width: 18px;
  height: 21px;
  margin-right: 11px;
  margin-top: -2px;
}
.address__centered {
  height: 100%;
}
.address__centered-in {
  position: relative;
  height: 100%;
}
.address.type-2 .address__map {
  margin-left: 20px;
  margin-right: 20px;
}
.address.type-2 .address__map-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 18px;
  color: #09ba8f;
  text-decoration: none;
  margin-left: 42px;
}
.link:hover .svg-icon {
  -webkit-transform: translateX(7px);
          transform: translateX(7px);
}
.link .svg-icon {
  margin-left: 40px;
  width: 26px;
  height: 15px;
  -webkit-transition: 0.3s ease transform;
  transition: 0.3s ease transform;
}
.messengers {
  background: #fff;
  padding: 23px 18px;
  margin-bottom: 20px;
  margin-top: -23px;
  position: relative;
  z-index: 1;
}
.messengers:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: -1;
}
.messengers:before {
  content: '';
  left: -14%;
  bottom: -40%;
  position: absolute;
  width: 100%;
  max-width: 50%;
  height: 400px;
  background: #1892c7;
  opacity: 0.08;
  -webkit-filter: blur(150.698px);
          filter: blur(150.698px);
  border-radius: 100%;
  pointer-events: none;
  z-index: -1;
}
.messengers__title {
  font-size: 21px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 17px;
  color: #000;
  max-width: 287px;
}
.messengers__items {
  margin-bottom: 20px;
}
.messengers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 20px 14px 20px;
  background: #fff;
  -webkit-box-shadow: 6.28809px 8.17451px 8.80332px rgba(169,189,200,0.11);
          box-shadow: 6.28809px 8.17451px 8.80332px rgba(169,189,200,0.11);
  margin-bottom: 15px;
  min-height: 58px;
  text-decoration: none;
  -webkit-transition: 0.3s ease box-shadow;
  transition: 0.3s ease box-shadow;
}
.messengers__item:hover {
  -webkit-box-shadow: 6.28809px 8.17451px 8.80332px rgba(169,189,200,0.25);
          box-shadow: 6.28809px 8.17451px 8.80332px rgba(169,189,200,0.25);
}
.messengers__item:hover .svg-icon {
  -webkit-transform: translateX(7px);
          transform: translateX(7px);
}
.messengers__item-icon {
  width: 30px;
  margin-right: 18px;
}
.messengers__item-icon img {
  width: 100%;
  display: block;
}
.messengers__item-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #000;
  font-weight: 400;
}
.messengers__item-name .svg-icon {
  width: 17px;
  height: 9px;
  margin-top: 2.5px;
  -webkit-transition: 0.3s ease transform;
  transition: 0.3s ease transform;
}
.messengers__item-name .t-nm {
  min-width: 90px;
  margin-right: 9px;
}
.messengers__item.whatsapp .svg-icon {
  fill: #09ba8f;
}
.messengers__item.telegram .svg-icon {
  fill: #128bcf;
}
.messengers__text {
  font-size: 13px;
  color: #929292;
}
.messengers.type-2 {
  margin-top: 0;
}
.b-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: rgba(0,0,0,0.5);
  text-align: center;
  font-size: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s ease opacity, 0.5s ease visibility;
  transition: 0.5s ease opacity, 0.5s ease visibility;
  overflow-y: auto;
  padding: 20px;
  z-index: 100;
  -webkit-overflow-scrolling: touch;
}
.b-modal.opened {
  opacity: 1;
  visibility: visible;
}
.b-modal.opened .b-modal__container {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.b-modal:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.b-modal__container {
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.2);
          box-shadow: 0 0 30px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 500px;
  text-align: left;
  position: relative;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0;
  -webkit-transition: 0.2s ease transform, 0.2s ease opacity;
  transition: 0.2s ease transform, 0.2s ease opacity;
  font-size: 15px;
  padding: 40px 30px 20px;
}
.b-modal__close {
  right: 0;
  top: 0;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2c2c2c;
  border-radius: 0 0 0 10px;
  cursor: pointer;
}
.b-modal__close.site-button {
  position: absolute;
  padding: 0;
}
.b-modal__close.site-button .svg-icon {
  width: 20px;
  height: 20px;
  pointer-events: none;
  fill: #fff;
}
.b-modal .messengers {
  padding: 0;
  margin: 0;
}
.b-modal .messengers__items {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 0;
}
.b-modal .messengers__item {
  margin-left: 0;
  width: 100%;
  margin-bottom: 25px;
}
.b-modal .messengers__item:last-child {
  margin-bottom: 0;
}
.b-modal .messengers__item-name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}
.b-modal .messengers__item-name .svg-icon {
  margin-left: auto;
  width: 30px;
  height: 19px;
}
.block-title {
  font-family: 'Organetto Bold SemiExt';
  line-height: 1;
  font-size: 28px;
  color: #000;
  margin-bottom: 20px;
}
.block-text {
  margin-top: 25px;
  margin-bottom: 33px;
  font-size: 20px;
}
.locations {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(16,21,36,0.4);
  z-index: 12;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease opacity, 0.3s ease visibility;
  transition: 0.3s ease opacity, 0.3s ease visibility;
  display: none;
}
.locations.is-opened {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  opacity: 1;
  visibility: visible;
}
.location {
  width: 100%;
  background: #fff;
  padding: 27px 19px 26px;
  z-index: 10;
  -webkit-box-shadow: 0 0 25px rgba(0,0,0,0.2);
          box-shadow: 0 0 25px rgba(0,0,0,0.2);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease opacity, 0.3s ease visibility;
  transition: 0.3s ease opacity, 0.3s ease visibility;
  display: none;
  position: relative;
}
.location.is-opened {
  opacity: 1;
  visibility: visible;
  display: block;
}
.location__close {
  position: absolute;
  right: 18px;
  top: 18px;
  cursor: pointer;
}
.location__close:before {
  content: '';
  position: absolute;
  left: -8px;
  top: -8px;
  right: -8px;
  bottom: -8px;
}
.location__close .svg-icon {
  pointer-events: none;
  display: block;
  width: 11px;
  height: 11px;
  fill: #000;
}
.location__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  font-weight: 400;
  padding-left: 15px;
  margin-bottom: 32px;
}
.location__icon {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 30px;
  height: 35px;
  margin-right: 20px;
}
.location__icon .svg-icon {
  width: 100%;
  height: 100%;
  display: block;
  fill: #71dd49;
}
.location__text {
  padding-top: 1px;
  max-width: 213px;
  font-size: 22px;
}
.location__phone {
  margin-top: 22px;
  font-size: 17px;
}
.location__phone a {
  text-decoration: none;
  color: #000;
}
.location__button {
  display: block;
  text-decoration: none;
  border: 1px solid #09ba8f;
  font-size: 16px;
  padding: 11px 10px 11px 16px;
  color: #09ba8f;
  margin-bottom: 18px;
  font-weight: 400;
  -webkit-transition: 0.3s ease color, 0.3s ease background;
  transition: 0.3s ease color, 0.3s ease background;
}
.location__button:last-child {
  margin-bottom: 0;
}
.location__button:hover {
  background: #09ba8f;
  color: #fff;
}
.page-scroller {
  pointer-events: none;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  z-index: 1050;
  right: 20px;
  bottom: 20px;
  overflow: hidden;
  width: 60px;
  height: 60px;
  background-color: rgba(18,139,207,0.08);
  border-radius: 8px;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: opacity 0.16s linear;
  transition: opacity 0.16s linear;
  -webkit-overflow-scrolling: touch;
}
.page-scroller:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(-99.65deg, #dbff03 -74.21%, #09c094 91.89%);
  z-index: -1;
  -webkit-transition: 0.3s ease opacity;
  transition: 0.3s ease opacity;
  opacity: 0;
}
.page-scroller__icon {
  width: 24px;
  height: 24px;
  fill: rgba(0,0,0,0.7);
  -webkit-transition: ease 0.3s fill, -webkit-transform 0.3s ease;
  transition: ease 0.3s fill, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, ease 0.3s fill;
  transition: transform 0.3s ease, ease 0.3s fill, -webkit-transform 0.3s ease;
}
.page-scroller:hover .page-scroller__icon {
  fill: #fff;
}
.page-scroller:hover:before {
  opacity: 1;
}
.page-scroller--in-memory .page-scroller__icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.page-scroller--in-memory,
.page-scroller--visible {
  opacity: 1;
  pointer-events: auto;
}
.footer {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  background: #010101;
  color: #fff;
  position: relative;
}
.footer__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__content {
  position: relative;
  z-index: 1;
  padding-top: 31px;
  padding-bottom: 38px;
}
.footer__title {
  font-family: 'Organetto Bold SemiExt';
  margin-bottom: 30px;
  font-size: 21px;
  line-height: 0.9;
  letter-spacing: -0.01em;
  color: rgba(255,255,255,0.59);
}
.footer__menu {
  margin-bottom: 35px;
}
.footer__menu > ul > li {
  margin-bottom: 20px;
}
.footer__menu > ul > li.has-child > a .m-tgl .svg-icon {
  margin-top: 2px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.footer__menu > ul > li.is-opened > a .m-tgl {
  background: linear-gradient(99.65deg, #b8d217 -24.21%, #09ba8f 91.89%);
  border-color: transparent;
}
.footer__menu > ul > li.is-opened > a .m-tgl .svg-icon {
  margin-top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.footer__menu > ul > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  font-weight: 500;
  position: relative;
  display: inline-block;
  padding-left: 36px;
  letter-spacing: -0.01em;
}
.footer__menu > ul > li > a:hover {
  color: #51c45e;
}
.footer__menu > ul > li > a .m-tgl {
  top: -3px;
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  border: 1px solid rgba(206,206,206,0.5);
  border-radius: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__menu > ul > li > a .m-tgl .svg-icon {
  width: 6px;
  height: 11px;
  fill: #fff;
}
.footer__menu > ul > li > ul {
  display: none;
  padding-left: 36px;
  padding-bottom: 1px;
}
.footer__menu > ul > li > ul li {
  margin-bottom: 8px;
}
.footer__menu > ul > li > ul li:first-child {
  margin-top: 20px;
}
.footer__menu > ul > li > ul li:last-child {
  margin-bottom: 6px;
}
.footer__menu > ul > li > ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
}
.footer__menu > ul > li > ul li a:hover {
  color: #fff;
}
.footer__contacts {
  padding-top: 26px;
  border-top: 1px solid #fff;
}
.footer__phone {
  margin-bottom: 20px;
  font-size: 21px;
}
.footer__phone a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
.footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 22px;
  max-width: 518px;
}
.footer__address-item {
  width: 50%;
  max-width: 155px;
  font-size: 15px;
  line-height: 21px;
}
.footer .social-links {
  margin-bottom: 18px;
}
.footer .social-links__item {
  margin-right: 7px;
}
.footer__copyright {
  color: #a4a4a4;
  font-size: 14px;
}
.footer__copyright--desctop {
  display: none;
}
@media (min-width: 375px) {
  body .swiper-parent .swiper {
    padding-right: 94px;
  }
  .address .site-button {
    font-size: 18px;
  }
}
@media (min-width: 575px) {
  .tags__title {
    max-width: none;
  }
  .messengers__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px;
  }
  .messengers__item {
    width: 50%;
    margin-left: 30px;
  }
  .b-modal {
    padding: 67px;
  }
  .locations {
    display: block;
    opacity: 1;
    visibility: visible;
    position: static;
  }
  .location {
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 7px;
    width: 337px;
  }
}
@media (min-width: 768px) {
  .filter .brands {
    display: block;
  }
  .brands__item img {
    max-width: 80px;
    max-height: 52px;
  }
  .services__col {
    min-height: 260px;
  }
  .services__item {
    padding: 90px 34px;
  }
  .services__item-title {
    font-size: 27px;
  }
  .services__item-link {
    left: 34px;
    bottom: 35px;
  }
  .services__item-link .site-button {
    border-radius: 13px;
    -webkit-box-shadow: 0px 2.8125px 11.25px rgba(0,0,0,0.07);
            box-shadow: 0px 2.8125px 11.25px rgba(0,0,0,0.07);
    width: 45px;
    height: 36px;
  }
  .services__item-link .site-button .svg-icon {
    width: 18px;
    height: 10px;
  }
  .services__callback {
    padding: 38px 34px 35px;
  }
  .services__callback-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    max-width: 268px;
  }
  .services__callback-text {
    display: none;
    font-weight: 400;
    font-size: 19px;
    font-weight: 300;
    max-width: 221px;
    color: #7d7d7d;
  }
  .services__callback-text a {
    color: #7d7d7d;
    font-size: 19px;
    font-weight: 300;
    text-decoration: none;
  }
  .services__callback-text--large {
    display: block;
  }
  .services__callback .site-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
  }
  .services__callback .site-button .svg-icon {
    width: 36px;
    height: 21px;
    margin-left: 20px;
    margin-top: 1px;
  }
  .services.type-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: 18px;
  }
  .services.type-2 .services__item {
    width: 50%;
    padding-left: 20px;
  }
  .tags__title {
    margin-bottom: 40px;
  }
  .tags__item a {
    font-size: 17px;
  }
  .list-block .link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .list-block.type-4 .list-block__title {
    font-size: 37px;
    margin-bottom: 30px;
  }
  .cols-md-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -20px;
  }
  .cols-md-2 > * {
    width: 50%;
    padding-left: 20px;
  }
  .address.type-2 {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  .address.type-2 .address__map {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    border-radius: 0;
    position: static;
  }
  .messengers {
    margin-bottom: 30px;
  }
  .messengers__title {
    font-size: 38px;
    max-width: 1065px;
    margin-bottom: 30px;
  }
  .messengers__text {
    font-size: 19px;
  }
  .messengers.type-2 .messengers__title {
    font-size: 35px;
  }
  .b-modal .messengers__item-name {
    font-size: 30px;
  }
  .footer__content {
    padding-top: 40px;
  }
  .footer__menu > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__menu > ul > li {
    width: 50%;
    padding-right: 20px;
  }
  .footer__menu > ul > li > a {
    padding-left: 0;
  }
  .footer__menu > ul > li > a .m-tgl {
    display: none;
  }
  .footer__menu > ul > li > ul {
    padding-left: 20px;
  }
}
@media (min-width: 992px) {
  .c-bg:before {
    top: 440px;
    width: 100%;
    left: 50%;
    right: auto;
    margin-left: -900px;
    max-width: 972px;
  }
  .filter {
    margin-bottom: 35px;
  }
  .filter__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -39px;
  }
  .filter__item {
    width: 33.33%;
    padding-left: 39px;
  }
  .filter .brands {
    margin-top: 2px;
  }
  .filter .brands__items-title {
    padding-left: 0;
    margin-bottom: 15px;
  }
  .filter .brands__item {
    border-left: 1px solid #b6b6b6;
    min-height: 71px;
  }
  .filter .brands__item:first-child {
    border: 0;
  }
  .filter .brands__items {
    margin-bottom: -10px;
  }
  .filter .brands.no-borders .brands__item {
    border: 0;
  }
  .filter {
    padding: 44px 30px 34px 30px;
  }
  .filter__title {
    margin-bottom: 41px;
  }
  .filter.type-2 {
    margin-bottom: 43px;
    margin-top: 44px;
  }
  .filter.type-2 .filter__title {
    font-size: 32px;
  }
  .filter.type-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 29px;
    padding-bottom: 29px;
    padding-left: 50px;
    padding-right: 62px;
    margin-bottom: 37px;
  }
  .filter.type-3 .filter__title {
    font-size: 18px;
    margin-bottom: 0;
    max-width: 155px;
  }
  .filter.type-3 .filter__items {
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
    margin-left: -37px;
  }
  .filter.type-3 .filter__item {
    width: 50%;
    padding-left: 37px;
    margin-bottom: 0;
  }
  .brands {
    margin-bottom: 92px;
  }
  .brands__title {
    max-width: 586px;
    margin-bottom: 17px;
  }
  .brands__items-title {
    padding-left: 24px;
    font-size: 15px;
    margin-bottom: 30px;
  }
  .brands__items {
    margin-bottom: 8px;
    margin-left: -10px;
  }
  .brands__item {
    width: 10%;
    max-width: 138px;
  }
  .brands__item:nth-child(8) ~ .brands__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .services {
    margin-top: 70px;
    padding-bottom: 403px;
    margin-bottom: -350px;
  }
  .services__image {
    width: 1125px;
    height: 1004px;
    right: -537px;
    bottom: 0;
  }
  .services__title {
    margin-bottom: 25px;
  }
  .services__items {
    margin-left: -30px;
  }
  .services__col {
    position: relative;
    z-index: 1;
    min-height: 326px;
    padding-left: 30px;
    margin-bottom: 30px;
  }
  .services__col:first-child {
    margin-bottom: 40px;
  }
  .services__item-title {
    font-size: 37px;
  }
  .services__callback .site-button {
    margin-top: 35px;
    font-size: 21px;
  }
  .services__callback .site-button .svg-icon {
    margin-left: 34px;
  }
  .services.type-2 {
    margin-left: -30px;
  }
  .services.type-2 .services__item {
    padding-left: 30px;
  }
  .service__image {
    margin-bottom: 19px;
  }
  .service__head {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .service__title {
    margin-bottom: 23px;
    font-size: 24px;
    max-width: 218px;
  }
  .service__text {
    font-size: 17px;
    margin-bottom: 23px;
  }
  .service .site-button {
    width: 42px;
    height: 29px;
  }
  .service .site-button .svg-icon {
    width: 15px;
    height: 9px;
  }
  .service.type-2 .service__title {
    max-width: none;
    font-size: 21px;
    padding-right: 42px;
  }
  .service.type-2 .site-button.arrow {
    width: 60px;
    height: 40px;
    border-radius: 13px;
  }
  .service.type-2 .site-button.arrow .svg-icon {
    width: 21px;
    height: 12px;
  }
  body .swiper-parent .swiper {
    margin-left: -30px;
    padding-left: 30px;
    margin-right: -30px;
    padding-right: 80px;
  }
  body .swiper-button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .swiper-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .swiper-scrollbar {
    display: none;
  }
  body .swiper-pagination {
    display: block;
  }
  body .swiper-parent.type-2 .swiper-scrollbar {
    display: block;
    margin-top: -1px;
  }
  body .desctop-hide {
    display: none;
  }
  body .desctop-visible {
    display: block;
  }
  .tags {
    margin-bottom: 71px;
  }
  .tags__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -22px;
    margin-right: 0;
    padding-left: 0;
    padding-right: 415px;
    white-space: normal;
  }
  .tags__item {
    padding-right: 0;
    padding-left: 22px;
    margin-bottom: 22px;
  }
  .tags.type-2 .tags__items {
    padding-right: 100px;
    max-width: 1290px;
  }
  .list-block__in {
    padding-top: 75px;
    padding-bottom: 50px;
  }
  .list-block__head {
    margin-bottom: 65px;
  }
  .list-block__head-row img {
    max-width: 39px;
    margin-top: -5px;
  }
  .list-block__title {
    max-width: 561px;
    margin-bottom: 0;
  }
  .list-block.type-2 .list-block__in {
    padding-bottom: 50px;
    padding-top: 40px;
  }
  .list-block.type-3 .list-block__title {
    font-size: 37px;
    margin-bottom: 42px;
  }
  .list-block.type-3 {
    margin-bottom: 90px;
    padding: 30px 30px 26px;
  }
  .list-block.type-4 .list-block__title {
    font-size: 59px;
    margin-bottom: 44px;
    max-width: none;
  }
  .list-block.type-4 {
    margin-bottom: 35px;
  }
  .list-block2__in {
    padding-top: 96px;
    padding-bottom: 70px;
  }
  .list-block2__title {
    margin-bottom: 54px;
  }
  .list-block2__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -15px;
  }
  .list-block2__item {
    width: 33.33%;
    padding-left: 15px;
  }
  .list-block2__item-in {
    height: 100%;
  }
  .list-block2__item-title {
    font-size: 25px;
  }
  .list-block2__item-text {
    font-size: 17px;
    color: #e9e9e9;
    font-weight: 300;
  }
  .list-block2__item-icon img {
    width: 66px;
    max-height: 58px;
  }
  .list-block2.type-2 .swiper-parent .swiper {
    padding: 0;
    margin: 0;
  }
  .list-block2.type-2 .swiper-parent .swiper-wrapper {
    width: auto;
  }
  .address {
    margin-bottom: 49px;
  }
  .address__head {
    margin-bottom: 50px;
  }
  .address__map {
    height: 352px;
    margin-bottom: 49px;
  }
  .address__map-buttons {
    display: block;
  }
  .address__items {
    display: none;
  }
  .address .site-button {
    font-size: 23px;
    padding-top: 8px;
    padding-bottom: 12px;
    min-height: 56px;
  }
  .address .site-button .svg-icon {
    margin-top: 5px;
    width: 27px;
    height: 17px;
  }
  .address .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .address.type-2 {
    padding-bottom: 30px;
  }
  .address.type-2 .address__map-buttons {
    left: 0;
    top: 82px;
  }
  .address.type-2 .address__map.fullscreen .address__map-buttons {
    top: auto;
    bottom: 82px;
  }
  .messengers {
    margin-bottom: 78px;
    padding: 35px 30px;
  }
  .messengers__item {
    padding: 22px 35px;
    max-width: 627px;
  }
  .messengers__item-icon {
    width: 48px;
  }
  .messengers__item-name {
    font-size: 30px;
  }
  .messengers__item-name .svg-icon {
    width: 25px;
    height: 14px;
    margin-left: 30px;
    margin-top: 6px;
  }
  .footer__content {
    padding-top: 75px;
    padding-bottom: 55px;
  }
  .footer__title {
    font-size: 28px;
    margin-bottom: 48px;
  }
  .footer__menu > ul > li {
    margin-bottom: 33px;
  }
  .footer__menu > ul > li > ul {
    padding-top: 17px;
    display: block;
  }
  .footer__menu > ul > li > ul li {
    margin-bottom: 1px;
    line-height: 0.9;
  }
  .footer__menu > ul > li > ul li:first-child {
    margin-top: 0;
  }
  .footer__menu > ul > li > ul li:last-child {
    margin-bottom: 0;
  }
  .footer__menu > ul > li > ul li a {
    display: inline;
    color: #a4a4a4;
  }
  .footer__menu.simple > ul {
    display: block;
  }
  .footer__menu.simple > ul > li {
    width: auto;
    margin-bottom: 6px;
  }
  .footer__contacts {
    padding-top: 50px;
  }
  .footer__address-item {
    color: #a4a4a4;
  }
}
@media (min-width: 1024px) {
  .service:hover .service__image img {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
  .service__image img {
    -webkit-transition: 0.3s ease transform;
    transition: 0.3s ease transform;
  }
}
@media (min-width: 1200px) {
  .filter.type-3 .filter__title {
    min-width: 200px;
    margin-right: 33px;
    padding-top: 3px;
  }
  .services {
    margin-top: 0;
  }
  .services__title {
    max-width: none;
    margin-bottom: 45px;
  }
  .services__text {
    max-width: 278px;
  }
  .services__col {
    width: 33.33%;
  }
  .services__col:first-child {
    width: 33.33%;
    padding-top: 35px;
  }
  .services__item-title {
    max-width: 310px;
  }
  .services.type-2 {
    margin-bottom: 35px;
  }
  .service.type-3 .service__title {
    font-size: 30px;
    margin-bottom: 16px;
  }
  .service.type-3 .service__text {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .cols-md-2 {
    margin-left: -37px;
  }
  .cols-md-2 > * {
    padding-left: 37px;
  }
  .list-block2__item-in {
    padding: 51px 49px 32px 46px;
    min-height: 264px;
  }
  .list-block2__item-container {
    max-width: 203px;
  }
  .list-block2__item-title {
    margin-bottom: 34px;
  }
  .list-block2.type-2 .list-block2__in {
    padding-bottom: 100px;
  }
  .list-block2.type-2 .list-block2__item-container {
    max-width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .list-block2.type-2 .list-block2__item-title {
    margin-bottom: 0;
    max-width: 250px;
  }
  .list-block2.type-2 .list-block2__item-text {
    max-width: 200px;
  }
  .address.type-2 {
    padding-bottom: 51px;
  }
  .address.type-2 .address__map {
    min-height: 519px;
  }
  .messengers.type-3 .messengers__title {
    font-size: 50px;
  }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 88px;
  }
  .footer__container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
  }
  .footer__menu {
    margin-bottom: 0;
  }
  .footer__menu.simple {
    margin-bottom: 30px;
  }
  .footer__col {
    margin-left: 40px;
    padding-left: 40px;
    width: 350px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    border-left: 1px solid #424d60;
  }
  .footer__contacts {
    border-color: #424d60;
    padding-top: 30px;
  }
  .footer__address {
    margin-bottom: 25px;
  }
  .footer__copyright {
    display: none;
  }
  .footer__copyright--desctop {
    display: block;
    width: 100%;
    margin-top: 19px;
  }
}
@media (min-width: 1366px) {
  .filter {
    padding: 44px 56px 34px 56px;
  }
  .services.type-2 {
    margin-left: -66px;
    margin-bottom: 14px;
  }
  .services.type-2 .services__item {
    padding-left: 66px;
    margin-bottom: 64px;
  }
  .services.type-2 .services__item:last-child {
    margin-bottom: 64px;
  }
  body .swiper-parent .swiper {
    margin-left: -67px;
    padding-left: 67px;
    margin-right: -67px;
  }
  body .swiper-parent.type-2 .swiper {
    padding-right: 134px;
  }
  body .swiper-scrollbar {
    display: none;
    margin-top: 74px;
  }
  body .list-block.type-2 .swiper-button {
    margin-top: -2.5%;
  }
  body .desctop-visible {
    display: block;
  }
  body .desctop-hide {
    display: none;
  }
  .list-block__in {
    padding-bottom: 100px;
  }
  .list-block.type-2 .list-block__in {
    padding-bottom: 60px;
  }
  .list-block.type-2 .swiper-parent .swiper {
    padding-right: 120px;
  }
  .list-block.type-3 {
    padding: 58px 60px 26px;
  }
  .cols-xxl-3 {
    margin-left: -37px;
  }
  .cols-xxl-3 > * {
    width: 33.33%;
    padding-left: 37px;
  }
  .list-block2__in {
    padding-bottom: 100px;
  }
  .list-block2__items {
    margin-left: -37px;
  }
  .list-block2__item {
    padding-left: 37px;
    margin-bottom: 37px;
  }
  .list-block2__item-icon {
    width: 107px;
    height: 107px;
    margin-left: 50px;
  }
  .list-block2 .link {
    font-size: 16px;
  }
  .list-block2 .link .svg-icon {
    margin-left: 16px;
  }
  .messengers {
    padding: 47px 77px 32px;
    margin-top: -60px;
  }
  .messengers__title {
    font-size: 55px;
    margin-bottom: 18px;
  }
  .footer__col {
    padding-left: 69px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 392px;
            flex: 0 0 392px;
  }
}
@media (min-width: 1440px) {
  .footer__menu > ul > li {
    width: 32.5%;
  }
}
@media (min-width: 1921px) {
  body .swiper-parent .swiper {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  body .list-block.type-2 .swiper-parent {
    position: relative;
    padding-right: 70px;
    padding-left: 70px;
  }
  body .list-block.type-2 .swiper-parent .swiper {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  body .list-block.type-2 .swiper-parent .swiper {
    padding-right: 0;
  }
  body .list-block.type-2 .swiper-button {
    margin-top: -6.5%;
  }
  body .list-block.type-2 .swiper-button-prev {
    left: 0;
  }
  body .list-block.type-2 .swiper-button-next {
    right: 0;
  }
  body .swiper-parent.type-2 .swiper {
    padding-right: 0;
  }
}
