.about-content {
  overflow: hidden;
  position: relative;
  padding-top: 86px;
  margin-bottom: 30px;
  -webkit-overflow-scrolling: touch;
}
.about-content__decor {
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 17px;
  transform: translateX(-50%);
}
.about-content__decor img {
  display: block;
  width: 1492px;
  height: 374px;
  max-width: none;
}
.about-content__container {
  position: relative;
}
.about-content__header {
  margin: 0 0 70px;
  font-size: 24px;
  line-height: 23px;
  margin-bottom: 70px;
  font-weight: 350;
  max-width: 100%;
  position: relative;
}
.about-content__items {
  margin-bottom: 36px;
}
.about-content__item {
  margin-top: 39px;
  position: relative;
}
.about-content__item:first-child {
  margin-top: 0;
}
.about-content__item--super {
  margin-top: 46px;
}
.about-content__star {
  position: absolute;
  right: 100%;
  margin-right: -85px;
  top: -20px;
  width: 254px;
  height: 192px;
  max-width: none;
}
.about-content__item-body {
  position: relative;
}
.about-content__item-counter {
  font-size: 40px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 9px;
}
.about-content__item-text {
  font-size: 14px;
  line-height: 22px;
}
.about-content__item-buttons {
  display: flex;
  align-items: center;
  margin-top: 39px;
  padding: 0 0 0 10px;
  width: 320px;
  max-width: 100%;
}
.about-content__item-buttons .site-button {
  padding: 0;
  flex: 1 1;
  max-width: 213px;
  height: 41px;
  border-radius: 10px;
  font-size: 16px;
  margin-left: auto;
}
.about-content__item-arrow {
  flex: 0 0 41px;
  max-width: 41px;
  width: 41px;
  height: 41px;
  border-radius: 41px;
  margin-right: 55px;
  background-color: #e0fb52;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-content__item-arrow .svg-icon {
  display: block;
  width: 10px;
  height: 10px;
  stroke: #333946;
  stroke-width: 2px;
}
.about-content__item-header {
  font-size: 24px;
  line-height: 23px;
  font-weight: 350;
  margin-bottom: 18px;
  padding-bottom: 21px;
  position: relative;
}
.about-content__item-header:before {
  content: '';
  position: absolute;
  left: -20px;
  right: -20px;
  bottom: 0;
  border-top: 1px solid #333946;
}
.about-content__arrow {
  display: none;
}
.about-content__arrow .svg-icon {
  display: block;
  width: 11px;
  height: 9px;
  fill: #333946;
}
.about-content .site-squares {
  display: block;
}
.about-content .site-squares__item {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
  min-height: 0;
  padding: 11px 26px 14px 26px;
  color: #fff;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  background-color: #333946;
}
.about-content .site-squares__item:nth-child(even) {
  color: #333946;
  background-color: #e0fb52;
}
.about-content .site-squares__counter {
  position: static;
  margin-bottom: 19px;
  font-size: 24px;
  line-height: 34px;
}
.about-content .site-squares__title {
  width: 100%;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
}
.about-content .site-squares__text {
  font-size: 16px;
  line-height: 18px;
  margin-top: auto;
}
@media (min-width: 768px) {
  .about-content {
    padding-top: 134px;
    margin-bottom: -26px;
    padding-bottom: 222px;
  }
  .about-content__decor {
    top: 58px;
  }
  .about-content__decor img {
    width: 1969px;
    height: 494px;
    margin-left: 140px;
  }
  .about-content__header {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 61px;
  }
  .about-content__items {
    margin-bottom: 106px;
  }
  .about-content__item {
    margin-top: 59px;
  }
  .about-content__item:first-child {
    margin-top: 0;
  }
  .about-content__item:first-child .about-content__item-text {
    width: 100%;
  }
  .about-content__item--super {
    margin-top: 52px;
  }
  .about-content__item--super .about-content__item-text {
    width: 562px;
  }
  .about-content__star {
    margin-right: -53px;
    top: -26px;
  }
  .about-content__item-content {
    display: flex;
  }
  .about-content__item-counter {
    flex: 0 0 67px;
    max-width: 67px;
    width: 67px;
    font-size: 40px;
    padding-top: 6px;
    line-height: 30px;
  }
  .about-content__item-text {
    font-size: 16px;
    line-height: 22px;
    width: 497px;
    max-width: 100%;
  }
  .about-content__item-buttons {
    margin-top: 73px;
    padding-left: 0;
    margin-left: auto;
    width: 392px;
  }
  .about-content__item-buttons .site-button {
    max-width: 276px;
    height: 46px;
  }
  .about-content__item-arrow {
    margin-right: 0;
    flex: 0 0 52px;
    max-width: 52px;
    width: 52px;
    height: 52px;
    border-radius: 52px;
  }
  .about-content__item-arrow .svg-icon {
    width: 12px;
    height: 12px;
  }
  .about-content__item-header {
    font-size: 32px;
    line-height: 32px;
    padding-bottom: 12px;
    margin-bottom: 44px;
  }
  .about-content .site-squares {
    display: flex;
    margin: 0 25px;
  }
  .about-content .site-squares__item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 4px);
    max-width: calc(50% - 4px);
    width: calc(50% - 4px);
    margin: 0 2px 4px;
    color: #fff;
    padding: 4px 45px 35px 19px;
    background-color: #333946;
    min-height: 338px;
  }
  .about-content .site-squares__item:nth-child(2),
  .about-content .site-squares__item:nth-child(3) {
    background-color: #e0fb52;
    color: #333946;
  }
  .about-content .site-squares__item:last-child {
    background-color: #333946;
    color: #fff;
  }
  .about-content .site-squares__counter {
    margin-bottom: 22px;
  }
  .about-content .site-squares__text {
    font-size: 16px;
    line-height: 19px;
  }
  .about-content .www-line {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .about-content .www-line img {
    margin-left: -340px;
  }
}
@media (min-width: 1200px) {
  .about-content {
    padding-top: 126px;
    margin-bottom: 16px;
    padding-bottom: 304px;
  }
  .about-content__decor {
    top: 42px;
  }
  .about-content__decor img {
    width: 2841px;
    height: 713px;
    margin-left: 260px;
  }
  .about-content__header {
    margin-bottom: 88px;
    font-size: 48px;
    line-height: 48px;
  }
  .about-content__items {
    margin-bottom: 169px;
  }
  .about-content__item {
    margin-top: 81px;
  }
  .about-content__item:first-child {
    margin-top: 0;
  }
  .about-content__item:first-child .about-content__item-text {
    width: 788px;
  }
  .about-content__item--super .about-content__item-text {
    width: 562px;
  }
  .about-content__item-body {
    display: flex;
  }
  .about-content__item-text {
    width: 500px;
  }
  .about-content__item-buttons {
    margin-top: 0;
  }
  .about-content__item-header {
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 30px;
    margin-bottom: 39px;
  }
  .about-content__item-header:before {
    left: 0;
    right: 0;
  }
  .about-content__square {
    display: flex;
  }
  .about-content__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 52px;
    max-width: 52px;
    width: 52px;
    height: 52px;
    border-radius: 52px;
    align-self: center;
    margin-left: 152px;
    background-color: #e0fb52;
  }
  .about-content .site-squares {
    flex: 0 0 684px;
    max-width: 684px;
    width: 684px;
    margin: 0 0 0 -4px;
  }
  .about-content .www-line img {
    margin-left: -182px;
  }
}
@media (min-width: 1600px) {
  .about-content {
    padding-top: 148px;
    margin-bottom: 18px;
    padding-bottom: 268px;
  }
  .about-content__decor {
    top: 56px;
  }
  .about-content__header {
    font-size: 64px;
    line-height: 48px;
    margin-bottom: 103px;
  }
  .about-content__items {
    margin-bottom: 238px;
  }
  .about-content__item:first-child .about-content__item-text {
    width: 1006px;
  }
  .about-content__item--super .about-content__item-text {
    width: 615px;
  }
  .about-content__item--super .about-content__item-header,
  .about-content__item--super .about-content__item-body {
    margin-left: 138px;
  }
  .about-content__star {
    margin-right: -82px;
    top: 6px;
  }
  .about-content__item-counter {
    font-size: 48px;
  }
  .about-content__item-text {
    font-size: 20px;
    width: 650px;
  }
  .about-content__item-header {
    font-size: 64px;
    line-height: 48px;
    padding-bottom: 30px;
    margin-bottom: 28px;
  }
  .about-content__arrow {
    margin-left: 143px;
  }
  .about-content .site-squares {
    flex: 0 0 973px;
    max-width: 973px;
    width: 973px;
    margin-left: -3px;
  }
  .about-content .site-squares__item {
    min-height: 480px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 6px);
    max-width: calc(50% - 6px);
    width: calc(50% - 6px);
    margin: 0 3px 6px;
    padding: 5px 86px 50px 20px;
  }
  .about-content .site-squares__counter {
    font-size: 39px;
    line-height: 55px;
    margin-bottom: 28px;
  }
  .about-content .site-squares__title {
    font-size: 36px;
    line-height: 36px;
  }
  .about-content .site-squares__text {
    font-size: 24px;
    line-height: 28px;
  }
  .about-content .www-line img {
    margin-left: -145px;
  }
}
@media (min-width: 1920px) {
  .about-content__item-buttons {
    flex: 0 0 410px;
    max-width: 410px;
    width: 410px;
  }
}
