.about-articles {
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(109,110,118,0.3);
}
.about-articles__container {
  position: relative;
  padding-bottom: 46px;
}
.about-articles__container:before {
  display: none;
}
.about-articles__header {
  text-align: right;
  font-size: 32px;
  line-height: 36px;
  font-weight: 350;
  margin: 0 0 32px;
}
.about-articles__item {
  display: none;
  margin-top: 46px;
}
.about-articles__item:first-child {
  margin-top: 0;
}
.about-articles__item:nth-child(-n+2) {
  display: block;
}
.about-articles__image {
  display: block;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-overflow-scrolling: touch;
}
.about-articles__image:hover img {
  transform: scale(1.05);
}
.about-articles__image img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}
.about-articles__meta {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  margin-bottom: 8px;
}
.about-articles__meta span {
  font-weight: 400;
  margin-left: 5px;
}
.about-articles__meta i {
  font-style: normal;
  margin: 4px 12px 0;
  height: 10px;
  width: 2px;
  background-color: #333946;
}
.about-articles__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: -1px;
}
.about-articles__title a {
  color: #333946;
  text-decoration: none;
  display: inline-block;
}
.about-articles__title a:hover {
  color: #333946;
  text-decoration: none;
}
.about-articles__text {
  font-weight: 350;
  margin-top: 8px;
  font-size: 16px;
  line-height: 25px;
  color: #525967;
}
@media (min-width: 768px) {
  .about-articles {
    margin-bottom: 46px;
  }
  .about-articles__container {
    padding-bottom: 41px;
  }
  .about-articles__header {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 47px;
  }
  .about-articles__items-outer {
    padding-left: 30px;
    padding-right: 30px;
  }
  .about-articles__items {
    display: flex;
    margin-left: -25px;
  }
  .about-articles__item {
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
    padding-left: 25px;
    margin-top: 0;
  }
  .about-articles__title {
    font-size: 24px;
    line-height: 26px;
  }
  .promo-action + .about-articles {
    margin-top: -8px;
  }
}
@media (min-width: 1200px) {
  .about-articles {
    margin-bottom: 86px;
  }
  .about-articles__header {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 92px;
  }
  .about-articles__items-outer {
    padding-left: 0;
    padding-right: 0;
  }
  .about-articles__items {
    margin-left: -27px;
  }
  .about-articles__item {
    display: block;
    flex: 0 0 33.333333333333336%;
    max-width: 33.333333333333336%;
    width: 33.333333333333336%;
    padding-left: 27px;
  }
  .promo-action + .about-articles {
    margin-top: -92px;
  }
}
@media (min-width: 1600px) {
  .about-articles {
    margin-bottom: 106px;
    border-bottom: none;
  }
  .about-articles__container {
    padding-bottom: 65px;
  }
  .about-articles__container:before {
    content: '';
    display: block;
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: 0;
    border-bottom: 1px solid rgba(109,110,118,0.3);
  }
  .about-articles__header {
    font-size: 64px;
    line-height: 48px;
    margin-bottom: 56px;
  }
  .about-articles__items {
    margin-left: -34px;
  }
  .about-articles__item {
    padding-left: 34px;
  }
  .about-articles__title {
    font-size: 32px;
    line-height: 40px;
    margin-right: 0;
  }
  .about-articles__text {
    margin-top: 35px;
  }
  .promo-action + .about-articles {
    margin-top: 0;
  }
}
