.articles {
  overflow: hidden;
  margin-bottom: 67px;
  -webkit-overflow-scrolling: touch;
}
.articles__title,
.articles__title-l {
  margin-bottom: 34px;
}
.articles__title-l {
  display: none;
}
.articles__title {
  margin-top: 0;
  text-align: right;
}
.articles__title span {
  width: 197px;
}
.articles__links {
  margin-bottom: 36px;
  font-size: 10px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  margin-left: -17px;
  font-family: "GT Eesti Pro Text";
  font-weight: 350;
}
.articles__links a {
  text-decoration: none;
  margin-left: 17px;
  color: #333946;
}
.articles__links a:hover {
  text-decoration: underline;
}
.articles__items {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 29px;
  border-bottom: 1px solid #333946;
  display: flex;
  flex-flow: row;
  overflow: hidden;
  overflow-x: auto;
  scrollbar-height: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}
.articles__items::-webkit-scrollbar {
  display: none;
}
.articles__item {
  margin-right: 47px;
  flex: none;
  width: 233px;
}
.articles__item:hover .articles__item-image img {
  transform: scale(1.05);
}
.articles__item:last-child {
  margin-right: 0;
}
.articles__item-image {
  display: block;
  position: relative;
  border: 1px solid #000;
  margin-bottom: 14px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.articles__item-image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.25s transform;
}
.articles__item-image:after {
  content: '';
  display: inline-block;
  padding-top: 72.73%;
}
.articles__item-image span {
  position: absolute;
  left: 6px;
  right: 6px;
  bottom: 8px;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles__item-image span:after {
  content: '';
  width: 31px;
  height: 31px;
  background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='29.635' width='31.7757' height='2.11838' fill='%23E0FB52'/%3E%3Crect x='29.634' width='2.11838' height='31.7757' fill='%23E0FB52'/%3E%3Crect x='2.54932' y='4.14282' width='2.11838' height='39.1811' transform='rotate(-45 2.54932 4.14282)' fill='%23E0FB52'/%3E%3C/svg%3E%0A") center center no-repeat;
  background-size: contain;
}
.articles__item-title {
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  margin-bottom: 13px;
}
.articles__item-title a {
  color: #333946;
  text-decoration: none;
}
.articles__item-text {
  display: none;
}
.articles__item-row {
  display: flex;
  font-size: 12px;
  font-weight: 300;
  line-height: 160%;
  justify-content: space-between;
}
.articles__item-row-col {
  padding-right: 10px;
}
.articles__item-row-col:last-child {
  padding-right: 0;
}
.articles__item-row-col span {
  font-family: "GT Eesti Pro Text";
  margin-right: 4px;
  font-weight: 400;
}
.articles__button {
  text-align: right;
}
.articles__button .site-button {
  border-radius: 0px 0px 5px 5px;
  color: #e0fb52;
  font-size: 13px;
  min-width: 187px;
  min-height: 41px;
  padding-bottom: 14px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .articles__header {
    display: flex;
    justify-content: space-between;
  }
  .articles__title-l {
    display: block;
    font-size: 24px;
    line-height: 25px;
  }
  .articles__title span {
    width: auto;
    padding-left: 23px;
  }
  .articles__links {
    margin-bottom: 45px;
  }
  .articles__items {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    border: 0;
    overflow: visible;
  }
  .articles__item {
    display: flex;
    width: auto;
    padding-bottom: 36px;
    margin-bottom: 48px;
    margin-right: 0;
    border-bottom: 1px solid #333946;
  }
  .articles__item:last-child {
    margin-bottom: 0;
  }
  .articles__item-image {
    flex: none;
    width: 162px;
    margin-right: 24px;
    margin-bottom: 0;
    min-height: 164px;
  }
  .articles__item-image span {
    font-size: 20px;
    font-weight: 350;
  }
  .articles__item-image span:after {
    width: 18px;
    height: 18px;
  }
  .articles__item-container {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    max-width: 817px;
  }
  .articles__item-title {
    margin-bottom: 16px;
  }
  .articles__item-text {
    display: block;
    font-size: 13px;
    line-height: 15px;
    font-weight: 350;
  }
  .articles__item-row {
    padding-top: 20px;
    margin-top: auto;
    justify-content: flex-start;
    transform: translateY(7px);
    font-size: 14px;
  }
  .articles__item-row-col {
    margin-right: 24px;
  }
}
@media (min-width: 992px) {
  .articles__links {
    margin-left: -36px;
    font-size: 12px;
  }
  .articles__links a {
    margin-left: 36px;
  }
  .articles__item-image {
    width: 240px;
    min-height: 240px;
    margin-right: 40px;
  }
  .articles__item-image span {
    font-size: 24px;
    font-weight: 400;
    right: 12px;
    left: 22px;
    bottom: 12px;
  }
  .articles__item-image span:after {
    width: 31px;
    height: 31px;
  }
  .articles__item-title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 12px;
  }
  .articles__item-text {
    font-size: 18px;
    line-height: 21px;
  }
  .articles__item-row {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .articles {
    margin-bottom: 116px;
  }
  .articles__title,
  .articles__title-l {
    margin-bottom: 47px;
  }
  .articles__title span {
    width: 542px;
  }
  .articles__title span:before {
    bottom: auto;
    height: 100px;
  }
  .articles__title-l {
    padding-top: 30px;
    font-size: 42px;
  }
  .articles__links {
    margin-bottom: 85px;
  }
  .articles__links a {
    padding-left: 18px;
    margin-left: 18px;
    position: relative;
  }
  .articles__links a:first-child:before {
    display: none;
  }
  .articles__links a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -7px;
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 10px;
    background: #333946;
  }
  .articles__item {
    padding-bottom: 57px;
    margin-bottom: 109px;
  }
  .articles__button .site-button {
    min-height: 71px;
    font-size: 18px;
    min-width: 323px;
  }
}
@media (min-width: 1200px) and (min-width: 1366px) {
  .articles__item {
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
