.c-menu {
  background: #333946;
  margin-top: 47px;
  position: relative;
}
.c-menu:after {
  content: '';
  position: absolute;
  left: -100000px;
  width: 100000px;
  margin-left: 240px;
  z-index: 1;
  bottom: 0;
  height: 10px;
  background: #e0fb52;
}
.c-menu__in {
  display: flex;
  flex-flow: row;
  overflow: hidden;
  overflow-x: auto;
  scrollbar-height: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}
.c-menu__in::-webkit-scrollbar {
  display: none;
}
.c-menu ul {
  padding-top: 20px;
  padding-bottom: 22px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  margin: 0;
  list-style: none;
}
.c-menu ul li {
  flex: none;
  padding-right: 38px;
  margin-right: 30px;
  position: relative;
}
.c-menu ul li:last-child {
  padding-right: 0;
  margin-right: 0;
}
.c-menu ul li:last-child:after {
  display: none;
}
.c-menu ul li:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background: #e0fb52;
  border-radius: 100px;
}
.c-menu ul li a {
  display: flex;
  min-height: 32px;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 350;
}
.c-menu ul li a:hover {
  color: #e0fb52;
}
@media (min-width: 768px) {
  .c-menu ul {
    flex-flow: wrap;
    flex-wrap: nowrap;
    overflow: visible;
    margin-left: -33px;
  }
  .c-menu ul li {
    flex: auto;
    width: auto;
    padding-left: 33px;
    padding-right: 34px;
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .c-menu:after {
    margin-left: 261px;
  }
}
@media (min-width: 1200px) {
  .c-menu {
    margin-top: 29px;
  }
  .c-menu:after {
    left: 50%;
    margin-left: -100202px;
  }
  .c-menu ul {
    padding-top: 31px;
    padding-bottom: 31px;
  }
  .c-menu ul li a {
    font-size: 16px;
  }
}
@media (min-width: 1366px) {
  .c-menu {
    margin-top: 49px;
  }
  .c-menu:after {
    margin-left: -100329px;
  }
  .c-menu ul {
    margin-left: -27px;
    margin-right: -5px;
  }
  .c-menu ul li {
    flex-grow: 1;
    padding: 0 35px 0 27px;
  }
  .c-menu ul li a {
    font-size: 20px;
    font-weight: 350;
  }
}
@media (min-width: 1440px) {
  .c-menu:after {
    margin-left: -100314px;
  }
}
@media (min-width: 1600px) {
  .c-menu {
    margin-top: 51px;
  }
  .c-menu:after {
    margin-left: -100306px;
  }
}
