.cart-title {
  font-weight: 400;
  font-size: 23px;
  margin-top: 0;
  margin-bottom: 7px;
  line-height: 1;
  line-height: 26px;
}
.cart {
  margin-bottom: 38px;
  font-weight: 400;
}
.cart__total {
  font-size: 14.22px;
  line-height: 16px;
}
.cart__total--mobile {
  margin-bottom: 9px;
  text-align: right;
}
.cart__total--desktop {
  display: none;
}
.cart__total-item {
  margin-bottom: 5px;
}
.cart__total-item:last-child {
  margin-bottom: 0;
}
.cart__button {
  text-align: right;
  margin-top: 24px;
}
.cart__button .site-button {
  padding: 0 11px;
  min-height: 37px;
  min-width: 228px;
  font-size: 14px;
}
.cart__item {
  color: #fff;
  border-radius: 10px;
  background: #333946;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 24px;
  padding: 15px 5px 6px 33px;
  font-size: 16px;
  font-weight: 350;
}
.cart__item:last-child {
  margin-bottom: 0;
}
.cart__item:after {
  content: '';
  width: 23px;
  height: 33px;
  position: absolute;
  left: 0;
  bottom: -5px;
  background: url("../img/cart-bg.svg") 0 0 no-repeat;
  background-size: 100% 100%;
}
.cart__item--header {
  display: none;
}
.cart__item-col--number {
  margin-left: -33px;
  margin-top: -7px;
  width: 33px;
  text-align: center;
  align-self: flex-start;
}
.cart__item-col--name {
  width: 100%;
  margin-bottom: 3px;
  font-size: 15px;
}
.cart__item-col--name a {
  color: #fff;
  text-decoration: none;
}
.cart__item-col--name a:hover {
  color: #e0fb52;
}
.cart__item-col--for {
  display: none;
}
.cart__item-col--remove {
  position: absolute;
  top: 7px;
  right: 7px;
}
.cart__item-col--remove a {
  display: block;
  position: relative;
}
.cart__item-col--remove a:before {
  content: '';
  position: absolute;
  left: -7px;
  top: -7px;
  right: -7px;
  bottom: -7px;
}
.cart__item-col--remove a:hover .svg-icon svg {
  transform: rotate(90deg);
}
.cart__item-col--remove .svg-icon {
  display: block;
  width: 12px;
  height: 12px;
}
.cart__item-col--remove .svg-icon svg {
  transition: 0.3s transform;
}
.cart__item-col--quantity {
  order: 1;
  margin-left: auto;
  padding-left: 20px;
}
.cart__item-col--price {
  margin-right: 12px;
}
.cart__item-article {
  margin-bottom: 5px;
}
.cart__empty {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: rgba(255,255,255,0.7);
  padding-top: 10px;
  min-height: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #333946 url("data:image/svg+xml,%3Csvg width='59' height='70' viewBox='0 0 59 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.4793 0.15564C19.0587 1.48274 12.9327 7.74886 11.7048 15.2463L11.5313 16.2998L6.99352 16.3682C2.53582 16.4366 2.45574 16.4366 1.96192 16.7513C1.69499 16.9291 1.32129 17.3396 1.13444 17.6542L0.800781 18.2425V43.1838V68.1252L1.13444 68.7135C1.33464 69.0692 1.70834 69.4523 2.05535 69.6575L2.62924 69.9995H18.9519H35.2746L35.8485 69.6575C36.6893 69.1513 37.1031 68.3577 37.1031 67.2632C37.1031 66.1687 36.6893 65.3752 35.8485 64.869L35.2746 64.5269H20.7136H6.13935V43.1838V21.8408H8.80864H11.4779V26.383V30.9116L11.8116 31.4999C12.3054 32.3618 13.0795 32.7859 14.1472 32.7859C15.2149 32.7859 15.989 32.3618 16.4828 31.4999L16.8165 30.9116V26.383V21.8408H29.6291H42.4416V26.383V30.9116L42.7753 31.4999C43.2691 32.3618 44.0432 32.7859 45.1109 32.7859C46.1786 32.7859 46.9527 32.3618 47.4465 31.4999L47.7802 30.9116V26.383V21.8408H50.4495H53.1188V34.0446V46.2348L53.4524 46.8231C53.9462 47.685 54.7203 48.1092 55.7881 48.1092C56.8558 48.1092 57.6299 47.685 58.1237 46.8231L58.4573 46.2348V32.2387V18.2425L58.1237 17.6542C57.9368 17.3396 57.5631 16.9291 57.2962 16.7513C56.8024 16.4366 56.7223 16.4366 52.2646 16.3682L47.7268 16.2998L47.5533 15.2463C47.193 13.0162 46.0719 10.1705 44.8039 8.22771C42.1347 4.16431 38.1441 1.37329 33.4328 0.278778C32.1115 -0.0222168 27.9074 -0.104301 26.4793 0.15564ZM32.6987 5.91554C37.063 7.0511 40.5998 10.5262 41.8277 14.9179C42.0145 15.5747 42.1747 16.1766 42.1747 16.245C42.1747 16.3134 36.8495 16.3682 29.6291 16.3682C22.4086 16.3682 17.0834 16.3134 17.0834 16.245C17.0834 15.7799 17.8709 13.5088 18.3513 12.5784C21.1541 7.16055 26.9998 4.45162 32.6987 5.91554Z' fill='white' fill-opacity='0.05'/%3E%3Cpath d='M49.0212 53.9375C48.7009 54.129 48.3005 54.5395 48.1136 54.8678C47.8067 55.4151 47.78 55.5792 47.78 57.2484V59.0543H46.0182C44.39 59.0543 44.2298 59.0817 43.696 59.3964C42.8551 59.9026 42.4414 60.6961 42.4414 61.7906C42.4414 62.8852 42.8551 63.6787 43.696 64.1849C44.2298 64.4996 44.39 64.5269 46.0182 64.5269H47.78V66.3329C47.78 68.002 47.8067 68.1662 48.1136 68.7135C48.6075 69.5754 49.3815 69.9995 50.4493 69.9995C51.517 69.9995 52.2911 69.5754 52.7849 68.7135C53.0919 68.1662 53.1185 68.002 53.1185 66.3329V64.5269H54.8803C56.5085 64.5269 56.6687 64.4996 57.2025 64.1849C58.0434 63.6787 58.4571 62.8852 58.4571 61.7906C58.4571 60.6961 58.0434 59.9026 57.2025 59.3964C56.6687 59.0817 56.5085 59.0543 54.8803 59.0543H53.1185V57.2484C53.1185 55.5792 53.0919 55.4151 52.7849 54.8678C52.2911 54.0059 51.517 53.5818 50.4359 53.5818C49.7552 53.5818 49.4616 53.6502 49.0212 53.9375Z' fill='white' fill-opacity='0.05'/%3E%3C/svg%3E") center center no-repeat;
  position: relative;
}
.cart__empty:after {
  content: '';
  width: 23px;
  height: 33px;
  position: absolute;
  left: 0;
  bottom: -5px;
  background: url("../img/cart-bg.svg") 0 0 no-repeat;
  background-size: 100% 100%;
}
@media (min-width: 768px) {
  .cart-title {
    margin-bottom: 22px;
    margin-top: 65px;
  }
  .cart {
    margin-bottom: 113px;
  }
  .cart__total {
    padding-right: 30px;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
    text-align: right;
    display: flex;
    padding-right: 41px;
    margin-top: 12px;
  }
  .cart__total-item {
    margin-left: 39px;
    margin-bottom: 0;
  }
  .cart__total--mobile {
    display: none;
  }
  .cart__button {
    margin-top: 105px;
  }
  .cart__body {
    position: relative;
    color: #fff;
    padding-bottom: 23px;
  }
  .cart__body:before {
    content: '';
    position: absolute;
    left: 0;
    top: 20px;
    right: 0;
    bottom: 0;
    background: #333946;
    border-radius: 10px;
    pointer-events: none;
  }
  .cart__body:after {
    content: '';
    width: 23px;
    height: 33px;
    position: absolute;
    left: 0;
    bottom: -5px;
    background: url("../img/cart-bg.svg") 0 0 no-repeat;
    background-size: 100% 100%;
  }
  .cart__body-in {
    display: table;
    width: 100%;
  }
  .cart__item {
    margin-bottom: 0;
    border-radius: 0;
    padding: 0;
    display: table-row;
    background: none;
    font-weight: 350;
  }
  .cart__item--header {
    display: table-row;
  }
  .cart__item--header .cart__item-col {
    background: #e0fb52;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333946;
  }
  .cart__item--header .cart__item-col:first-child {
    border-radius: 10px 0 0 0;
  }
  .cart__item--header .cart__item-col:last-child {
    border-radius: 0 10px 0 0;
  }
  .cart__item--amount {
    font-size: 14px;
    font-weight: 400;
  }
  .cart__item:after {
    display: none;
  }
  .cart__item-col {
    display: table-cell;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    vertical-align: middle;
  }
  .cart__item-col:first-child {
    text-align: center;
  }
  .cart__item-col:nth-child(3) {
    text-align: left;
  }
  .cart__item-col--name {
    width: auto;
  }
  .cart__item-col--remove {
    position: static;
    min-width: 58px;
    text-align: right;
    padding-right: 5px;
  }
  .cart__item-col--remove a {
    display: inline-block;
  }
  .cart__item-col--remove .svg-icon {
    width: 13px;
    height: 13px;
  }
  .cart__item-col--price,
  .cart__item-col--time {
    white-space: nowrap;
  }
  .cart__item-col--for {
    font-size: 14px;
  }
  .cart__item-col--quantity {
    padding-left: 0;
  }
  .cart__item-col {
    padding-left: 20px;
  }
  .cart__item-col:first-child {
    padding-left: 0;
  }
  .cart__item-col:nth-child(1) {
    width: 55px;
    max-width: 55px;
    min-width: 59px;
  }
  .cart__item-col:nth-child(2) {
    max-width: 120px;
    padding-left: 0;
    width: 18%;
  }
  .cart__item-col:nth-child(3) {
    max-width: 115px;
    width: 23%;
  }
  .cart__item-col:nth-child(4) {
    max-width: 104px;
    width: 104px;
  }
  .cart__item-col:nth-child(5),
  .cart__item-col:nth-child(6) {
    width: 102px;
  }
  .cart__item-col:nth-child(4) {
    padding-left: 0;
  }
  .cart__item-col:nth-child(7) {
    width: 3%;
    padding-right: 15px;
  }
  .cart__item-col--quantity {
    padding-left: 0;
  }
  .cart__item-col--number {
    padding-left: 0;
    width: 50px;
    max-width: 50px;
  }
  .cart__item-col--remove a {
    margin-top: -5px;
  }
  .cart__empty {
    min-height: 72px;
    margin-top: 48px;
    margin-bottom: 30px;
  }
  .cart__empty background-color #none,
  .cart__empty:after {
    display: none;
  }
}
@media (min-width: 1200px) {
  .cart-title {
    margin-top: 55px;
  }
  .cart {
    margin-bottom: 131px;
  }
  .cart__total {
    padding-right: 23px;
    margin-top: 15px;
  }
  .cart__total-item {
    margin-left: 23px;
    font-size: 15px;
  }
  .cart__button {
    margin-top: 62px;
  }
  .cart__button .site-button {
    min-height: 46px;
    min-width: 284px;
    font-size: 16px;
  }
  .cart__button .site-button .svg-icon {
    margin-left: 23px;
    width: 8px;
    height: 14px;
  }
  .cart__item--header {
    font-size: 18px;
  }
  .cart__item--header .cart__item-col {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 18px;
  }
  .cart__item-col {
    padding-top: 21px;
    padding-bottom: 21px;
    font-size: 16px;
  }
  .cart__item-col--name {
    font-size: 16px;
  }
  .cart__item-col:first-child {
    min-width: 69px;
    padding-left: 50px;
  }
  .cart__item-col:nth-child(3) {
    width: 19%;
    padding-left: 50px;
  }
  .cart__item-col:last-child {
    padding-right: 23px;
  }
  .cart__empty {
    font-size: 18px;
  }
}
@media (min-width: 1366px) {
  .cart-title {
    margin-top: 105px;
  }
  .cart {
    margin-bottom: 192px;
  }
  .cart__button {
    margin-top: 38px;
  }
  .cart__item-col {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .cart__item-col--name,
  .cart__item-col--for {
    font-size: 16px;
  }
  .cart__item-col--number {
    font-size: 20px;
  }
  .cart__item-col:first-child {
    width: 43px;
    min-width: 43px;
    padding-left: 5px;
  }
  .cart__item-col:nth-child(2) {
    text-align: left;
  }
  .cart__item-col:nth-child(3) {
    padding-left: 20px;
    width: 17%;
  }
}
@media (min-width: 1600px) {
  .cart {
    margin-left: -24px;
    margin-right: -24px;
  }
}
