.cart-order {
  margin-bottom: 42px;
}
.cart-order .cart {
  margin-bottom: 40px;
}
.cart-order .cart__title {
  display: none;
}
.cart-order .cart__item-col--remove .svg-icon--close {
  display: none;
}
.cart-order .cart__add-btn {
  display: none;
}
.cart-order__total {
  margin-bottom: 18px;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(51,57,70,0.7);
}
.cart-order__total-title {
  font-size: 22px;
  margin-bottom: 16px;
  font-weight: 400;
}
.cart-order__total-price {
  margin-top: 7px;
}
.cart-order__promo-code {
  margin-bottom: 40px;
  font-size: 15px;
}
.cart-order__control-name {
  font-size: 15px;
  margin-bottom: 8px;
}
.cart-order__input-item {
  position: relative;
}
.cart-order__input-item:before {
  content: '';
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
  background: #ced5e9;
}
.cart-order__input-item input {
  color: #ced5e9;
  width: 100%;
  height: 48px;
  padding: 0 25px 0 40px;
  font-size: 16px;
}
.cart-order__input-item input::-moz-placeholder {
  color: #ced5e9;
}
.cart-order__input-item input:-ms-input-placeholder {
  color: #ced5e9;
}
.cart-order__input-item input::placeholder {
  color: #ced5e9;
}
.cart-order__row {
  display: flex;
  flex-wrap: wrap;
}
.cart-order__row--radio {
  margin-bottom: 33px;
  margin-left: -19px;
}
.cart-order__row--radio .cart-order__item {
  width: 50%;
  padding-left: 19px;
  position: relative;
  margin-bottom: 19px;
}
.cart-order__row--radio .cart-order__item:nth-child(2n):before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 35px;
  width: 1px;
  background: rgba(51,57,70,0.7);
}
.cart-order__bl-title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
}
.cart-order__item {
  width: 100%;
  margin-bottom: 22px;
}
.cart-order .input-radio {
  padding-right: 10px;
  font-size: 12px;
  line-height: 14px;
}
.cart-order .input-radio--agreement {
  margin-bottom: 12px;
}
.cart-order .input-radio--agreement a {
  color: #333946;
}
.cart-order .input-radio--remember {
  align-items: center;
}
.cart-order .input-radio--remember .input-radio__icon {
  margin-top: -2px;
}
.cart-order .input-radio__icon {
  width: 24px;
  height: 24px;
  background: #333946;
  border-color: #333946;
}
.cart-order .input-radio input:checked + .input-radio__icon:before {
  left: 7px;
  top: 7px;
  right: 7px;
  bottom: 7px;
}
.cart-order__note {
  display: flex;
  align-items: center;
  font-size: 11px;
  line-height: 13px;
}
.cart-order__note .svg-icon {
  flex: none;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.cart-order .incnt {
  margin-bottom: 20px;
  position: relative;
  padding-left: 15px;
}
.cart-order .incnt:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
  background: #333946;
}
.cart-order__button {
  text-align: right;
}
.cart-order__button .site-button {
  min-height: 46px;
  font-size: 16px;
}
.cart-order__continue-btn {
  display: none;
}
.cart-order .not-new-user {
  display: none;
}
.cart-order .not-new-user .cart-order__bot {
  margin-top: 23px;
}
.cart-order .not-new-user .cart-order__bot .cart-order__item {
  margin-bottom: 0;
}
.cart-order .not-new-user .cart-order__bot .cart-order__item .input-radio {
  font-size: 14px;
}
.cart-order .not-new-user .cart-order__button {
  margin-top: 45px;
  text-align: center;
}
.cart-order .not-new-user .cart-order__button .site-button {
  min-width: 216px;
}
.cart-order.is-client .not-new-user {
  display: block;
}
.cart-order.is-client .nev-user {
  display: none;
}
.cart-order__forgot-password {
  text-align: center;
  margin-top: 9px;
  font-size: 14px;
}
.cart-order__forgot-password a {
  color: #487dfe;
}
.cart-order__continue-btn.type-2 {
  display: none;
}
@media (min-width: 768px) {
  .cart-order {
    margin-top: 55px;
    margin-bottom: 90px;
    display: flex;
  }
  .cart-order__sidebar {
    flex: 0 0 244px;
    margin-right: 35px;
    display: flex;
    flex-direction: column;
  }
  .cart-order__total {
    margin-bottom: 30px;
    margin-bottom: 23px;
  }
  .cart-order__total-title {
    font-size: 23px;
    margin-bottom: 57px;
  }
  .cart-order__continue-btn {
    margin-bottom: 0;
    font-size: 16px;
    max-width: 276px;
    margin-top: 36px;
  }
  .cart-order__continue-btn.type-2 {
    display: inline-flex;
  }
  .cart-order__continue-btn.type-2 .svg-icon {
    margin-left: 8px;
    width: 7px;
    height: 13px;
  }
  .cart-order__promo-code {
    margin-bottom: 30px;
  }
  .cart-order__promo-code input {
    max-width: 276px;
  }
  .cart-order__container {
    flex: 1 1;
  }
  .cart-order .cart {
    order: 1;
  }
  .cart-order .cart__title {
    display: block;
    margin-bottom: 23px;
    font-size: 23px;
    line-height: 27px;
    font-weight: 400;
  }
  .cart-order .cart__body {
    margin-left: -20px;
    width: 212px;
  }
  .cart-order .cart__add-btn {
    display: block;
    text-align: right;
    margin-right: -72px;
    margin-top: 36px;
  }
  .cart-order .cart__add-btn .site-button {
    min-height: 46px;
    min-width: 179px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
  }
  .cart-order .cart__body {
    padding-top: 30px;
    padding-bottom: 35px;
    background: #333946;
    border-radius: 0 10px 10px 0;
  }
  .cart-order .cart__body:before,
  .cart-order .cart__body:after {
    display: none;
  }
  .cart-order .cart__body-in {
    display: block;
  }
  .cart-order .cart__item {
    padding: 8px 25px 10px 23px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -72px;
    background: #e0fb52;
    margin-bottom: 17px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    border-radius: 0px 5px 5px 0px;
    color: #333946;
    font-size: 14px;
  }
  .cart-order .cart__item-col {
    width: auto;
    display: block;
    max-width: none;
    padding: 0;
    text-align: left;
    font-weight: 400;
  }
  .cart-order .cart__item-col:nth-child(2) {
    width: 100%;
    border-bottom: 1px solid #333946;
    padding-bottom: 8px;
    margin-bottom: 11px;
    max-width: 70%;
  }
  .cart-order .cart__item-col:nth-child(4) {
    width: auto;
  }
  .cart-order .cart__item-col:nth-child(7) {
    padding: 0;
    width: auto;
    min-width: 0;
  }
  .cart-order .cart__item-col--number,
  .cart-order .cart__item-col--for,
  .cart-order .cart__item-col--time {
    display: none;
  }
  .cart-order .cart__item-col--name {
    font-size: 14px;
  }
  .cart-order .cart__item-col--name a {
    color: #333946;
    font-weight: normal;
  }
  .cart-order .cart__item-col--price {
    line-height: 1;
  }
  .cart-order .cart__item-col--remove {
    position: absolute;
    top: 5px;
    right: 31px;
    padding: 0;
    width: auto;
  }
  .cart-order .cart__item-col--remove .svg-icon {
    width: 19px;
    height: 19px;
    fill: #333946;
  }
  .cart-order .cart__item-col--remove .svg-icon--remove {
    display: none;
  }
  .cart-order .cart__item-col--remove .svg-icon--close {
    display: block;
  }
  .cart-order .cart__item-article {
    font-weight: 350;
  }
  .cart-order .cart__item .old-price {
    display: block;
    font-display: 11px;
    text-decoration: line-through;
    color: rgba(51,57,70,0.5);
  }
  .cart-order .cart__item .quantity {
    width: 76px;
    border: 0;
  }
  .cart-order .cart__item .quantity__button {
    width: 25px;
  }
  .cart-order .cart__item .quantity__button.btn-minus:before {
    margin-left: 5px;
  }
  .cart-order .cart__item .quantity__button.btn-plus:before,
  .cart-order .cart__item .quantity__button.btn-plus:after {
    margin-left: -5px;
  }
  .cart-order .cart__item .quantity__button:before {
    width: 7px;
  }
  .cart-order .cart__item .quantity__button:after {
    height: 7px;
  }
  .cart-order__row--radio {
    margin-bottom: 38px;
  }
  .cart-order__row--radio .cart-order__item {
    width: 40%;
    margin-bottom: 18px;
  }
  .cart-order__row--radio .cart-order__item:nth-child(2n) {
    width: 60%;
  }
  .cart-order__row--input {
    margin-left: -15px;
    margin-bottom: 30px;
  }
  .cart-order__row--input .cart-order__control-name {
    margin-bottom: 4px;
  }
  .cart-order__row--input .cart-order__item {
    width: 50%;
    padding-left: 15px;
  }
  .cart-order__item {
    margin-bottom: 15px;
  }
  .cart-order__item--note {
    align-self: center;
    padding-top: 22px;
  }
  .cart-order .input-radio {
    font-size: 16px;
    line-height: 19px;
  }
  .cart-order .input-radio--agreement {
    font-size: 14px;
    width: 377px;
  }
  .cart-order .input-radio__icon {
    margin-right: 23px;
  }
  .cart-order__bl-title {
    margin-bottom: 40px;
  }
  .cart-order__note {
    max-width: 184px;
  }
  .cart-order__note .svg-icon {
    margin-right: 30px;
  }
  .cart-order__bot {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .cart-order__bot .site-button {
    min-width: 203px;
  }
  .cart-order .incnt {
    margin-bottom: 0;
    margin-right: auto;
    margin-left: 9px;
    font-size: 14px;
  }
  .cart-order .not-new-user .cart-order__row--input {
    margin-bottom: 8px;
  }
  .cart-order .not-new-user .cart-order__bot {
    display: flex;
    align-items: center;
    margin-left: -15px;
    margin-top: 0;
  }
  .cart-order .not-new-user .cart-order__bot >* {
    width: 50%;
    padding-left: 15px;
  }
  .cart-order .not-new-user .cart-order__bot .cart-order__item {
    padding-top: 5px;
  }
  .cart-order .not-new-user .cart-order__button {
    margin-top: 0;
    text-align: right;
  }
  .cart-order .not-new-user .cart-order__button .site-button {
    width: 100%;
    max-width: 203px;
  }
  .cart-order__forgot-password {
    text-align: right;
    margin-top: 23px;
  }
  .cart-order.is-client .cart-order__row {
    margin-bottom: 17px;
  }
}
@media (min-width: 992px) {
  .cart-order .cart__body {
    margin-left: -40px;
    width: 232px;
  }
}
@media (min-width: 1200px) {
  .cart-order__sidebar {
    flex: 0 0 340px;
    margin-right: 73px;
  }
  .cart-order__container {
    max-width: 798px;
  }
  .cart-order__row--radio {
    margin-left: -36px;
    margin-bottom: 63px;
    margin-right: -44px;
  }
  .cart-order__row--radio .cart-order__item {
    width: 47%;
    padding-left: 36px;
    padding-top: 4px;
    margin-bottom: 29px;
  }
  .cart-order__row--radio .cart-order__item .input-radio {
    align-items: center;
  }
  .cart-order__row--radio .cart-order__item:nth-child(2) .input-radio {
    align-items: flex-start;
  }
  .cart-order__row--radio .cart-order__item:nth-child(2n) {
    width: 53%;
  }
  .cart-order__row--input {
    margin-left: -27px;
  }
  .cart-order__row--input .cart-order__item {
    padding-left: 27px;
  }
  .cart-order__bot {
    align-items: center;
  }
  .cart-order__bot .cart-order__item {
    width: auto;
    margin-bottom: 0;
    margin-right: auto;
    flex: 1 1;
    margin-right: 0;
  }
  .cart-order__bot .input-radio {
    margin-bottom: 0;
  }
  .cart-order__bot .incnt {
    order: 1;
    width: 100%;
  }
  .cart-order__button {
    margin-top: -17px;
  }
  .cart-order .incnt {
    margin-top: 19px;
  }
  .cart-order .input-radio {
    font-size: 16px;
  }
  .cart-order .input-radio--agreement {
    width: auto;
    padding-right: 40px;
  }
  .cart-order .cart__body {
    margin-left: 0;
    width: auto;
    border-radius: 10px;
  }
  .cart-order .cart__item {
    margin-right: -32px;
    padding-right: 30px;
  }
  .cart-order .cart__item-col--remove {
    right: 5px;
    top: 5px;
  }
  .cart-order .cart__add-btn {
    margin-top: 90px;
    margin-right: -32px;
  }
  .cart-order__note {
    font-size: 16px;
    line-height: 19px;
    max-width: none;
    width: 306px;
  }
  .cart-order__item--note {
    padding-top: 29px;
  }
  .cart-order .not-new-user .cart-order__bot {
    margin-top: 30px;
  }
  .cart-order.is-client .cart-order__row {
    margin-bottom: 0;
  }
  .cart-order__forgot-password {
    margin-top: 32px;
  }
}
@media (min-width: 1366px) {
  .cart-order {
    margin-top: 68px;
  }
  .cart-order .cart {
    margin-left: 0;
    margin-right: 0;
  }
  .cart-order__row--radio .cart-order__item {
    width: 42%;
  }
  .cart-order__row--radio .cart-order__item:nth-child(2n) {
    padding-left: 110px;
  }
  .cart-order__row--radio .input-radio__icon {
    margin-right: 36px;
  }
}
