.cases {
  position: relative;
  overflow: hidden;
  padding-bottom: 50px;
  -webkit-overflow-scrolling: touch;
}
.cases .www-line {
  bottom: 0;
  top: auto;
}
.cases .www-line img {
  margin-left: 345px;
}
.cases__header {
  margin: 0 0 28px;
  width: 270px;
}
.cases__header.decor-title {
  font-size: 32px;
  line-height: 37px;
}
.cases__header.decor-title span {
  padding: 2px 0 3px 0;
}
@media (min-width: 768px) {
  .cases {
    padding-bottom: 110px;
  }
  .cases .www-line {
    display: block;
  }
  .cases .www-line img {
    margin-left: 520px;
  }
  .cases__header {
    width: 397px;
    margin-bottom: 50px;
  }
  .cases__header.decor-title span {
    padding: 2px 50px 3px 0;
  }
}
@media (min-width: 1200px) {
  .cases {
    padding-bottom: 142px;
  }
  .cases .www-line img {
    margin-left: 442px;
  }
  .cases__header {
    width: 809px;
    margin-bottom: 39px;
  }
  .cases__header.decor-title {
    font-size: 72px;
    line-height: 84px;
  }
  .cases__header.decor-title span {
    padding: 10px 0 0 0;
  }
  .cases__header.decor-title span:before {
    height: 100px;
  }
}
@media (min-width: 1440px) {
  .cases {
    padding-bottom: 150px;
    margin-bottom: -35px;
  }
  .cases__header {
    width: 812px;
    margin-bottom: 71px;
  }
  .cases__header.decor-title {
    font-size: 64px;
    line-height: 74px;
  }
  .cases__header.decor-title span {
    padding: 19px 0 0 0;
  }
}
@media (min-width: 1600px) {
  .cases {
    padding-bottom: 142px;
    margin-bottom: 0;
  }
  .cases .www-line img {
    margin-left: 368px;
  }
  .cases__header {
    width: 806px;
    margin-bottom: 56px;
  }
  .cases__header.decor-title {
    font-size: 72px;
    line-height: 84px;
  }
  .cases__header.decor-title span {
    padding: 10px 0 0 0;
  }
}
