.catalog-intro {
  overflow: hidden;
  position: relative;
  padding-top: 27px;
  -webkit-overflow-scrolling: touch;
}
.catalog-intro:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1280px;
  background: url("../img/catalog-intro-top-line.svg") 0 0 repeat-x;
  height: 36.5px;
}
.catalog-intro:after {
  content: '';
  position: absolute;
  left: 0;
  top: 147px;
  right: 0;
  height: 178px;
  background: url("../img/www-line4.svg") -686px 0 no-repeat;
}
.catalog-intro__in {
  background: #e0fb52;
}
.catalog-intro__in2 {
  padding-top: 22px;
  padding-bottom: 20px;
  line-height: 1;
  position: relative;
}
.catalog-intro__image {
  display: none;
}
.catalog-intro__top,
.catalog-intro__footer {
  position: relative;
  z-index: 1;
}
.catalog-intro__top {
  text-align: right;
  width: 286px;
  margin-left: auto;
}
.catalog-intro__title {
  margin-top: 0;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 13px;
}
.catalog-intro__text {
  font-size: 20px;
  margin-bottom: 20px;
}
.catalog-intro__items-title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 8px;
  width: 171px;
}
.catalog-intro__items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
}
.catalog-intro__items.show-content .catalog-intro__item:nth-child(10) ~ * {
  display: block;
}
.catalog-intro__item {
  margin-left: 8px;
  margin-bottom: 8px;
}
.catalog-intro__item:hover a,
.catalog-intro__item.is-active a {
  background: #333946;
  color: #e0fb52;
}
.catalog-intro__item a {
  display: block;
  color: #333946;
  text-decoration: none;
  font-size: 12px;
  line-height: 1;
  padding: 13px 8px;
  border-radius: 10px;
  font-weight: 350;
  border: 1px solid #333946;
  background: #e0fb52;
}
.catalog-intro__item:nth-child(10) ~ * {
  display: none;
}
.catalog-intro__item:nth-child(10) ~ .catalog-intro__more {
  display: block;
}
.catalog-intro__more {
  margin-left: auto;
  margin-top: 12px;
  padding-left: 20px;
  text-align: right;
  width: 100%;
}
.catalog-intro__more a {
  color: #333946;
}
@media (min-width: 768px) {
  .catalog-intro {
    margin-bottom: -34px;
  }
  .catalog-intro:before {
    left: 192px;
  }
  .catalog-intro:after {
    background-position: -639px 0;
    top: 135px;
  }
  .catalog-intro__image {
    display: block;
    position: absolute;
    width: 307px;
    height: 311px;
    top: -17px;
    right: -22px;
    z-index: 1;
  }
  .catalog-intro__in2 {
    padding-top: 100px;
    padding-bottom: 74px;
  }
  .catalog-intro__top {
    width: 389px;
  }
  .catalog-intro__title {
    font-size: 48px;
    line-height: 1;
  }
  .catalog-intro__text {
    width: 290px;
    font-size: 20px;
    margin-left: auto;
  }
  .catalog-intro__items-title {
    font-size: 24px;
    width: auto;
    margin-bottom: 20px;
  }
  .catalog-intro__more {
    margin-top: 24px;
  }
  .catalog-intro__more a {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .catalog-intro {
    margin-bottom: -141px;
  }
  .catalog-intro:before {
    left: 347px;
  }
  .catalog-intro:after {
    top: 295px;
    background-position: -850px 0;
  }
  .catalog-intro__image {
    width: 694px;
    height: 610px;
    right: -121px;
    top: 25px;
  }
  .catalog-intro__in2 {
    padding-bottom: 192px;
    padding-top: 142px;
  }
  .catalog-intro__top {
    width: 633px;
  }
  .catalog-intro__title {
    font-size: 72px;
  }
  .catalog-intro__text {
    font-size: 28px;
    width: 395px;
  }
  .catalog-intro__footer {
    margin-top: -34px;
  }
  .catalog-intro__items {
    margin-left: -10px;
  }
  .catalog-intro__items-title {
    font-size: 36px;
    margin-bottom: 37px;
  }
  .catalog-intro__item {
    margin-left: 10px;
    margin-bottom: 13px;
  }
  .catalog-intro__item a {
    font-size: 16px;
    padding: 17px 21.5px;
  }
}
@media (min-width: 1366px) {
  .catalog-intro__top {
    padding-right: 164px;
    width: 797px;
  }
  .catalog-intro__footer {
    padding-right: 164px;
  }
  .catalog-intro__more {
    margin-right: -164px;
  }
}
@media (min-width: 1600px) {
  .catalog-intro {
    margin-bottom: -120px;
  }
  .catalog-intro__in2 {
    padding-bottom: 169px;
  }
  .catalog-intro__image {
    right: -221px;
  }
  .catalog-intro:after {
    background-position: -35px 0;
  }
  .catalog-intro__footer {
    margin-top: 25px;
  }
  .catalog-intro__more {
    width: auto;
    align-self: flex-end;
    margin-bottom: 13px;
  }
}
