.certificates {
  margin-top: 31px;
}
.certificates__item {
  margin-bottom: 25px;
  filter: drop-shadow(10px 10px 30px rgba(0,0,0,0.1));
}
.certificates__item img {
  width: 100%;
  display: block;
}
@media (min-width: 768px) {
  .certificates__items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -48px;
    margin-bottom: -159px;
    padding-bottom: 1;
    align-items: flex-start;
  }
  .certificates__item {
    margin-left: 48px;
    width: calc(50% - 48px);
    margin-bottom: 59px;
  }
}
@media (min-width: 1200px) {
  .certificates__items {
    margin-left: -67px;
    margin-bottom: -38px;
  }
  .certificates__item {
    margin-left: 67px;
    width: calc(50% - 67px);
    margin-bottom: 38px;
  }
}
@media (min-width: 1366px) {
  .certificates__items {
    margin-left: -85px;
  }
  .certificates__item {
    margin-left: 85px;
    width: calc(50% - 85px);
    margin-bottom: 39px;
  }
}
