.course-for {
  margin-bottom: 67px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.course-for__title {
  margin-top: 0;
  margin-bottom: 21px;
}
.course-for .decor-title span {
  padding-right: 31px;
}
.course-for__text {
  font-size: 15px;
  line-height: 17px;
  margin-bottom: 29px;
  color: rgba(51,57,70,0.7);
}
.course-for__items {
  counter-reset: cntr;
}
.course-for__item {
  font-weight: 400;
  margin-bottom: 4px;
  width: 82.5%;
}
.course-for__item-counter {
  padding-bottom: 12px;
  position: relative;
}
.course-for__item-counter:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: #333946;
}
.course-for__item-counter:before {
  counter-increment: cntr;
  content: counter(cntr, decimal-leading-zero);
  font-size: 40px;
  line-height: 46px;
}
.course-for__item-text {
  padding-top: 9px;
  font-size: 20px;
  letter-spacing: 0.01em;
  line-height: 26px;
}
.course-for__item:nth-child(2n) {
  margin-left: auto;
  text-align: right;
}
@media (min-width: 768px) {
  .course-for {
    margin-bottom: 67px;
  }
  .course-for__title {
    margin-bottom: 30px;
  }
  .course-for__text {
    margin-bottom: 49px;
    width: 319px;
  }
  .course-for__items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
  }
  .course-for__item {
    width: auto;
    padding-left: 20px;
  }
  .course-for__item:nth-child(1) {
    order: -1;
    width: 264px;
  }
  .course-for__item:nth-child(2) {
    width: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  .course-for__item:nth-child(2) .course-for__item-in {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
  }
  .course-for__item:nth-child(3) {
    order: -1;
    width: 332px;
    margin-left: auto;
  }
  .course-for__item:nth-child(3) .course-for__item-counter:after {
    right: -10000px;
  }
}
@media (min-width: 1200px) {
  .course-for {
    margin-bottom: 154px;
  }
  .course-for__title {
    margin-bottom: 54px;
  }
  .course-for__text {
    margin-bottom: 49px;
    font-size: 24px;
    line-height: 28px;
    width: 590px;
  }
  .course-for__item {
    width: 382px;
  }
  .course-for__item:nth-child(1) {
    width: 382px;
  }
  .course-for__item:nth-child(2) {
    padding-left: 19%;
  }
  .course-for__item:nth-child(2) .course-for__item-in {
    width: 382px;
  }
  .course-for__item:nth-child(3) {
    width: 382px;
  }
  .course-for__item:nth-child(3) .course-for__item-counter:after {
    right: 0;
  }
  .course-for__item-counter {
    padding-bottom: 18px;
  }
  .course-for__item-counter:before {
    font-size: 64px;
  }
  .course-for__item-text {
    font-size: 24px;
    margin-top: 7px;
    line-height: 26px;
    letter-spacing: 0.01em;
  }
}
@media (min-width: 1366px) {
  .course-for__item:nth-child(2) {
    padding-left: 0;
  }
}
