.course-intro {
  position: relative;
  overflow: hidden;
  padding-top: 13px;
  background-color: #e0fb52;
  background-clip: content-box;
  -webkit-overflow-scrolling: touch;
}
.course-intro__square1,
.course-intro__square2,
.course-intro__square3,
.course-intro__square4 {
  position: absolute;
  display: none;
  height: 13px;
}
.course-intro__square2 {
  display: block;
  left: 0;
  top: 0;
  width: calc(50% + 3px);
  z-index: 2;
  border-radius: 0 3px 3px 0;
  background-color: #fff;
}
.course-intro__square3 {
  display: block;
  right: 0;
  top: 0;
  width: 50%;
  border-radius: 15px 0 0 0;
  background-color: #e0fb52;
}
.course-intro__scroll-to {
  position: absolute;
  top: 79px;
  right: 0;
  color: #333946;
  z-index: 1;
  text-decoration: none;
  padding: 9px 11px 0 12px;
  background-color: #fff;
}
.course-intro__scroll-to:hover {
  color: #333946;
  text-decoration: none;
}
.course-intro__scroll-to:hover .svg-icon {
  transform: translateY(3px);
}
.course-intro__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  position: relative;
}
.course-intro__icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.course-intro__icon .svg-icon {
  display: block;
  width: 9px;
  height: 10px;
  transition: transform 0.3s;
}
.course-intro__image {
  display: none;
}
.course-intro__image img {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}
.course-intro__container {
  position: relative;
  padding-top: 25px;
  padding-bottom: 14px;
}
.course-intro__tags {
  display: flex;
  flex-wrap: wrap;
  margin-left: -9px;
  margin-bottom: 25px;
}
.course-intro__tag {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(33.3333% - 9px);
  width: calc(33.3333% - 9px);
  margin-left: 9px;
  padding: 8px 0;
  font-size: 7px;
  line-height: 8px;
  border-radius: 5px;
  text-transform: none;
}
.course-intro__tag:hover {
  color: #e0fb52;
}
.course-intro__header {
  margin: 0 0 11px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 350;
  padding-right: 78px;
}
.course-intro__text {
  font-weight: 350;
  font-size: 12px;
  line-height: 18px;
  color: rgba(51,57,70,0.7);
  margin-bottom: 24px;
  width: 322px;
  max-width: 100%;
}
.course-intro__buttons {
  display: flex;
  margin-left: -24px;
}
.course-intro__buttons .site-button {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(50% - 24px);
  max-width: calc(50% - 24px);
  width: calc(50% - 24px);
  margin-left: 24px;
  font-size: 11px;
  font-weight: 400;
  padding: 7px 0 8px;
  border-radius: 5px;
}
.course-intro__buttons .site-button--icon {
  background-color: transparent;
  color: #333946;
  border: 1px solid #333946;
}
.course-intro__buttons .site-button--icon:hover {
  background-color: #4c5468;
  color: #e0fb52;
}
.course-intro__buttons .site-button--icon .svg-icon {
  display: block;
  flex: 0 0 24px;
  max-width: 24px;
  width: 24px;
  margin-right: 15px;
}
@media (min-width: 414px) {
  .course-intro__tag {
    flex: none;
    width: auto;
    max-width: none;
    padding: 8px 13px;
  }
  .course-intro__buttons .site-button {
    flex: 0 0 148px;
    max-width: 148px;
    width: 148px;
  }
}
@media (min-width: 768px) {
  .course-intro {
    padding-top: 16px;
    margin-top: 20px;
  }
  .course-intro__square1,
  .course-intro__square2,
  .course-intro__square3,
  .course-intro__square4 {
    height: 16px;
  }
  .course-intro__square1 {
    display: block;
    position: absolute;
    left: 0;
    top: 10px;
    height: 6px;
    background-color: #e0fb52;
    width: 72px;
    border-radius: 0 12px 0 0;
  }
  .course-intro__square2 {
    width: auto;
    left: 72px;
    right: 258px;
    border-radius: 0 5px 3px 10px;
  }
  .course-intro__square3 {
    width: 262px;
  }
  .course-intro__scroll-to {
    top: 171px;
    padding-right: 154px;
  }
  .course-intro__image {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
  }
  .course-intro__image {
    width: 533px;
  }
  .course-intro__container {
    padding-top: 45px;
    padding-bottom: 55px;
  }
  .course-intro__tags {
    margin-left: -10px;
    margin-bottom: 22px;
  }
  .course-intro__tag {
    font-size: 9px;
    line-height: 10px;
    padding: 9px 12px;
    margin-left: 10px;
  }
  .course-intro__content {
    width: 408px;
    max-width: 100%;
  }
  .course-intro__header {
    font-size: 36px;
    line-height: 29px;
    margin-bottom: 22px;
    padding-right: 0;
  }
  .course-intro__text {
    width: auto;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
  }
  .course-intro__buttons {
    margin-left: -27px;
  }
  .course-intro__buttons .site-button {
    margin-left: 27px;
    font-size: 13px;
    line-height: 16px;
    padding: 9px 15px 10px;
    flex: none;
    width: auto;
    max-width: none;
  }
}
@media (min-width: 1200px) {
  .course-intro {
    padding-top: 21px;
  }
  .course-intro__square1,
  .course-intro__square2,
  .course-intro__square3,
  .course-intro__square4 {
    height: 21px;
  }
  .course-intro__square1 {
    width: 217px;
    height: 16px;
    top: 13px;
  }
  .course-intro__square2 {
    left: 212px;
    right: 508px;
    border-radius: 0 0 4px 4px;
  }
  .course-intro__square3 {
    width: 510px;
    border-radius: 10px 0 0 0;
  }
  .course-intro__scroll-to {
    top: 199px;
    padding: 20px 131px 2px 78px;
  }
  .course-intro__icon {
    width: 82px;
    height: 82px;
  }
  .course-intro__icon .svg-icon {
    width: 13px;
    height: 15px;
  }
  .course-intro__image {
    width: 690px;
  }
  .course-intro__container {
    padding-top: 60px;
    padding-bottom: 29px;
  }
  .course-intro__tags {
    margin-bottom: 35px;
  }
  .course-intro__header {
    font-size: 64px;
    line-height: 48px;
  }
  .course-intro__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 48px;
  }
  .course-intro__buttons {
    margin-left: -29px;
  }
  .course-intro__buttons .site-button {
    font-size: 15px;
    line-height: 16px;
    padding: 11px 12px 11px;
    margin-left: 29px;
  }
}
@media (min-width: 1440px) {
  .course-intro__square2 {
    right: 695px;
  }
  .course-intro__square3 {
    border-radius: 10px 10px 0 0;
    width: 554px;
    right: 143px;
  }
  .course-intro__square4 {
    display: block;
    top: 0;
    right: 0;
    width: 146px;
    z-index: 2;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
  }
  .course-intro__scroll-to {
    padding: 20px 151px 2px 82px;
  }
  .course-intro__image {
    width: 875px;
  }
  .course-intro__tag {
    font-size: 9px;
    line-height: 10px;
    padding: 9px 12px;
  }
  .course-intro__header {
    margin-bottom: 40px;
  }
}
@media (min-width: 1600px) {
  .course-intro__square1 {
    width: 407px;
  }
  .course-intro__square2 {
    left: 402px;
  }
  .course-intro__scroll-to {
    padding-right: 280px;
    padding-left: 78px;
  }
  .course-intro__image {
    width: 1140px;
  }
}
@media (min-width: 1920px) {
  .course-intro__square2 {
    right: 957px;
  }
  .course-intro__square3 {
    right: 407px;
    width: 553px;
  }
  .course-intro__square4 {
    width: 410px;
  }
  .course-intro__scroll-to {
    padding-right: 428px;
  }
}
