.course-program {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.course-program__title {
  margin-bottom: 29px;
  margin-top: 0;
}
.course-program__title-l {
  font-size: 20px;
  margin-bottom: 29px;
  font-weight: 400;
}
.course-program__text {
  display: none;
}
.course-program .decor-title span {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 17px;
}
.course-program__item {
  position: relative;
  text-align: right;
  font-weight: 400;
}
.course-program__item:last-child {
  padding-bottom: 35px;
}
.course-program__item:last-child:after {
  bottom: 35px;
}
.course-program__item:last-child:before {
  content: '';
  position: absolute;
  left: -10000px;
  right: -10000px;
  bottom: 0;
  height: 35px;
  background: #e0fb52;
}
.course-program__item:after {
  content: '';
  position: absolute;
  left: -10000px;
  top: 0;
  right: -10000px;
  bottom: 0;
  background: #333946;
  z-index: -1;
}
.course-program__item-counter {
  display: none;
}
.course-program__item-title {
  font-size: 16px;
  line-height: 16px;
  padding-right: 34px;
  padding-left: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.course-program__item-title.active:after {
  opacity: 0;
}
.course-program__item-title.active .course-program__item-cross:after {
  transform: rotate(45deg);
}
.course-program__item-title:after {
  content: '';
  position: absolute;
  left: -10000px;
  right: 0;
  bottom: 0;
  height: 1px;
  background: #333946;
  transition: 0.15s opacity;
}
.course-program__item-title:before {
  content: '';
  position: absolute;
  left: -10000px;
  top: 0;
  right: -10000px;
  bottom: 0;
  background: #e0fb52;
  z-index: -1;
}
.course-program__item-cross {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.course-program__item-cross:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url("data:image/svg+xml,%0A%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_455_94903)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.77422 16.4501L7.77422 0.337158L9.01367 0.337158L9.01367 16.4501L7.77422 16.4501Z' fill='%23333946'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.337275 7.77393L16.4502 7.77393L16.4502 9.01338L0.337274 9.01338L0.337275 7.77393Z' fill='%23333946'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_455_94903'%3E%3Crect width='16.1129' height='16.1129' fill='white' transform='translate(16.4502 0.337158) rotate(90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") center center no-repeat;
  background-size: contain;
  transition: 0.25s transform;
}
.course-program__item-body {
  position: relative;
  color: #fff;
  display: none;
}
.course-program__item-body-in {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
.course-program__item-text {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.01em;
}
.course-program__item-text-title {
  display: none;
}
@media (min-width: 768px) {
  .course-program__header {
    display: flex;
  }
  .course-program__title-l,
  .course-program__title {
    margin-bottom: 28px;
  }
  .course-program__title-l {
    order: -1;
    padding-top: 20px;
  }
  .course-program__title {
    width: auto;
    margin-left: auto;
    min-width: 387px;
  }
  .course-program__text {
    font-size: 20px;
    display: block;
    color: rgba(51,57,70,0.7);
    text-align: right;
    line-height: 23px;
    margin-left: auto;
    margin-bottom: 30px;
    width: 389px;
  }
  .course-program__item-title {
    font-size: 20px;
    display: flex;
    padding: 21px 46px 21px 0;
    margin-left: auto;
  }
  .course-program__item-title-text {
    margin-left: auto;
  }
  .course-program__item-cross {
    width: 21px;
    height: 21px;
  }
  .course-program__item-counter {
    display: block;
    background: #333946;
    color: #fff;
    font-size: 15px;
    padding: 8px 5px;
    min-width: 78px;
    text-align: center;
    line-height: 1;
    margin-right: 25px;
    align-self: flex-start;
    margin-top: -17px;
    font-weight: 350;
  }
  .course-program__item-text {
    font-size: 15px;
    line-height: 17px;
  }
  .course-program__item-body-in {
    display: flex;
    text-align: left;
    align-items: center;
  }
  .course-program__item-text-title {
    margin-right: 31px;
    display: block;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    flex: none;
    width: 35.715%;
  }
}
@media (min-width: 1200px) {
  .course-program__item {
    margin-right: -52px;
  }
  .course-program__item:last-child {
    padding-bottom: 73px;
  }
  .course-program__item:last-child:before {
    height: 73px;
  }
  .course-program__item-title {
    font-size: 30px;
    padding-right: 52px;
    padding: 13px 52px 13px 0;
  }
  .course-program__item-title-text {
    line-height: 34px;
  }
  .course-program__item-title:after {
    left: -65px;
  }
  .course-program__item-counter {
    font-size: 20px;
    min-width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -10px;
  }
  .course-program__item-cross {
    width: 30px;
    height: 30px;
  }
  .course-program__item-body-in {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .course-program__item-text {
    width: 522px;
    margin-left: auto;
    font-size: 20px;
    line-height: 24px;
    padding-right: 52px;
  }
  .course-program__item-text-title {
    font-size: 32px;
    font-weight: 350;
    line-height: 34px;
    width: 365px;
  }
}
@media (min-width: 1366px) {
  .course-program__item {
    padding-left: 63px;
    padding-right: 28px;
    margin-right: 0;
  }
  .course-program__item-title:after {
    left: 0;
  }
}
