.course-thumb {
  position: relative;
  background-color: #fff;
  box-shadow: 0px 4px 50px rgba(0,0,0,0.1);
  border-radius: 5px;
  display: inline-flex;
  padding: 15px 15px 17px 13px;
  min-width: 272px;
  text-decoration: none;
  color: #333946;
}
.course-thumb:hover {
  text-decoration: none;
  color: #333946;
}
.course-thumb:hover .course-thumb__arrow {
  color: #e0fb52;
}
.course-thumb__image {
  margin-right: 12px;
  flex: 0 0 112px;
  max-width: 112px;
  width: 112px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.course-thumb__image img {
  display: block;
  width: 100%;
  height: auto;
}
.course-thumb__body {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.course-thumb__body .i-rating {
  flex: none;
  margin-bottom: 7px;
}
.course-thumb__title {
  display: inline-flex;
  background-color: #f0f2f6;
  font-weight: 400;
  text-transform: uppercase;
  color: #333946;
  flex: none;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 14px;
  padding: 6px 12px;
}
.course-thumb__buttons {
  display: flex;
  align-items: center;
  flex: none;
  align-self: stretch;
  margin-top: auto;
}
.course-thumb__label {
  font-weight: 400;
  color: #333946;
  font-size: 12px;
  line-height: 19px;
  padding: 5px 15px 6px;
  flex-shrink: 0;
  background-color: #e0fb52;
}
.course-thumb__arrow {
  margin-left: auto;
  flex: 0 0 21px;
  max-width: 21px;
  width: 21px;
  transition: color 0.3s;
}
.course-thumb__arrow .svg-icon {
  display: block;
  width: 21px;
  height: 21px;
}
.course-thumb__line {
  display: none;
}
.course-thumb__line img {
  display: block;
  width: 84px;
  height: auto;
}
@media (min-width: 1440px) {
  .course-thumb {
    min-width: 243px;
  }
  .course-thumb__image {
    flex: 0 0 96px;
    max-width: 96px;
    width: 96px;
  }
  .course-thumb__title {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 16px;
  }
  .course-thumb__label {
    font-size: 10px;
    line-height: 19px;
    padding: 3px 14px;
  }
  .course-thumb__arrow {
    flex: 0 0 15px;
    max-width: 15px;
    width: 15px;
  }
  .course-thumb__arrow .svg-icon {
    width: 15px;
    height: 15px;
  }
  .course-thumb__line {
    display: block;
    position: absolute;
    left: 72px;
    top: 100%;
    pointer-events: none;
  }
}
@media (min-width: 1600px) {
  .course-thumb {
    min-width: 272px;
  }
  .course-thumb__image {
    flex: 0 0 112px;
    max-width: 112px;
    width: 112px;
  }
  .course-thumb__title {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 14px;
  }
  .course-thumb__label {
    font-size: 12px;
    line-height: 19px;
    padding: 5px 15px 6px;
  }
  .course-thumb__arrow {
    flex: 0 0 21px;
    max-width: 21px;
    width: 21px;
  }
  .course-thumb__arrow .svg-icon {
    width: 21px;
    height: 21px;
  }
  .course-thumb__line {
    left: 75px;
  }
  .course-thumb__line img {
    width: 90px;
  }
}
