.decor-title {
  font-size: 32px;
  line-height: 37px;
}
.decor-title span {
  position: relative;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
}
.decor-title span:before {
  content: '';
  position: absolute;
  background: #f0f2f6;
  top: 0;
  bottom: 0;
  z-index: -1;
  left: -100000px;
  right: 0;
}
.decor-title.t-right {
  text-align: right;
}
.decor-title.t-right span {
  padding-left: 13px;
}
.decor-title.t-right span:before {
  left: 0;
  right: -100000px;
}
@media (min-width: 768px) {
  .decor-title span {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .decor-title {
    font-size: 64px;
    line-height: 84px;
  }
  .decor-title:before {
    height: 100px;
  }
  .decor-title span {
    padding-top: 7px;
    padding-bottom: 9px;
  }
  .app-home .decor-title {
    font-size: 72px;
  }
}
