.discount-list {
  text-align: left;
}
.discount-list__items {
  display: table;
  width: 100%;
  max-width: 618px;
  margin-left: auto;
  margin-right: auto;
}
.discount-list__item {
  display: table-row;
  color: #8f93a3;
  font-size: 15px;
  font-weight: 350;
}
.discount-list__item--header {
  color: #333946;
}
.discount-list__item--header .discount-list__item-col {
  padding-top: 0;
}
.discount-list__item-col {
  display: table-cell;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 40%;
}
.discount-list__item-col:nth-child(2) {
  width: 38%;
}
.discount-list__footer {
  margin-top: 15px;
  border-top: 1px solid #d4d4dd;
  padding-top: 23px;
  text-align: center;
}
.discount-list__footer .site-button {
  width: 100%;
  max-width: 384px;
  font-size: 20px;
  font-weight: 400;
  color: #e0fb52;
}
@media (min-width: 768px) {
  .discount-list__item {
    font-size: 18px;
  }
  .discount-list__item-col {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .discount-list__footer .site-button {
    min-height: 56px;
    padding-bottom: 15px;
  }
}
