.download-example {
  width: 241px;
}
.download-example__header {
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 13px;
}
.download-example__button {
  display: flex;
}
.download-example__button .site-button {
  font-weight: 350;
  font-size: 15px;
  line-height: 17px;
  flex: 1 1;
  padding: 0;
  height: 40px;
}
.download-example__icon {
  flex: 0 0 40px;
  max-width: 40px;
  width: 40px;
  border-radius: 16px;
  display: block;
  background-color: #333946;
  margin-right: 10px;
}
.download-example__icon img {
  display: block;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .download-example {
    margin: 0 auto 0;
    transform: translateX(54px);
  }
}
@media (min-width: 1200px) {
  .download-example {
    margin: -22px auto 0;
    width: 281px;
    transform: translateX(-24px);
  }
  .download-example__button .site-button {
    font-size: 16px;
    line-height: 19px;
    height: 46px;
  }
  .download-example__icon {
    flex: 0 0 46px;
    max-width: 46px;
    width: 46px;
    margin-right: 12px;
  }
}
