.find-qr {
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.find-qr__decor {
  position: absolute;
  left: 0;
  width: 100%;
  top: 320px;
  height: 87px;
  background-color: #333946;
}
.find-qr__container {
  position: relative;
}
.find-qr__header.decor-title {
  font-size: 32px;
  line-height: 28px;
  font-weight: 400;
  margin: 0 0 17px auto;
}
.find-qr__header.decor-title span {
  padding: 22px 0 22px;
  width: 100%;
}
.find-qr__header.decor-title span br {
  display: none;
}
.find-qr__images {
  text-align: center;
}
.find-qr__image1 {
  margin-left: -18px;
  margin-right: -45px;
}
.find-qr__image1 img {
  max-width: none;
  display: block;
  width: 100%;
}
.find-qr__image2 {
  width: 86%;
  margin: -25px auto 0;
}
.find-qr__image2 img {
  display: block;
  max-width: none;
  width: 100%;
  position: relative;
  left: 9px;
}
@media (min-width: 768px) {
  .find-qr {
    margin-bottom: 91px;
  }
  .find-qr__decor {
    top: 325px;
  }
  .find-qr__header.decor-title {
    margin-bottom: 100px;
    width: 374px;
  }
  .find-qr__header.decor-title span {
    padding-left: 20px;
  }
  .find-qr__images {
    display: flex;
  }
  .find-qr__image1 {
    margin: 0 0 0 1px;
    padding-top: 6px;
  }
  .find-qr__image1 img {
    width: 493px;
  }
  .find-qr__image2 {
    width: auto;
    margin: 0 -45px 0 2px;
  }
  .find-qr__image2 img {
    width: 276px;
    left: 0;
  }
}
@media (min-width: 1200px) {
  .find-qr {
    margin-bottom: 120px;
  }
  .find-qr__decor {
    height: 102px;
    top: 374px;
  }
  .find-qr__header.decor-title {
    width: 661px;
    font-size: 64px;
    line-height: 48px;
    font-weight: 350;
  }
  .find-qr__header.decor-title span {
    padding: 2px 11px 2px 0;
  }
  .find-qr__image1 {
    margin-left: -68px;
    flex-shrink: 0;
  }
  .find-qr__image1 img {
    width: 779px;
  }
  .find-qr__image2 {
    margin-top: -4px;
    margin-left: -4px;
    flex-shrink: 0;
  }
  .find-qr__image2 img {
    width: 436px;
  }
}
@media (min-width: 1280px) {
  .find-qr__image1 {
    margin-left: -98px;
  }
}
@media (min-width: 1366px) {
  .find-qr__image1 {
    margin-left: 0;
  }
}
@media (min-width: 1440px) {
  .find-qr__header.decor-title {
    width: 650px;
  }
  .find-qr__header.decor-title span {
    padding-right: 0;
  }
  .find-qr__image1 {
    margin-left: -17px;
  }
}
@media (min-width: 1600px) {
  .find-qr__header.decor-title span br {
    display: block;
  }
  .find-qr__image1 {
    margin-left: 0;
  }
}
