.l-menu {
  background: #333946;
  width: 238px;
  color: #fff;
  position: absolute;
  top: 0;
  margin-left: -20px;
  left: 0;
  z-index: 1;
  transform: translateX(-100%);
  transition: 0.3s transform;
  z-index: 1;
}
.l-menu.is-opened {
  transform: translateX(0);
}
.l-menu.is-opened .l-menu__button .svg-icon {
  transform: rotate(180deg);
}
.l-menu:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 162px;
  border-right: 10px solid #e0fb52;
  pointer-events: none;
}
.l-menu:after {
  content: '';
  position: absolute;
  right: 0;
  width: 19px;
  height: 19px;
  top: 232px;
  background: url("../img/l-menu-corner.png") 0 0 no-repeat;
  background-size: contain;
  pointer-events: none;
}
.l-menu__button {
  position: absolute;
  right: -31px;
  width: 31px;
  height: 62px;
  background: #333946;
  top: 69px;
  display: flex;
  align-items: center;
  padding-left: 2px;
  justify-content: center;
  border-radius: 0 100px 100px 0;
  border: 0;
}
.l-menu__button:active {
  background: #545e73;
}
.l-menu__button .svg-icon {
  width: 11px;
  height: 9px;
  fill: #e0fb52;
}
.l-menu__title {
  font-size: 14px;
  margin-bottom: 47px;
  line-height: 16px;
}
.l-menu__in {
  padding: 35px 18px 63px 36px;
  max-height: 1195px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.l-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.l-menu ul li {
  margin-bottom: 46px;
}
.l-menu ul li:last-child {
  margin-bottom: 0;
}
.l-menu ul li a {
  display: inline-block;
  padding-left: 25px;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 375;
  color: #fff;
  font-family: "GT Eesti Pro Text";
  position: relative;
}
.l-menu ul li a:hover:before,
.l-menu ul li a.is-active:before {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='12' height='22' viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.751244 0.114195C0.481832 0.254194 0.217602 0.564631 0.0984388 0.881151C0.00518099 1.11246 0 1.5568 0 10.6568V20.1829L0.129525 20.4933C0.36785 21.0533 0.792692 21.3272 1.37814 21.2907C1.84443 21.2664 2.17602 21.0472 2.40916 20.609L2.56459 20.3107L2.58013 10.7177L2.5905 1.13072L2.46097 0.814196C2.32108 0.4855 2.09312 0.235935 1.78744 0.0837612C1.53875 -0.0379791 1.00511 -0.0258045 0.751244 0.114195Z' fill='%23E0FB52'/%3E%3Cpath d='M10.0794 0.114195C9.80996 0.254194 9.54573 0.564631 9.42656 0.881151C9.33331 1.11246 9.32812 1.5568 9.32812 10.6568V20.1829L9.45765 20.4933C9.69598 21.0533 10.1208 21.3272 10.7063 21.2907C11.1726 21.2664 11.5041 21.0472 11.7373 20.609L11.8927 20.3107L11.9083 10.7177L11.9186 1.13072L11.7891 0.814196C11.6492 0.4855 11.4212 0.235935 11.1156 0.0837612C10.8669 -0.0379791 10.3332 -0.0258045 10.0794 0.114195Z' fill='%23E0FB52'/%3E%3Cpath d='M5.4114 3.15769C5.14199 3.29769 4.87776 3.60813 4.7586 3.92465C4.66534 4.15595 4.66016 4.50291 4.66016 10.6568V17.1394L4.78968 17.4499C5.02801 18.0099 5.45285 18.2838 6.0383 18.2473C6.50459 18.2229 6.83617 18.0038 7.06932 17.5655L7.22475 17.2673L7.24029 10.7177L7.25065 4.17422L7.12113 3.85769C6.98124 3.529 6.75328 3.27943 6.4476 3.12726C6.19891 3.00552 5.66527 3.01769 5.4114 3.15769Z' fill='%23E0FB52'/%3E%3C/svg%3E%0A");
}
.l-menu ul li a:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 22px;
  transition: 0.3s background;
  background: url("data:image/svg+xml,%0A%3Csvg width='12' height='22' viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.751244 0.114195C0.481832 0.254195 0.217602 0.56463 0.0984388 0.881152C0.00518099 1.11246 0 1.5568 0 10.6568V20.1829L0.129525 20.4933C0.36785 21.0533 0.792692 21.3272 1.37814 21.2907C1.84443 21.2664 2.17602 21.0472 2.40916 20.609L2.56459 20.3107L2.58013 10.7177L2.5905 1.13072L2.46097 0.814195C2.32108 0.4855 2.09312 0.235934 1.78744 0.0837604C1.53875 -0.0379787 1.00511 -0.0258048 0.751244 0.114195Z' fill='%23525967'/%3E%3Cpath d='M10.0794 0.114195C9.80996 0.254195 9.54573 0.56463 9.42656 0.881152C9.33331 1.11246 9.32812 1.5568 9.32812 10.6568V20.1829L9.45765 20.4933C9.69598 21.0533 10.1208 21.3272 10.7063 21.2907C11.1726 21.2664 11.5041 21.0472 11.7373 20.609L11.8927 20.3107L11.9083 10.7177L11.9186 1.13072L11.7891 0.814195C11.6492 0.4855 11.4212 0.235934 11.1156 0.0837604C10.8669 -0.0379787 10.3332 -0.0258048 10.0794 0.114195Z' fill='%23525967'/%3E%3Cpath d='M5.4114 3.15769C5.14199 3.29769 4.87776 3.60813 4.7586 3.92465C4.66534 4.15595 4.66016 4.50291 4.66016 10.6568V17.1394L4.78968 17.4499C5.02801 18.0099 5.45285 18.2838 6.0383 18.2473C6.50459 18.2229 6.83617 18.0038 7.06932 17.5655L7.22475 17.2673L7.24029 10.7177L7.25065 4.17422L7.12113 3.85769C6.98124 3.529 6.75328 3.27943 6.4476 3.12726C6.19891 3.00552 5.66527 3.01769 5.4114 3.15769Z' fill='%23525967'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
  background-size: contain;
}
@media (min-width: 768px) {
  .l-menu {
    position: static;
    transform: translateX(0);
    margin-bottom: 25px;
    width: auto;
  }
  .l-menu__button {
    display: none;
  }
  .l-menu__in {
    max-height: none;
    overflow: visible;
    padding: 45px 20px 63px;
  }
}
@media (min-width: 992px) {
  .l-menu {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .l-menu__in {
    padding: 60px 59px 32px 39px;
  }
  .l-menu__title {
    font-size: 20px;
    margin-bottom: 37px;
    font-weight: 400;
    line-height: 23px;
  }
  .l-menu ul li a {
    font-size: 16px;
    line-height: 19px;
  }
}
