.possibilities {
  overflow: hidden;
  position: relative;
  margin-bottom: 70px;
  -webkit-overflow-scrolling: touch;
}
.possibilities .www-line {
  display: block;
  top: 560px;
}
.possibilities .www-line img {
  margin-left: 345px;
}
.possibilities__decor-star {
  position: absolute;
  right: 0;
  top: 574px;
  z-index: 1;
}
.possibilities__decor-star img {
  display: block;
}
.possibilities__container {
  position: relative;
}
.possibilities__header {
  margin: 0 0 41px;
  width: 241px;
  margin-left: auto;
}
.possibilities__header.decor-title span {
  padding: 0 0 1px;
}
.possibilities__item {
  margin-top: 99px;
}
.possibilities__item:first-child {
  margin-top: 0;
}
.possibilities__item:nth-child(even) .possibilities__title {
  margin-left: -21px;
  padding-left: 21px;
}
.possibilities__counter {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 9px;
}
.possibilities__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 33px;
  padding-bottom: 25px;
  margin-bottom: 27px;
  border-bottom: 1px solid rgba(51,57,70,0.28);
}
.possibilities__text {
  font-family: "GT Eesti Pro Text";
  font-weight: 350;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #525967;
  margin-bottom: 31px;
}
.possibilities__image img {
  display: block;
  max-width: 100%;
}
@media (min-width: 768px) {
  .possibilities {
    margin-bottom: 115px;
  }
  .possibilities .www-line {
    top: 409px;
  }
  .possibilities .www-line img {
    margin-left: 259px;
  }
  .possibilities__decor-star {
    right: auto;
    left: 180px;
    top: 453px;
  }
  .possibilities__header {
    margin-bottom: 125px;
  }
  .possibilities__header.decor-title {
    width: auto;
  }
  .possibilities__header.decor-title span {
    padding: 15px 0 15px 104px;
  }
  .possibilities__item {
    display: flex;
    margin-top: 85px;
  }
  .possibilities__item:first-child {
    margin-top: 0;
  }
  .possibilities__item:first-child .possibilities__body {
    padding-top: 28px;
  }
  .possibilities__item:nth-child(even) {
    flex-direction: row-reverse;
  }
  .possibilities__item:nth-child(even) .possibilities__body {
    padding-left: 21px;
  }
  .possibilities__item:nth-child(even) .possibilities__image {
    margin-left: 0;
    margin-right: auto;
  }
  .possibilities__body {
    flex: 0 0 265px;
    max-width: 265px;
    width: 265px;
  }
  .possibilities__counter {
    margin-bottom: 8px;
  }
  .possibilities__title {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 34px;
    border: none;
  }
  .possibilities__image {
    margin-left: auto;
    flex: none;
  }
  .possibilities__image img {
    width: 338px;
  }
  .possibilities__image img[src$="possibilities-pic1.png"] {
    width: 338px;
  }
  .possibilities__image img[src$="possibilities-pic2.png"] {
    width: 288px;
  }
  .possibilities__image img[src$="possibilities-pic3.png"] {
    width: 248px;
    margin-top: 7px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .possibilities__image img[src$="possibilities-pic2.png"] {
    width: 466px;
  }
}
@media (min-width: 1200px) {
  .possibilities {
    margin-bottom: 157px;
  }
  .possibilities .www-line {
    top: 646px;
  }
  .possibilities .www-line img {
    margin-left: 332px;
  }
  .possibilities__decor-star {
    left: 50%;
    top: 696px;
    z-index: -1;
    transform: translateX(-50%);
  }
  .possibilities__decor-star img {
    width: 183px;
    height: 114px;
  }
  .possibilities__header {
    margin-bottom: 120px;
  }
  .possibilities__header.decor-title {
    width: 768px;
  }
  .possibilities__header.decor-title span {
    padding: 2px 0 0 0;
  }
  .possibilities__header.decor-title span:before {
    height: 100px;
  }
  .possibilities__item:last-child .possibilities__body {
    flex: 0 0 365px;
    max-width: 365px;
    width: 365px;
  }
  .possibilities__item:nth-child(even) .possibilities__body {
    flex: 0 0 392px;
    max-width: 392px;
    width: 392px;
    padding-left: 0;
  }
  .possibilities__item:nth-child(even) .possibilities__title {
    margin-left: 0;
    padding-left: 0;
  }
  .possibilities__body {
    flex: 0 0 390px;
    max-width: 390px;
    width: 390px;
  }
  .possibilities__counter {
    font-size: 39px;
    line-height: 55px;
    margin-bottom: -6px;
  }
  .possibilities__title {
    font-size: 39px;
    line-height: 55px;
    padding-bottom: 25px;
    margin-bottom: 29px;
  }
  .possibilities__title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid rgba(51,57,70,0.28);
    width: 323px;
  }
  .possibilities__text {
    font-size: 24px;
    line-height: 28px;
  }
  .possibilities__image img {
    width: 467px;
  }
  .possibilities__image img[src$="possibilities-pic1.png"] {
    width: 467px;
  }
  .possibilities__image img[src$="possibilities-pic3.png"] {
    width: 428px;
  }
}
@media (min-width: 1440px) {
  .possibilities {
    margin-bottom: 208px;
  }
  .possibilities .www-line {
    top: 678px;
  }
  .possibilities .www-line img {
    margin-left: 344px;
  }
  .possibilities__decor-star {
    top: 733px;
    margin-left: -3px;
  }
  .possibilities__header {
    margin-bottom: 183px;
  }
  .possibilities__header.decor-title {
    font-size: 64px;
    line-height: 74px;
  }
  .possibilities__header.decor-title span {
    padding: 15px 28px 0 350px;
  }
  .possibilities__item {
    margin-top: 55px;
  }
  .possibilities__item:first-child {
    margin-top: 56px;
  }
  .possibilities__item:last-child {
    margin-top: 89px;
  }
  .possibilities__counter {
    margin-bottom: -4px;
  }
  .possibilities__title {
    font-size: 36px;
    line-height: 50px;
    padding-bottom: 36px;
    margin-bottom: 29px;
  }
}
@media (min-width: 1600px) {
  .possibilities {
    margin-bottom: 96px;
  }
  .possibilities .www-line {
    top: 596px;
  }
  .possibilities__decor-star {
    top: 651px;
  }
  .possibilities__header {
    margin-bottom: 91px;
  }
  .possibilities__header.decor-title {
    font-size: 72px;
    line-height: 84px;
  }
  .possibilities__header.decor-title span {
    padding: 5px 0 0 350px;
  }
}
