.product-item {
  background: #333946;
  color: #fff;
  margin-bottom: 19px;
  display: flex;
  flex-direction: column;
  padding-bottom: 28px;
  font-size: 16px;
  line-height: 17px;
  font-weight: 350;
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.product-item:hover .product-item__decor {
  transform: translate(0, 0) rotate(0deg);
}
.product-item:hover .product-item__decor:before {
  transform: scale(1);
}
.product-item__decor {
  display: block;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  right: 0;
  width: 26px;
  height: 29px;
  z-index: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translate(120%, 77%) rotate(-13deg);
  transform-origin: bottom right;
  background-color: #e0fb52;
  transition: transform 0.5s;
  -webkit-overflow-scrolling: touch;
}
.product-item__decor:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: left top;
  transform: scale(0);
  transition: transform 0.5s;
  border-right: 17px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 10px solid #d9d9d9;
  border-top: 20px solid #d9d9d9;
}
.product-item__decor:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  border-top: 15px solid transparent;
  border-left: 10px solid transparent;
  border-right: 15px solid #e0fb52;
  border-bottom: 10px solid #e0fb52;
}
.product-item__top {
  padding: 23px 20px 11px;
}
.product-item__tags {
  display: flex;
  flex-wrap: wrap;
  margin-left: -7px;
  margin-bottom: 7px;
}
.product-item__tag {
  padding: 5px 4px;
  margin-left: 7px;
  width: calc(33.33% - 7px);
  background: #e0fb52;
  flex-grow: 1;
  font-size: 8px;
  line-height: 9px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #333946;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin-bottom: 8px;
  min-height: 21px;
}
.product-item__title {
  font-size: 20px;
  line-height: 23px;
  min-height: 60px;
  margin-bottom: 20px;
  font-weight: 400;
}
.product-item__title:after {
  content: '...';
  color: #e0fb52;
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
  margin-left: 15px;
  line-height: 1;
  margin-top: -13px;
}
.product-item__title a {
  color: #fff;
  text-decoration: none;
}
.product-item__title a:hover {
  color: #e0fb52;
}
.product-item__text {
  color: rgba(255,255,255,0.6);
}
.product-item__param {
  margin-top: 7px;
}
.product-item__footer {
  border-top: 1px solid #e0fb52;
  padding: 25px 20px 0;
  margin-top: auto;
}
.product-item__button {
  border: 0;
  padding: 0;
  border-radius: 10px;
  min-width: 212px;
  font-weight: 400;
  display: flex;
  align-items: stretch;
  cursor: pointer;
  background: #fff;
  color: #333946;
  transition: 0.25s background;
}
.product-item__button:hover {
  background: #d1d1d1;
}
.product-item__button-container {
  padding: 7px 10px 4px 16px;
  display: block;
  text-align: left;
  font-size: 12px;
}
.product-item__button-price {
  display: block;
  font-size: 24px;
  margin-top: 1px;
  line-height: 23px;
}
.product-item__button-icon {
  width: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #333946;
  margin-left: auto;
}
.product-item__button-icon .svg-icon {
  width: 21px;
  height: 21px;
}
@media (min-width: 1200px) {
  .product-item {
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 37px;
  }
  .product-item__top {
    padding-bottom: 15px;
    padding: 30px 25px 15px;
  }
  .product-item__title {
    font-size: 24px;
    min-height: 70px;
    margin-bottom: 18px;
  }
  .product-item__tags {
    margin-left: -10px;
    margin-bottom: 22px;
  }
  .product-item__tag {
    font-size: 8px;
    margin-left: 10px;
    padding-left: 3px;
    padding-right: 3px;
    letter-spacing: -0.06em;
    padding-top: 5px;
    min-height: 27px;
    width: calc(33.33% - 10px);
  }
  .product-item__text {
    margin-bottom: 28px;
  }
  .product-item__button {
    min-width: 276px;
  }
  .product-item__button-container {
    padding: 11px 0 8px 30px;
    font-size: 14px;
  }
  .product-item__button-price {
    margin-top: 5px;
  }
  .product-item__button-icon {
    width: 56px;
  }
  .product-item__button-icon .svg-icon {
    width: 26px;
    height: 26px;
  }
}
@media (min-width: 1366px) {
  .product-item {
    padding-bottom: 37px;
  }
  .product-item:after {
    width: 54px;
    height: 61px;
  }
  .product-item__footer {
    padding-top: 33px;
  }
  .product-item__tag {
    font-size: 9px;
    letter-spacing: 0;
  }
}
