html.remodal-is-locked {
  overflow: hidden;
  touch-action: none;
  -webkit-overflow-scrolling: touch;
}
.remodal,
[data-remodal-id] {
  display: none;
}
.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}
.remodal-wrapper:after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: "";
}
.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.remodal-is-initialized {
/* Disable Anti-FOUC */
  display: inline-block;
}
.remodal-wrapper {
  padding: 10px 10px 0;
}
.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.remodal.remodal-is-opening {
  -webkit-animation-name: remodal-opening-keyframes;
  animation-name: remodal-opening-keyframes;
}
.remodal.remodal-is-closing {
  -webkit-animation-name: remodal-closing-keyframes;
  animation-name: remodal-closing-keyframes;
}
.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}
.remodal {
  width: 100%;
  margin-bottom: 10px;
  max-width: 432px;
  background: #f4f5fa;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.25);
  border-radius: 16px;
  padding: 0;
  position: relative;
  outline: none;
  transform: translate3d(0, 0, 0);
}
.remodal .site-form {
  text-align: left;
}
.remodal .site-form__item {
  margin-top: 9px;
}
.remodal .site-form__item:first-child {
  margin-top: 0;
}
.remodal .site-form__item input:not([type="checkbox"]):not([type="radio"]),
.remodal .site-form__item textarea {
  padding-left: 30px;
  width: 100%;
  height: 49px;
  border-radius: 0;
  border: none;
  background: none;
  padding: 0;
  font-weight: 350;
  outline: none;
  font-size: 17px;
  color: ;
  border-bottom: 1px solid #d4d4dd;
}
.remodal .site-form__item input:not([type="checkbox"]):not([type="radio"])::-moz-placeholder, .remodal .site-form__item textarea::-moz-placeholder {
  color: #8f93a3;
}
.remodal .site-form__item input:not([type="checkbox"]):not([type="radio"]):-ms-input-placeholder, .remodal .site-form__item textarea:-ms-input-placeholder {
  color: #8f93a3;
}
.remodal .site-form__item input:not([type="checkbox"]):not([type="radio"])::placeholder,
.remodal .site-form__item textarea::placeholder {
  color: #8f93a3;
}
.remodal .site-form__item input:not([type="checkbox"]):not([type="radio"]):focus::-moz-placeholder, .remodal .site-form__item textarea:focus::-moz-placeholder {
  color: transparent;
}
.remodal .site-form__item input:not([type="checkbox"]):not([type="radio"]):focus:-ms-input-placeholder, .remodal .site-form__item textarea:focus:-ms-input-placeholder {
  color: transparent;
}
.remodal .site-form__item input:not([type="checkbox"]):not([type="radio"]):focus::placeholder,
.remodal .site-form__item textarea:focus::placeholder {
  color: transparent;
}
.remodal .site-form__item textarea {
  resize: none;
  height: 80px;
}
.remodal .site-form__item .i-phone .iti {
  width: 100%;
}
.remodal .site-form__item .i-phone .iti input[type="tel"] {
  padding-left: 60px;
}
.remodal .site-form__item .i-phone .iti__selected-flag {
  padding-left: 12px;
}
.remodal .site-form__button {
  margin-top: 32px;
  text-align: center;
}
.remodal .site-form__button .site-button {
  width: 100%;
  min-width: 0;
  border-radius: 10px;
  height: 56px;
  padding: 0;
  text-align: center;
  color: #e0fb52;
  font-size: 15px;
  font-weight: 500;
}
.remodal .site-form__iagree {
  margin-top: 37px;
  font-size: 12px;
  padding-left: 15px;
  line-height: 16px;
  font-weight: 300;
  color: #8f93a3;
  width: 286px;
  max-width: 100%;
}
.remodal__header {
  text-align: left;
  font-weight: 400;
  font-size: 34px;
  line-height: 36px;
  margin-bottom: 22px;
}
.remodal__close {
  position: absolute;
  top: 26px;
  right: 55px;
  cursor: pointer;
  padding: 0;
  width: 19px;
  height: 19px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: ;
  z-index: 1;
  border: none;
  padding: 0;
  background: none;
  transition: color 0.3s;
}
.remodal__close .svg-icon {
  display: block;
  width: 19px;
  height: 19px;
}
.remodal__close:hover {
  color: #333946;
}
.remodal__container {
  padding: 45px 20px 37px 20px;
}
.remodal-overlay {
  display: none;
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  background: rgba(255,255,255,0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.remodal-overlay.remodal-is-opening,
.remodal-overlay.is-multiple {
  -webkit-animation-name: remodal-overlay-opening-keyframes;
          animation-name: remodal-overlay-opening-keyframes;
}
.remodal-overlay.remodal-is-closing {
  -webkit-animation-name: remodal-overlay-closing-keyframes;
          animation-name: remodal-overlay-closing-keyframes;
}
.remodal--discount {
  max-width: 771px;
}
.remodal--discount .remodal__container {
  padding: 59px 20px 31px;
}
@-webkit-keyframes remodal-opening-keyframes {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes remodal-opening-keyframes {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes remodal-closing-keyframes {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-20%);
    opacity: 0;
  }
}
@keyframes remodal-closing-keyframes {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-20%);
    opacity: 0;
  }
}
@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media (min-width: 768px) {
  .remodal__header {
    font-size: 38px;
    line-height: 40px;
  }
  .remodal__container {
    padding: 45px 59px 37px 43px;
  }
}
