.selection-builder {
  margin-bottom: 54px;
}
.selection-builder__body {
  margin-bottom: 35px;
}
.selection-builder__header {
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
  margin: 0 0 35px;
  letter-spacing: -2px;
  color: #232536;
}
.selection-builder__text {
  font-size: 16px;
  line-height: 23px;
  font-weight: 350;
}
.selection-builder__text p {
  margin: 25px 0;
}
.selection-builder__text p:first-child {
  margin-top: 0;
}
.selection-builder__text p:last-child {
  margin-bottom: 0;
}
.selection-builder__aside ul,
.selection-builder__aside li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.selection-builder__aside ul li {
  position: relative;
  padding-left: 30px;
  font-size: 16px;
  line-height: 34px;
  margin-top: 20px;
}
.selection-builder__aside ul li:first-child {
  margin-top: 0;
}
.selection-builder__aside ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 15px;
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background-color: #333946;
}
@media (min-width: 768px) {
  .selection-builder {
    margin-bottom: 126px;
  }
  .selection-builder__content {
    display: flex;
    align-items: flex-start;
  }
  .selection-builder__body {
    margin-bottom: 0;
    padding: 25px 0 11px;
    position: relative;
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
    padding-right: 10px;
  }
  .selection-builder__body:before {
    content: '';
    position: absolute;
    right: -10px;
    top: 0;
    bottom: 0;
    opacity: 0.4;
    border-right: 1px solid #333946;
  }
  .selection-builder__header {
    margin-bottom: 10px;
  }
  .selection-builder__text p {
    margin: 60px 0;
  }
  .selection-builder__text p:first-child {
    margin-top: 0;
  }
  .selection-builder__text p:last-child {
    margin-bottom: 0;
  }
  .selection-builder__aside {
    flex: 1 1;
    padding: 0 0 0 50px;
    margin-top: -28px;
  }
}
@media (min-width: 1200px) {
  .selection-builder {
    margin-bottom: 165px;
  }
  .selection-builder__content {
    align-items: stretch;
  }
  .selection-builder__body {
    padding-top: 28px;
  }
  .selection-builder__body:before {
    right: 12px;
  }
  .selection-builder__header {
    font-size: 40px;
    line-height: 42px;
  }
  .selection-builder__text {
    font-size: 20px;
    line-height: 28px;
    width: 440px;
    padding-right: 0;
  }
  .selection-builder__text p {
    margin: 40px 0;
  }
  .selection-builder__text p:first-child {
    margin-top: 0;
  }
  .selection-builder__text p:last-child {
    margin-bottom: 0;
  }
  .selection-builder__aside {
    padding-left: 85px;
    margin-top: -7px;
    padding-bottom: 7px;
  }
  .selection-builder__aside ul li {
    font-size: 24px;
    line-height: 34px;
  }
}
@media (min-width: 1600px) {
  .selection-builder {
    margin-bottom: 162px;
  }
  .selection-builder__body {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% + 35px);
    max-width: calc(50% + 35px);
    width: calc(50% + 35px);
    padding-right: 0;
  }
  .selection-builder__body:before {
    right: 0;
  }
  .selection-builder__header {
    margin-bottom: 11px;
    font-size: 48px;
    line-height: 42px;
  }
  .selection-builder__text {
    font-size: 24px;
    line-height: 34px;
    width: 596px;
    padding-right: 0;
  }
  .selection-builder__text p {
    margin: 25px 0;
  }
  .selection-builder__text p:first-child {
    margin-top: 0;
  }
  .selection-builder__text p:last-child {
    margin-bottom: 0;
  }
}
