.site-squares {
  display: flex;
  flex-wrap: wrap;
}
.site-squares__item {
  position: relative;
  flex: 0 0 50%;
  max-width: 50%;
  width: 50%;
  min-height: 162px;
  background-color: #e0fb52;
  color: #333946;
}
.site-squares__item:first-child {
  background-color: #333946;
  color: #fff;
}
.site-squares__item:last-child {
  background-color: #333946;
  color: #fff;
}
.site-squares__counter {
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  position: absolute;
  left: 1px;
  top: 0;
}
.site-squares__title {
  font-size: 20px;
  line-height: 23px;
  padding: 39px 0 0 23px;
  font-weight: 400;
  width: 153px;
  max-width: 100%;
}
@media (min-width: 768px) {
  .site-squares__item {
    min-height: 180px;
  }
  .site-squares__title {
    line-height: 31px;
    padding: 39px 0 0 22px;
    width: 166px;
  }
}
@media (min-width: 1440px) {
  .site-squares__item {
    min-height: 258px;
  }
  .site-squares__counter {
    font-size: 32px;
    line-height: 31px;
  }
  .site-squares__title {
    font-size: 32px;
    line-height: 31px;
    padding: 62px 0 0 32px;
    width: 247px;
  }
}
