.site-form__item {
  position: relative;
  margin-bottom: 25px;
}
.site-form__item input {
  width: 100%;
  display: block;
  height: 48px;
  font-weight: 350;
  font-size: 16px;
}
.site-form__item input[required] {
  padding-left: 38px;
}
.site-form__item--submit {
  padding-top: 40px;
}
.site-form__item--upload .site-form__item-title {
  font-size: 15px;
  lin-height: 17px;
}
.site-form__item-title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 350;
  margin-bottom: 8px;
}
.site-form__asterisk {
  position: absolute;
  left: 25px;
  bottom: 21px;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background-color: #ced5e9;
}
.site-form__row {
  display: flex;
  margin-left: -15px;
}
.site-form__col {
  flex: 0 0 50%;
  max-width: 50%;
  width: 50%;
  padding-left: 15px;
}
.site-form .site-button {
  height: 48px;
  width: 100%;
  display: flex;
  align-self: flex-end;
  font-size: 16px;
  line-height: 19px;
}
@media (min-width: 768px) {
  .site-form__item-title {
    font-size: 15px;
    line-height: 17px;
  }
}
