.socials {
  margin-bottom: 17px;
}
.socials__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -25px;
}
.socials__item {
  margin-left: 25px;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials__item:hover img,
.socials__item:hover svg {
  transform: scale(1.25);
}
.socials__item img,
.socials__item svg {
  transition: 0.2s transform;
  max-width: 100%;
}
@media (min-width: 768px) {
  .socials {
    margin-bottom: 22px;
  }
}
@media (min-width: 1200px) {
  .socials {
    margin-bottom: 40px;
  }
  .socials__items {
    margin-left: -44px;
  }
  .socials__item {
    margin-left: 44px;
    width: 20px;
    height: 20px;
  }
  .socials__item img {
    width: 100%;
    max-height: 100%;
  }
}
