.subscribe {
  margin-bottom: 39px;
  background: #e0fb52;
  margin-left: -20px;
  margin-right: -20px;
  position: relative;
  padding: 23px 41px 21px;
}
.subscribe:before,
.subscribe:after {
  content: '';
  position: absolute;
}
.subscribe:before {
  top: -45px;
  right: 0;
  width: 104px;
  height: 103px;
  background: url("../img/subscribe-img1.png") center center no-repeat;
  background-size: 100% 100%;
}
.subscribe:after {
  top: 35px;
  right: 0;
  width: 80px;
  height: 81px;
  background: url("../img/subscribe-img2.png") center center no-repeat;
  background-size: 100% 100%;
}
.subscribe__content {
  max-width: 71.224%;
  margin: 0 auto;
}
.subscribe__title {
  margin-top: 0;
  font-size: 15px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 25px;
}
.subscribe__item {
  margin-bottom: 9px;
}
.subscribe__item input,
.subscribe__item textarea {
  border: 0;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 10px;
  width: 100%;
  font-weight: 350;
}
.subscribe__item input::-moz-placeholder, .subscribe__item textarea::-moz-placeholder {
  color: #808080;
}
.subscribe__item input:-ms-input-placeholder, .subscribe__item textarea:-ms-input-placeholder {
  color: #808080;
}
.subscribe__item input::placeholder,
.subscribe__item textarea::placeholder {
  color: #808080;
}
.subscribe__item input {
  height: 32px;
}
.subscribe__item .iti {
  width: 100%;
  position: relative;
}
.subscribe__agreement {
  margin-top: 12px;
  font-size: 10px;
  font-weight: 250;
  display: flex;
  align-items: center;
  line-height: 12px;
}
.subscribe .site-button {
  width: 100%;
  color: #e0fb52;
  margin-top: 19px;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 6px;
}
.i-phone {
  position: relative;
}
.i-phone .iti--container {
  top: 100% !important;
  left: 0 !important;
  max-width: 100%;
  position: absolute !important;
  bottom: auto !important;
}
.i-phone .iti__country-list {
  max-height: 200px !important;
}
.i-phone .iti__country-name,
.i-phone .iti__dial-code {
  font-size: 10px;
  line-height: 1;
}
.i-phone .iti__flag.iti__wf {
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}
.i-phone .iti__selected-flag {
  padding-left: 20px;
}
.i-phone .iti--allow-dropdown input,
.i-phone .iti--allow-dropdown input[type=text],
.i-phone .iti--allow-dropdown input[type=tel],
.i-phone .iti--separate-dial-code input,
.i-phone .iti--separate-dial-code input[type=text],
.i-phone .iti--separate-dial-code input[type=tel] {
  padding-left: 63px;
}
.i-phone .iti__country {
  padding: 5px 20px !important;
}
.i-phone .iti__flag-box {
  margin-right: 10px;
}
@media (min-width: 768px) {
  .subscribe {
    margin-bottom: 150px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 8px;
    padding-top: 18px;
    padding-bottom: 40px;
    padding-right: 66px;
  }
  .subscribe:before {
    left: 50%;
    margin-left: -144px;
    bottom: -18px;
    top: auto;
    right: auto;
    width: 165px;
    height: 166px;
  }
  .subscribe:after {
    width: 104px;
    height: 103px;
    left: 50%;
    margin-left: -26px;
    bottom: -44px;
    right: auto;
    top: auto;
  }
  .subscribe__content {
    display: flex;
    max-width: none;
  }
  .subscribe__title {
    font-size: 24px;
    line-height: 30px;
    margin-right: auto;
    width: 290px;
    padding-bottom: 90px;
    margin-bottom: 0;
  }
  .subscribe__items {
    width: 198px;
  }
  .i-phone .iti__country-name,
  .i-phone .iti__dial-code {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  .subscribe {
    padding: 62px 90px 70px 44px;
  }
  .subscribe__title {
    width: 472px;
  }
  .subscribe__items {
    width: 270px;
  }
  .subscribe__item input {
    height: 44px;
    font-size: 12px;
  }
  .subscribe__agreement {
    font-size: 12px;
  }
  .subscribe .site-button {
    height: 50px;
    font-size: 15px;
    margin-top: 13px;
  }
}
@media (min-width: 1200px) {
  .subscribe {
    padding-right: 89px;
    margin-bottom: 130px;
  }
  .subscribe:before {
    width: 262px;
    height: 269px;
    margin-left: -242px;
    bottom: -30px;
  }
  .subscribe:after {
    width: 165px;
    height: 165px;
    margin-left: -30px;
    bottom: -55px;
  }
  .subscribe__title {
    font-size: 42px;
    max-width: 440px;
  }
}
@media (min-width: 1366px) {
  .subscribe {
    padding-right: 159px;
  }
}
