.teachers {
  overflow: hidden;
  margin-bottom: 40px;
  -webkit-overflow-scrolling: touch;
}
.teachers__title-l {
  display: none;
  margin-bottom: 40px;
}
.teachers__title {
  font-size: 24px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 40px;
}
.teachers__title span {
  text-align: left;
}
.teachers .decor-title span {
  padding-left: 45px;
}
.teachers__items {
  margin-bottom: -63px;
}
.teachers__item {
  margin-bottom: 63px;
}
.teachers__item-top {
  display: flex;
  justify-content: center;
  padding-bottom: 45px;
  border-bottom: 1px solid #333946;
}
.teachers__item-container {
  text-align: right;
  margin-right: 14px;
  padding-right: 14px;
  border-right: 1px solid #333946;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: 400;
  width: 55%;
}
.teachers__item-image-wrap {
  width: 45%;
  display: flex;
  align-items: center;
}
.teachers__item-name {
  font-size: 20px;
  line-height: 19px;
}
.teachers__item-function {
  background: #e0fb52;
  margin-top: 20px;
  padding: 6px 8px;
  font-size: 12px;
  border-radius: 5px;
  line-height: 1;
}
.teachers__item-image {
  width: 112px;
  height: 112px;
  border: 9px solid #e0fb52;
  border-radius: 100%;
  background: #e0fb52;
  flex: none;
}
.teachers__item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.teachers__item-text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(51,57,70,0.6);
  margin-top: 33px;
}
@media (min-width: 768px) {
  .teachers {
    margin-bottom: 80px;
  }
  .teachers__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .teachers__title,
  .teachers__title-l {
    margin-bottom: 89px;
  }
  .teachers__title-l {
    font-size: 16px;
    line-height: 19px;
    display: block;
    width: 245px;
  }
  .teachers__title {
    line-height: 28px;
  }
  .teachers .decor-title span {
    padding-left: 13px;
  }
  .teachers__items {
    display: flex;
    margin-left: -20px;
    justify-content: space-between;
  }
  .teachers__item {
    max-width: 456px;
    width: 50%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
  }
  .teachers__item-top {
    flex: 1 1;
  }
}
@media (min-width: 1200px) {
  .teachers {
    margin-bottom: 102px;
  }
  .teachers__header {
    align-items: center;
  }
  .teachers__title {
    line-height: 58px;
    margin-bottom: 167px;
  }
  .teachers__title-l {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 48px;
    width: 280px;
  }
  .teachers__items {
    width: 1028px;
    margin-left: auto;
    margin-right: auto;
  }
  .teachers__item {
    padding-left: 0;
  }
  .teachers__item-top {
    padding-bottom: 33px;
  }
  .teachers__item-name {
    font-size: 29px;
    line-height: 26px;
  }
  .teachers__item-image {
    width: 154px;
    height: 154px;
  }
  .teachers__item-container {
    padding-right: 14px;
    margin-right: 29px;
  }
  .teachers__item-text {
    margin-top: 32px;
    font-size: 20px;
    line-height: 22px;
  }
}
@media (min-width: 1366px) {
  .teachers__title {
    margin-bottom: 105px;
  }
  .teachers__title-l {
    margin-bottom: 50px;
    padding-top: 25px;
  }
}
@media (min-width: 1920px) {
  .teachers__item-image-wrap {
    position: relative;
    white-space: nowrap;
  }
  .teachers__item-image {
    position: relative;
  }
}
