.www-line {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  height: 178px;
  overflow: hidden;
  display: none;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-overflow-scrolling: touch;
}
.www-line img {
  position: absolute;
  left: 50%;
  top: 0;
  width: 3999px;
  height: 178px;
  max-width: none;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .www-line {
    display: block;
  }
  .www-line img {
    margin-left: 22px;
  }
}
@media (min-width: 1200px) {
  .www-line img {
    margin-left: -49px;
  }
}
@media (min-width: 1440px) {
  .www-line img {
    margin-left: -167px;
  }
}
@media (min-width: 1600px) {
  .www-line img {
    margin-left: 0;
  }
}
