.app-header {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  color: #fff;
  padding-bottom: 120px;
}
.app-header__in {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
}
.app-header__content {
  background: #030074;
  padding-top: 15px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.app-header__burger {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 100px;
}
.app-header__burger .svg-icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: rgba(255,255,255,0.9);
}
.app-header .main-menu {
  display: none;
}
.app-header .h-contacts__phone a {
  display: block;
  font-size: 0;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 100px;
}
.app-header .h-contacts__phone .svg-icon {
  display: block;
  fill: rgba(255,255,255,0.9);
  width: 20px;
  height: 20px;
}
.app-header .h-contacts__phone .svg-icon svg {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.app-header .h-contacts__address,
.app-header .h-contacts__work,
.app-header .h-contacts .social-links {
  display: none;
}
.home .app-header {
  padding-bottom: 0;
}
.banner {
  position: relative;
  margin-bottom: 40px;
  background: #1c0db8;
}
.banner .swiper-slide {
  height: auto;
}
.banner .swiper-initialized .banner__item + .banner__item {
  display: block;
}
.banner__item {
  position: relative;
  min-height: 500px;
  height: 100%;
  overflow: hidden;
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-overflow-scrolling: touch;
}
.banner__item + .banner__item {
  display: none;
}
.banner__item-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  background-size: cover;
}
.banner__item-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 33px 9px;
  font-size: 20px;
  min-height: 63px;
  width: 100%;
  text-decoration: none;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  color: #fff;
  font-weight: 500;
  background: #5411b8;
  line-height: 1;
  cursor: pointer;
  border: 0;
  outline: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.banner__item-button:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #be19b8;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.3s ease opacity;
  transition: 0.3s ease opacity;
}
.banner__item-button:hover:before {
  opacity: 1;
}
.banner__item-button:hover .svg-icon {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}
.banner__item-button .svg-icon {
  margin-left: 26px;
  margin-top: 5px;
  -webkit-transition: 0.3s ease transform;
  transition: 0.3s ease transform;
}
.banner__item.first-slide .banner__item-image-wrap {
  -webkit-filter: blur(0);
          filter: blur(0);
}
.banner__item.first-slide .banner__item-title,
.banner__item.first-slide .banner__item-button {
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
}
.banner__item.first-slide .a-bg {
  -webkit-filter: blur(0);
          filter: blur(0);
}
.banner__item-image-wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.banner__item-image-wrap.a-bg {
  position: absolute;
  left: -50px;
  top: -50px;
  right: -50px;
  bottom: -50px;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-filter: blur(10px);
          filter: blur(10px);
  -webkit-transition: -webkit-transform 20s linear 5s, -webkit-filter 1s linear 1s;
  transition: -webkit-transform 20s linear 5s, -webkit-filter 1s linear 1s;
  transition: transform 20s linear 5s, filter 1s linear 1s;
  transition: transform 20s linear 5s, filter 1s linear 1s, -webkit-transform 20s linear 5s, -webkit-filter 1s linear 1s;
}
.banner__item-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner__item-container {
  position: relative;
  color: #fff;
  height: 100%;
  padding-bottom: 85px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.banner__item-content {
  max-width: 374px;
}
.banner__item-title {
  font-size: 28px;
}
.banner__item-button {
  margin-top: 35px;
}
.banner__item-button.site-button {
  font-size: 22px;
}
.banner__item.swiper-slide-active .a-bg {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transition: -webkit-transform 17s linear, -webkit-filter 1s linear;
  transition: -webkit-transform 17s linear, -webkit-filter 1s linear;
  transition: transform 17s linear, filter 1s linear;
  transition: transform 17s linear, filter 1s linear, -webkit-transform 17s linear, -webkit-filter 1s linear;
}
.banner__item-title,
.banner__item-button {
  -webkit-transition: opacity 0.3s linear, -webkit-filter 0.3s linear;
  transition: opacity 0.3s linear, -webkit-filter 0.3s linear;
  transition: opacity 0.3s linear, filter 0.3s linear;
  transition: opacity 0.3s linear, filter 0.3s linear, -webkit-filter 0.3s linear;
}
.banner__item-title.is-active,
.banner__item-button.is-active {
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transition: opacity 0.6s linear, -webkit-filter 0.6s linear;
  transition: opacity 0.6s linear, -webkit-filter 0.6s linear;
  transition: opacity 0.6s linear, filter 0.6s linear;
  transition: opacity 0.6s linear, filter 0.6s linear, -webkit-filter 0.6s linear;
}
.banner__item-title.is-active {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.banner__item-button.is-active {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.banner__item-title {
  opacity: 0;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}
.banner__item-button {
  width: 100%;
  opacity: 0;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}
.banner__pagination {
  position: absolute;
  bottom: 35px;
  z-index: 5;
  left: 0;
  right: 0;
}
.banner .swiper-pagination {
  position: static;
}
.banner__arrows {
  display: none;
}
.advantages {
  position: relative;
  margin-bottom: 55px;
}
.advantages .swiper {
  overflow: visible;
}
.advantages__in2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  overflow-x: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  scrollbar-height: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 0;
  -webkit-overflow-scrolling: touch;
}
.advantages__in2::-webkit-scrollbar {
  display: none;
}
.advantages .swiper-slide,
.advantages__item {
  width: 290px;
  height: auto;
}
.advantages__item {
  padding-right: 23px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.advantages__item-in {
  height: 100%;
  background: rgba(190,25,184,0.8);
  background: linear-gradient(152.34deg, #be19b8 -1.76%, #0f0bb7 99.58%);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid rgba(190,25,184,0.7);
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantages__item-title {
  font-size: 16px;
  color: #fff;
  line-height: 0.97;
  letter-spacing: -0.03em;
  font-weight: 500;
}
.advantages__item-icon {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-left: 20px;
  max-width: 47px;
}
.advantages + .advantages {
  margin-top: 0;
}
.mobile-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  pointer-events: none;
  z-index: 102;
}
.mobile-sidebar:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  opacity: 0;
  -webkit-transition: 0.3s ease opacity;
  transition: 0.3s ease opacity;
}
.mobile-sidebar__head {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 15px 20px;
  background: #000;
  background: #030074;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mobile-sidebar__close {
  padding-left: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 51px;
  height: 51px;
  background: #be19b8;
  z-index: 1;
  border-radius: 100px;
  -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.3);
          box-shadow: 0 0 30px rgba(0,0,0,0.3);
}
.mobile-sidebar__close .svg-icon {
  pointer-events: none;
  width: 16px;
  display: block;
  color: #fff;
}
.mobile-sidebar__container {
  position: fixed;
  padding-top: 95px;
  overflow: hidden;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 480px;
  background: #030074;
  -webkit-transition: 0.3s ease transform;
  transition: 0.3s ease transform;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  color: #fff;
  -webkit-overflow-scrolling: touch;
}
.mobile-sidebar__content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-overflow-scrolling: touch;
}
.mobile-sidebar.opened {
  visibility: visible;
  pointer-events: auto;
}
.mobile-sidebar.opened:before {
  opacity: 1;
}
.mobile-sidebar.opened .mobile-sidebar__container {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile-sidebar .s-logo {
  font-size: 28px;
  margin-left: -5px;
}
.mobile-sidebar .main-menu {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-bottom: 35px;
}
.mobile-sidebar .main-menu ul li {
  border-top: 1px solid rgba(255,255,255,0.2);
}
.mobile-sidebar .main-menu ul li:first-child {
  border: 0;
}
.mobile-sidebar .main-menu ul li a {
  color: #fff;
  display: block;
  padding: 11px 20px;
  font-size: 24px;
}
.mobile-sidebar .main-menu ul li.is-active a {
  background: #0f0bb7;
}
.mobile-sidebar .h-contacts {
  margin-top: auto;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  border-top: 1px solid rgba(255,255,255,0.6);
  padding: 20px 20px 35px;
}
.mobile-sidebar .h-contacts__phone {
  font-size: 24px;
  margin-bottom: 8px;
}
.mobile-sidebar .h-contacts__phone a {
  text-decoration: none;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile-sidebar .h-contacts__phone a .svg-icon {
  margin-right: 15px;
  width: 20px;
}
.mobile-sidebar .h-contacts__work {
  margin-bottom: 25px;
  color: rgba(255,255,255,0.5);
}
.mobile-sidebar .h-contacts__address {
  font-size: 17px;
}
@media (min-width: 414px) {
  .banner__item-button {
    width: auto;
    font-size: 25px;
  }
}
@media (min-width: 768px) {
  .banner__item {
    min-height: 600px;
  }
  .banner__item-title {
    font-size: 35px;
  }
  .banner__item-content {
    max-width: 473px;
  }
  .banner__arrows {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 95px;
  }
  .banner__arrows-in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .banner .swiper-button {
    position: static;
    margin-left: 8px;
  }
  .banner__pagination {
    display: none;
  }
  .advantages__in2 {
    padding-left: 35px;
    padding-right: 35px;
    margin-left: -35px;
    margin-right: -35px;
  }
  .advantages__item-in {
    min-height: 90px;
  }
}
@media (min-width: 992px) {
  .app-header {
    padding-top: 0 !important;
  }
  .app-header__burger {
    margin-right: 40px;
  }
  .app-header__content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .app-header .s-logo {
    font-size: 27px;
    margin-right: 30px;
  }
  .app-header .h-contacts {
    margin-left: auto;
    padding-left: 20px;
  }
  .app-header .h-contacts__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  .app-header .h-contacts__phone {
    font-weight: 500;
    margin-bottom: 3px;
    letter-spacing: -0.03em;
  }
  .app-header .h-contacts__phone a {
    display: inline;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    width: auto;
    height: auto;
    border: 0;
  }
  .app-header .h-contacts__phone a .svg-icon {
    display: none;
  }
  .app-header .h-contacts .social-links {
    margin-left: 31px;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .app-header .h-contacts .social-links__item {
    margin-right: 22px;
  }
  .app-header .h-contacts .social-links__item:last-child {
    margin-right: 0;
  }
  .banner__item {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
  }
  .banner__item-content {
    max-width: 646px;
  }
  .banner__item-title {
    font-size: 48px;
  }
  .banner__item-button {
    margin-top: 45px;
  }
  .banner__item-button.site-button {
    font-size: 25px;
  }
  .advantages__in {
    margin-left: -23px;
  }
  .advantages__in1 {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .advantages__in2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .advantages .swiper {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .advantages .swiper-slide {
    padding-right: 0;
    padding-left: 0;
  }
  .advantages .swiper-initialized {
    margin-right: 0;
    margin-left: 0;
  }
  .mobile-sidebar .h-contacts__phone,
  .mobile-sidebar .h-contacts .social-links {
    display: none;
  }
}
@media (min-width: 1200px) {
  .app-header {
    padding-top: 152px;
    padding-bottom: 230px;
  }
  .app-header__in {
    position: absolute;
    background: linear-gradient(152.34deg, #be19b8 -1.76%, #0f0bb7 99.58%);
  }
  .app-header__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 39px;
    padding-bottom: 39px;
    background: none;
  }
  .app-header__burger {
    display: none;
  }
  .app-header .h-contacts {
    padding-left: 0;
    padding-top: 5px;
  }
  .app-header .h-contacts__row {
    margin-bottom: 18px;
  }
  .app-header .h-contacts__address,
  .app-header .h-contacts__work {
    display: block;
  }
  .app-header .h-contacts__phone a {
    font-size: 18px;
  }
  .app-header .h-contacts__work {
    opacity: 0.7;
    font-size: 14px;
    letter-spacing: -0.02em;
  }
  .app-header .h-contacts__address {
    font-size: 12px;
    font-weight: 500;
  }
  .app-header .main-menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 14px;
    display: block;
  }
  .app-header .main-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .app-header .main-menu ul li {
    margin-left: 7px;
    margin-right: 7px;
  }
  .app-header .main-menu ul li.is-active a,
  .app-header .main-menu ul li.scrolling a {
    color: #ffe600;
  }
  .app-header .main-menu ul li a {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .app-header .main-menu ul li a:hover {
    color: #ffe600;
  }
  .app-header .s-logo {
    margin-right: 0;
    font-weight: 700;
    margin-left: 0;
    font-size: 25px;
  }
  .app-header .s-logo .lg-bg {
    padding-left: 7px;
    padding-right: 7px;
  }
  .home .app-header {
    padding-bottom: 0;
  }
  .home .app-header__in {
    background: none;
  }
  .home .app-header__content {
    padding-bottom: 15px;
  }
  .banner__item {
    padding-top: 170px;
  }
  .banner__item-container {
    padding-bottom: 270px;
  }
  .banner__arrows {
    bottom: 278px;
  }
  .advantages {
    margin-top: -218px;
    z-index: 2;
    margin-bottom: 130px;
    position: relative;
    border-radius: 10px;
    overflow: visible;
    display: block;
  }
  .advantages__item {
    width: 25%;
    padding-right: 0;
    padding-left: 23px;
  }
  .advantages__item.swiper-slide {
    width: 365px;
  }
  .advantages__item-in {
    padding-left: 25px;
    padding-right: 45px;
    background: none;
    border: 1px solid rgba(255,255,255,0.7);
  }
  .advantages__item-title {
    font-size: 21px;
  }
  .mobile-sidebar {
    display: none;
  }
}
@media (min-width: 1200px) and (min-width: 1366px) {
  .app-header .h-contacts__phone a {
    font-size: 20px;
  }
  .app-header .s-logo {
    font-size: 27px;
  }
  .app-header .main-menu {
    padding-left: 55px;
    padding-right: 55px;
  }
}
@media (min-width: 1200px) and (min-width: 1440px) {
  .app-header .main-menu ul li {
    margin-right: 10px;
    margin-left: 10px;
  }
  .app-header .main-menu ul li a {
    font-size: 13px;
  }
}
