.action {
  position: relative;
  margin-top: 12px;
  margin-bottom: 12px;
}
.action img {
  width: 100%;
  border-radius: 10px;
  display: block;
}
.action .action-timer {
  position: absolute;
  right: 13px;
  bottom: 15px;
  width: 106px;
  padding-top: 2px;
  padding-bottom: 3px;
}
.action .action-timer__header {
  font-size: 8.73px;
}
.action .action-timer__item {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 18px;
  line-height: 28px;
}
.action .action-timer__item-title {
  font-size: 6.24px;
}
.action .action-timer__item-value {
  font-size: 18px;
}
.action .action-timer__sep {
  font-size: 18px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 16px;
  line-height: 28px;
}
@media (min-width: 575px) {
  .action {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .action {
    margin-top: 42px;
    margin-bottom: 35px;
  }
  .action .action-timer {
    right: 38px;
    bottom: 35px;
    width: 170px;
    padding: 7px 0 7px;
  }
  .action .action-timer__header {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .action .action-timer__item {
    width: auto;
    max-width: none;
    padding-left: 1px;
    padding-right: 1px;
  }
  .action .action-timer__item-title {
    font-size: 10px;
  }
  .action .action-timer__item-value {
    min-width: 34px;
    font-size: 30px;
    margin-bottom: 8px;
  }
  .action .action-timer__sep {
    font-size: 30px;
    line-height: 24px;
  }
}
