.agreement {
  font-size: 14px;
  line-height: 15px;
  max-width: 224px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 400;
}
