.articles__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
  margin-top: 0;
}
.articles__title a {
  font-weight: 400;
  font-size: 14px;
  color: #25bede;
  padding-left: 20px;
  margin-left: auto;
  text-decoration: none;
  line-height: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.articles__title a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.articles__items {
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  overflow: hidden;
  overflow-x: auto;
  scrollbar-height: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}
.articles__items::-webkit-scrollbar {
  display: none;
}
.articles__items .article {
  margin-right: 20px;
  width: 92.667%;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.articles__items .article:last-child {
  margin-right: 0;
}
@media (min-width: 768px) {
  .articles:last-child {
    margin-bottom: -20px;
  }
  .articles__title {
    margin-bottom: 23px;
  }
  .articles__title a {
    color: #000;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 7px;
  }
  .articles__title a:hover {
    text-decoration: none;
  }
  .articles__items {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    margin-left: -20px;
  }
  .articles .article {
    width: 50%;
    margin-right: 0;
    padding-left: 20px;
  }
}
@media (min-width: 1200px) {
  .articles:last-child {
    margin-bottom: -70px;
  }
  .articles__items {
    margin-left: -46px;
  }
  .articles .article {
    padding-left: 46px;
    margin-bottom: 92px;
  }
}
