.c-map {
  position: relative;
  height: 145px;
  margin-top: 16px;
  margin-bottom: 16px;
}
@media (min-width: 575px) {
  .c-map {
    height: 313px;
  }
}
@media (min-width: 768px) {
  .c-map {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
