.city-selection {
  text-align: center;
}
.city-selection__item {
  font-size: 14px;
  color: #4579ff;
  margin-bottom: 14px;
  max-width: 100%;
  font-weight: 400;
}
.city-selection__item span {
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  border-bottom: 1px dashed #4579ff;
  -webkit-overflow-scrolling: touch;
}
.city-selection .site-button {
  padding: 5px 11px;
  font-size: 10px;
  min-height: 24px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
@media (min-width: 768px) {
  .city-selection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  .city-selection__item {
    margin-bottom: 0;
    margin-right: 20px;
    min-width: 99px;
  }
  .city-selection__item span {
    font-size: 24px;
    border-bottom-width: 0.1em;
    padding-bottom: 2px;
  }
  .city-selection .site-button {
    min-height: 45px;
    font-size: 20px;
    padding: 6px 24px 8px;
    white-space: nowrap;
  }
}
