.comparison__sidebar {
  margin-bottom: 15px;
}
.comparison__sidebar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.comparison__sidebar-top .site-button {
  margin-bottom: 10px;
  font-size: 10px;
  min-width: 122px;
  min-height: 23px;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.comparison__sidebar-bot {
  display: none;
}
.comparison__menu {
  padding: 0 20px 0 0;
  margin: 3px 0 20px;
  list-style: none;
  margin-right: auto;
}
.comparison__menu li a {
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
  position: relative;
  padding-bottom: 3px;
  display: inline-block;
}
.comparison__menu li a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 70px;
  opacity: 0;
  max-width: 50%;
  background: var(--color1);
}
.comparison__menu li a:hover:after {
  opacity: 1;
}
.comparison__checkbox {
  margin-top: 10px;
  font-size: 10px;
  width: 100%;
}
.comparison__checkbox-in {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.comparison__checkbox .inc {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 15px;
  height: 15px;
  position: relative;
  margin-right: 8px;
  border: 1px solid #000;
  border-radius: 3px;
  margin-bottom: 3px;
}
.comparison__checkbox .inc span {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.comparison__checkbox .inc input {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.comparison__checkbox .inc input:checked + span {
  background: url("data:image/svg+xml,%0A%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.93775 8L10 1.58854L8.49798 0L3.93775 4.82292L1.50202 2.24688L0 3.83542L3.93775 8Z' fill='%235BCEE6'/%3E%3C/svg%3E%0A") center 60% no-repeat;
  background-size: 65% 65%;
}
.comparison__container {
  margin-left: -10px;
  margin-right: -10px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.comparison__container--desctop {
  display: none;
}
.comparison__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.comparison__col {
  width: 50%;
}
.comparison__col.products.swiper {
  position: static;
  z-index: auto;
  margin-bottom: -15000px;
}
.comparison__col.products .swiper-wrapper {
  z-index: 2;
  position: relative;
  padding-bottom: 15000px;
}
.comparison__col.swiper {
  margin-left: 0;
  margin-right: 0;
  z-index: auto;
  position: static;
}
.comparison.tile-view .product-item {
  width: 100%;
}
.comparison .product-item:after {
  display: none;
}
.comparison .product-item__bot {
  margin-top: 0;
}
.comparison__options-title {
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  margin-top: 29px;
}
.comparison__options-group {
  background: #f6f6f6;
  text-align: center;
}
.comparison__options-group:nth-child(2n) {
  background: none;
}
.comparison__options-group:hover {
  background: #37bfdf;
}
.comparison__option-name span,
.comparison__option {
  font-size: 12px;
}
.comparison__option-name {
  font-weight: 400;
  text-align: center;
  position: relative;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.comparison__option-name span {
  position: relative;
  z-index: 3;
  padding: 7px 10px 25px;
  margin-bottom: -25px;
}
.comparison__option {
  padding-top: 3px;
  padding-bottom: 9px;
  min-height: 24px;
  line-height: 10px;
}
.comparison__options-group {
  font-size: 0;
}
.comparison__options-group--collections {
  margin-top: 15px;
  background: none;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}
.comparison__options-group--collections .comparison__option {
  padding-bottom: 0;
  padding-left: 3px;
  padding-right: 3px;
}
.comparison .fake-select:parent {
  background: #000;
}
.comparison .swiper-wrapper:has(.fake-select.is-opened) {
  z-index: 4;
  position: relative;
}
.comparison .product-item {
  border: 0;
}
.comparison .product-item:before {
  display: none;
}
.comparison .collection-item {
  width: auto;
}
@media (min-width: 575px) {
  .comparison {
    margin-top: 34px;
  }
  .comparison__sidebar-top .site-button {
    min-height: 45px;
    min-width: 240px;
    font-size: 20px;
    padding-bottom: 3px;
  }
  .comparison__menu li a {
    padding-bottom: 14px;
  }
  .comparison__menu li a {
    font-size: 24px;
  }
  .comparison__checkbox {
    font-size: 18px;
  }
  .comparison__checkbox .inc {
    width: 25px;
    height: 25px;
    margin-right: 13px;
    border-radius: 5px;
  }
  .comparison__options-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .comparison__option-name span,
  .comparison__option {
    font-size: 14px;
  }
  .comparison__option-name span {
    padding-top: 8px;
  }
  .comparison__option {
    padding-top: 5px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .comparison__options-group--collections .comparison__col.paramsl .comparison__option {
    padding-left: 15px;
  }
  .comparison__options-group--collections .comparison__col.paramsr .comparison__option {
    padding-right: 15px;
  }
  .comparison__options-group--collections .comparison__option {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 992px) {
  .comparison {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .comparison__sidebar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 282px;
            flex: 0 0 282px;
  }
  .comparison__sidebar-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 456px;
    padding-right: 36px;
    padding-bottom: 95px;
  }
  .comparison__sidebar-top .site-button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 35px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .comparison__sidebar-bot {
    display: block;
  }
  .comparison__sidebar-bot .comparison__option {
    padding-left: 0;
    text-align: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 10px;
    position: relative;
  }
  .comparison__sidebar-bot .comparison__option:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: -30vw;
    z-index: -1;
  }
  .comparison__sidebar-bot .comparison__option.hover:before {
    background: #37bfdf;
  }
  .comparison__menu {
    margin-bottom: auto;
  }
  .comparison__options-title {
    text-align: left;
    margin-bottom: 25px;
    margin-top: 0;
    font-weight: 600;
  }
  .comparison__container .comparison__options-title,
  .comparison__container .comparison__option-name {
    display: none;
  }
  .comparison__options-group {
    background: none;
    margin-top: -20px;
    margin-bottom: 50px;
  }
  .comparison__options-group:hover {
    background: none;
  }
  .comparison__option-name {
    text-align: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    min-height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #f6f6f6;
    line-height: 11px;
  }
  .comparison__option-name:nth-child(2n) {
    background: none;
  }
  .comparison__option-name span {
    padding: 0;
    margin: 0;
  }
  .comparison__option {
    min-height: 40px;
    padding-top: 5px;
    padding-left: 40px;
    padding-bottom: 5px;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f6f6f6;
    line-height: 11px;
  }
  .comparison__option:before {
    background: #f6f6f6;
  }
  .comparison__option:nth-child(2n) {
    background: none;
  }
  .comparison__option:nth-child(2n):before {
    background: none;
  }
  .comparison__option.hover {
    background: #37bfdf;
  }
  .comparison__col.products .swiper-wrapper {
    z-index: 2;
  }
  .comparison__container--mobile {
    display: none;
  }
  .comparison__container--desctop {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
    margin-left: 0;
    margin-right: 0;
  }
  .comparison__item {
    width: 25%;
  }
  .comparison__item .comparison__options-group {
    padding-top: 26px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .comparison__item .comparison__options-group + .comparison__options-group {
    padding-top: 76px;
  }
  .comparison__item .comparison__option {
    text-align: left;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .comparison .collection-item {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .comparison__sidebar-top {
    height: 466px;
    padding-bottom: 113px;
  }
  .comparison__options-group {
    margin-top: -19px;
    margin-bottom: 52px;
  }
  .comparison__option {
    padding-left: 44px;
  }
  .comparison__item .comparison__options-group {
    padding-top: 34px;
  }
  .comparison div.product-item__row--buttons {
    margin-top: 0;
  }
}
