.content-head {
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .content-head {
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .content-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 20px;
  }
  .content-head h1 {
    margin-bottom: 0;
  }
  .content-head__container {
    margin-right: 30px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 56.45%;
            flex: 0 0 56.45%;
  }
}
