.i-colors__title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
  line-height: 1;
}
.i-colors__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
}
.i-colors__item {
  position: relative;
  margin-left: 10px;
  width: calc(20% - 10px);
}
.i-colors__item-picture {
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  font-size: 0;
  -webkit-overflow-scrolling: touch;
}
.i-colors__item-picture:after {
  content: "";
  display: inline-block;
  padding-top: 84.13%;
}
.i-colors__item-remove {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 11px;
  height: 11px;
  z-index: 10;
  cursor: pointer;
}
.i-colors__item-remove:before {
  content: "";
  position: absolute;
  left: -3px;
  top: -3px;
  right: -3px;
  bottom: -3px;
}
.i-colors__item-remove:hover:after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.i-colors__item-remove:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: var(--close) center center no-repeat;
  display: block;
  background-size: contain;
  -webkit-transition: 0.3s ease transform;
  transition: 0.3s ease transform;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.i-colors__item-image,
.i-colors__item-color {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.i-colors__item-image {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.i-colors__item-color {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.i-colors__item-name {
  text-align: left;
  font-weight: 400;
  line-height: 12px;
  margin-top: 7px;
  line-height: 1;
}
.i-colors--large {
  margin-bottom: 15px;
}
.i-colors--large .i-colors__items {
  margin-left: -3px;
}
.i-colors--large .i-colors__item {
  position: relative;
  padding: 5px 5px 10px;
  margin-left: 3px;
  border-radius: 4px;
  background: var(--color15);
  width: calc(20% - 3px);
  margin-bottom: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 120px;
}
.i-colors--large .i-colors__item-name {
  font-size: 8px;
  font-weight: 400;
  margin-bottom: auto;
}
.i-colors--large .i-colors__item input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}
.i-colors--large .i-colors__item-icn {
  margin-top: 6px;
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 3px;
  margin-left: auto;
  margin-right: 6px;
  background: var(--close) center center no-repeat;
  background-size: 9px 9px;
}
.i-colors--large input:checked ~ .i-colors__item-icn {
  border-color: var(--color1);
  background: var(--color1) url("data:image/svg+xml,%0A%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.93775 8L10 1.58854L8.49798 0L3.93775 4.82292L1.50202 2.24688L0 3.83542L3.93775 8Z' fill='%23ffffff'/%3E%3C/svg%3E%0A") center center no-repeat;
  background-size: 65%;
}
@media (min-width: 575px) {
  .i-colors--large {
    margin-bottom: 15px;
  }
  .i-colors--large .i-colors__title {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .i-colors--large .i-colors__items {
    margin-left: -5px;
    margin-bottom: -20px;
  }
  .i-colors--large .i-colors__item {
    padding: 8px 8px 23px;
    margin-left: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: calc(20% - 5px);
  }
  .i-colors--large .i-colors__item-picture {
    margin-bottom: 8px;
    border-radius: 5px;
  }
  .i-colors--large .i-colors__item-name {
    margin-top: 5px;
    font-size: 14px;
  }
  .i-colors--large .i-colors__item-icn {
    width: 25px;
    height: 25px;
    background-size: 13px 13px;
    margin-top: 13px;
  }
}
