.i-date {
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 8px;
}
.i-date__text {
  margin-bottom: 3px;
  color: var(--color5);
}
.i-date + h2,
.i-date + .h2 {
  margin-top: 0;
  font-size: 14px;
  line-height: 1;
}
@media (min-width: 575px) {
  .i-date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .i-date__item {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-right: 45px;
  }
}
@media (min-width: 768px) {
  .i-date {
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 14px;
  }
  .i-date + h2,
  .i-date + .h2 {
    font-size: 32px;
  }
}
