.i-rating-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}
.i-rating-wrapper__value {
  margin-right: 10px;
}
.i-rating-wrapper__value,
.i-rating-wrapper__total {
  padding-top: 1px;
  display: block;
}
.i-rating-wrapper__total {
  min-width: 57px;
  text-align: right;
  margin-left: 4px;
}
.i-rating-wrapper__total--center {
  text-align: center;
}
.i-rating-wrapper .i-rating {
  margin-top: -3px;
}
.i-rating-wrapper .i-rating__star {
  width: 22px;
  height: 22px;
}
