.main-menu {
  padding-bottom: 22px;
  position: relative;
  min-height: 100%;
}
.main-menu .has-children > a {
  position: relative;
}
.main-menu .has-children > a:after {
  content: '';
  position: absolute;
  right: 13px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 5px;
  height: 9px;
  background: var(--arr-r) center center no-repeat;
  background-size: contain;
}
.main-menu .mn-current-item > a {
  background: #eef5f8;
}
.main-menu .mn-current-item > ul {
  display: block;
}
.main-menu > ul > li {
  width: 50%;
  font-weight: 400;
}
.main-menu > ul > li > a {
  padding-left: 25px;
  font-size: 14px;
}
.main-menu ul li a {
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 25px;
  min-height: 38px;
  color: #000;
}
.main-menu .back {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 38px;
  background: #fff;
  display: none;
}
.main-menu .back:before {
  content: '';
  position: absolute;
  left: 15px;
  width: 6px;
  height: 13px;
  background: var(--arr-l) center center no-repeat;
  background-size: contain;
}
.main-menu .mn-level-2 {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: #eef5f8;
  overflow-y: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
.main-menu .mn-level-2.is-opened {
  display: block;
}
.main-menu .mn-level-2 .has-children > a:after {
  right: 5px;
}
.main-menu .mn-level-2 a {
  padding-left: 9px;
  font-size: 12px;
  padding-right: 13px;
}
.main-menu .mn-level-2 a .icon {
  width: 34px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 5px;
}
.main-menu .mn-level-2 a .icon img {
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-menu__levels-2-list {
  position: absolute;
  left: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  background: #eef5f8;
}
.main-menu__levels-2-list.mn-level-2-opened {
  left: 0;
  width: 100%;
  position: fixed;
  top: 0;
  height: calc(100vh - 41px);
  height: calc(calc(var(--vh, 1vh) * 100) - 41px);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-menu__levels-2-list.mn-level-2-opened .mn-level-2 {
  width: 50%;
  background: #eef5f8;
  top: 38px;
  bottom: auto;
  height: calc(100vh - 78px);
  height: calc(calc(var(--vh, 1vh) * 100) - 78px);
  position: fixed;
}
.main-menu__levels-2-list.mn-level-2-opened .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.main-menu__levels-2-list .m-menus {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}
.mn-level-2.mn-list-opened > .mn-current-item {
  color: #d9e5ea;
}
.mn-level-2.mn-list-opened > .mn-current-item > a {
  background: #d9e5ea;
}
.mn-level-2 ul {
  display: none;
  position: fixed;
  top: 38px;
  bottom: 0;
  overflow-y: auto;
  background: currentColor;
  -webkit-overflow-scrolling: touch;
}
.mn-level-3-opened .mn-level-2 {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.mn-level-4-opened .mn-level-3 {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.mn-current-item > ul {
  left: 50%;
  position: fixed;
  width: 50%;
}
ul.mn-list-opened {
  left: 0;
  display: block;
  background: #d9e5ea;
  width: 50%;
  z-index: 10;
}
ul.mn-list-opened > .mn-current-item {
  color: #eef5f8;
}
ul.mn-list-opened > .mn-current-item > a {
  background: #eef5f8;
}
