.often-search {
  margin-bottom: 15px;
}
.often-search__title {
  margin-top: 0;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 11px;
  font-weight: 400;
}
.often-search__list {
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  overflow: hidden;
  overflow-x: auto;
  scrollbar-height: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}
.often-search__list::-webkit-scrollbar {
  display: none;
}
.often-search__item {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  min-width: 83px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--color3);
  border-radius: 2px;
  padding: 5px 11px;
  min-height: 32px;
  text-decoration: none;
  font-size: 10px;
  color: #000;
  margin-right: 14px;
  -webkit-transition: 0.3s ease background;
  transition: 0.3s ease background;
}
.often-search__item:hover {
  background: var(--color3h);
}
.often-search__item:last-child {
  margin-right: 0;
}
.often-search__item-image {
  margin-right: 5px;
}
.often-search__item-image img {
  display: block;
}
@media (min-width: 768px) {
  .often-search {
    margin-bottom: 20px;
  }
  .often-search__list {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .often-search__title {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 13px;
  }
  .often-search__item {
    font-size: 20px;
    min-height: 50px;
    margin-right: 20px;
    min-width: 180px;
    padding-left: 12px;
    padding-right: 24px;
    border-radius: 3px;
  }
  .often-search__item-image {
    margin-right: 8px;
  }
}
@media (min-width: 992px) {
  .often-search {
    margin-bottom: 23px;
  }
  .often-search__list {
    margin-bottom: -20px;
    margin-left: -20px;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
    overflow: visible;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .often-search__item {
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 20px;
  }
  .often-search__item--get-all {
    display: none;
  }
}
