.product-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
  text-decoration: none;
}
.product-thumb__image {
  display: block;
  background-color: var(--color15);
  border-radius: 2px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.product-thumb__image img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 2px;
  -webkit-transition: 0.3s ease transform;
  transition: 0.3s ease transform;
}
.product-thumb__content {
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}
.product-thumb__title {
  display: block;
  font-size: 12px;
  line-height: 16px;
  -webkit-transition: 0.3s ease color;
  transition: 0.3s ease color;
}
.product-thumb__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.product-thumb__price.column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.product-thumb__price-current {
  display: block;
  font-size: 12px;
  line-height: 16px;
  margin-right: 4px;
}
.product-thumb__discount-and-old-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-thumb__price-old {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 7px;
  line-height: 9px;
  color: var(--color16);
  margin-right: 2px;
  text-decoration: line-through;
}
.product-thumb__price-old:last-child {
  margin-right: 0;
}
.product-thumb__discount {
  display: block;
  min-width: 16px;
  text-align: center;
  border-radius: 2px;
  font-size: 6px;
  line-height: 8px;
  color: var(--color16);
  background-color: var(--color17);
  text-decoration: none;
  margin-right: 2px;
}
.product-thumb__discount:last-child {
  margin-right: 0;
}
.product-thumb__gift {
  color: #fff;
  background-color: var(--color24);
  border-radius: 2px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45px;
          flex: 0 0 45px;
  max-width: 45px;
  width: 45px;
  height: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 8px;
  line-height: 11px;
}
.product-thumb:hover {
  color: #000;
  text-decoration: none;
}
.product-thumb:hover .product-thumb__image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.product-thumb:hover .product-thumb__title {
  color: var(--colorAccent);
}
@media (min-width: 768px) {
  .product-thumb__image {
    border-radius: 3px;
  }
  .product-thumb__image img {
    border-radius: 3px;
  }
  .product-thumb__content {
    margin-top: 8px;
  }
  .product-thumb__title {
    font-size: 20px;
    line-height: 26px;
  }
  .product-thumb__price-current {
    font-size: 24px;
    line-height: 31px;
    margin-right: 12px;
  }
  .product-thumb__price-old {
    font-size: 16px;
    line-height: 21px;
    margin-right: 5px;
  }
  .product-thumb__discount {
    font-size: 14px;
    line-height: 18px;
    min-width: 35px;
    border-radius: 3px;
    margin-right: 5px;
  }
}
@media (min-width: 992px) {
  .product-thumb__discount-and-old-price {
    padding-bottom: 2px;
  }
}
