.product-quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  padding: 10px 10px 14px 12px;
  background-color: var(--color21);
  margin-bottom: 14px;
}
.product-quote__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42px;
          flex: 0 0 42px;
  max-width: 42px;
  width: 42px;
  border-radius: 42px;
  overflow: hidden;
  margin-right: 12px;
  -webkit-overflow-scrolling: touch;
}
.product-quote__image img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 42px;
}
.product-quote__header {
  font-size: 14px;
  line-height: 21px;
  color: #000;
  font-weight: 400;
  margin-bottom: 2px;
}
.product-quote__text {
  font-size: 12px;
  line-height: 14px;
  color: #000;
}
.product-quote__button {
  margin-top: 10px;
}
.product-quote__button .site-button {
  height: 30px;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  max-width: 188px;
  width: 188px;
  text-align: center;
  margin-left: auto;
}
.product-quote__colors {
  display: none;
}
.product-quote__color {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  max-width: 16px;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  margin-left: 7px;
}
.product-quote--color_yellow {
  background-color: var(--color22);
}
.product-quote--color_blue {
  background-color: var(--color23);
}
.product-quote--color_blue .product-quote__text {
  font-size: 12px;
  line-height: 14px;
}
.product-quote--color_description {
  background-color: var(--color4);
}
.product-quote--alignment {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-quote--alignment .product-quote__image {
  margin-bottom: 30px;
}
@media (min-width: 575px) {
  .product-quote__button .site-button {
    max-width: 199px;
    width: 199px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 768px) {
  .product-quote {
    border-radius: 5px;
    margin-bottom: 18px;
    padding: 13px 15px 13px 22px;
  }
  .product-quote__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 56px;
            flex: 0 0 56px;
    max-width: 56px;
    width: 56px;
    margin-right: 17px;
  }
  .product-quote__image img {
    border-radius: 58px;
  }
  .product-quote__header {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
  }
  .product-quote__text {
    font-size: 13px;
    line-height: 16px;
  }
  .product-quote__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 16px;
  }
  .product-quote__button .site-button {
    height: 32px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .product-quote__colors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px;
    margin-left: -7px;
  }
  .product-quote--color_yellow .product-quote__text {
    font-size: 15px;
    line-height: 18px;
  }
  .product-quote--color_blue {
    border-radius: 8px;
  }
  .product-quote--color_blue .product-quote__text {
    font-size: 16px;
    line-height: 19px;
  }
  .product-quote--alignment {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .product-quote--alignment .product-quote__image {
    margin-bottom: 0;
  }
}
