.range-slider {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 26px;
}
body .noUi-horizontal {
  height: 1px;
  background: #e9e3cf;
}
body .noUi-connects {
  border-radius: 0;
}
body .noUi-connect {
  background: var(--color2);
}
body .noUi-target {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
body .noUi-handle {
  cursor: pointer;
}
body .noUi-handle:before,
body .noUi-handle:after {
  display: none;
}
body .noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  background: var(--color2);
  border: 0;
  border-radius: 500px;
  top: -10px;
  right: -10px;
}
@media (min-width: 992px) {
  .range-slider {
    margin-bottom: 23px;
  }
}
