.rewiews-in-popup {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  max-width: 1450px;
  overflow-y: auto;
  padding: 10px 20px 20px;
  -webkit-overflow-scrolling: touch;
}
.rewiews-in-popup .selections {
  opacity: 1;
  visibility: visible;
  position: static;
  height: 0;
}
@media (min-width: 768px) {
  .rewiews-in-popup .c-form {
    opacity: 0;
    visibility: hidden;
  }
  .rewiews-in-popup {
    padding-left: 20px;
    padding-right: 20px;
  }
  .rewiews-in-popup .c-form {
    opacity: 0;
    visibility: hidden;
  }
  .is-opened .rewiews-in-popup .c-form {
    opacity: 1;
    visibility: visible;
  }
}
@media (min-width: 992px) {
  .rewiews-in-popup {
    padding-bottom: 40px;
  }
  .rewiews-in-popup::-webkit-scrollbar {
    width: 3px;
  }
  .rewiews-in-popup::-webkit-scrollbar-thumb {
    background: var(--color1);
    border-right: 1px solid transparent;
  }
  .rewiews-in-popup .selections {
    height: auto;
  }
}
@media (min-width: 1022px) {
  .rewiews-in-popup {
    padding-left: 43px;
    padding-right: 43px;
  }
}
