.s-select {
  position: relative;
  margin-bottom: 12px;
  border-radius: 6.95178px;
  border: 1.15863px solid #202020;
}
.s-select:after {
  content: '';
  position: absolute;
  right: 2px;
  top: 10px;
  bottom: 10px;
  width: 23px;
  pointer-events: none;
  background: #fff var(--arr-d) 0 center no-repeat;
}
.s-select select {
  height: 44px;
  padding: 0 30px 0 18px;
  border: 0;
  background: #fff;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
