.selection-item {
  background-color: var(--color3);
  margin-bottom: 10px;
  border-radius: 5px;
}
.selection-item:last-child {
  margin-bottom: 0;
}
.selection-item__title {
  padding-top: 14px;
  padding-left: 20px;
  padding-right: 50px;
  padding-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  cursor: pointer;
}
.selection-item__title-note {
  display: block;
  text-decoration: underline;
  font-size: 12px;
  margin-top: 8px;
}
.selection-item__close {
  position: absolute;
  width: 17px;
  height: 17px;
  right: 24px;
  top: 13px;
  background: var(--close) center center no-repeat;
  background-size: contain;
  -webkit-transition: 0.3s ease transform;
  transition: 0.3s ease transform;
}
.selection-item.is-opened .selection-item__close {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.selection-item.is-opened .selection-item__title-note {
  display: none;
}
.selection-item.is-opened .selection-item__body {
  display: block;
}
.selection-item__body {
  padding-bottom: 28px;
  display: none;
  padding-left: 18px;
  padding-right: 18px;
}
.selection-item__body .checkbox {
  margin-left: -3px;
  margin-right: 5px;
}
.selection-item__body .s-select {
  width: 100%;
  border: 0;
}
.selection-item__body .checkbox + .m-question {
  margin-top: -10px;
  margin-left: 0;
}
.selection-item__body-items.b-rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.selection-item__body-items.b-rows .checkbox {
  width: 100%;
  max-width: 100%;
}
.selection-item__body-items.b-cols-3 {
  margin-right: -7px;
}
.selection-item__body-items.b-cols-3 .selection-item__body-item {
  padding-right: 4px;
  width: 33.33%;
  margin-right: 0;
}
.selection-item__body-items.b-cols-3 .selection-item__body-item .checkbox {
  margin-right: 0;
}
.selection-item__body-items.b-cols-2 {
  max-width: 66.66%;
}
.selection-item__body-items.b-cols-2 .selection-item__body-item {
  width: 50%;
  padding-right: 4px;
}
.selection-item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
.selection-item__row .separator {
  margin-left: 8px;
  margin-right: 5px;
  font-size: 20px;
}
.selection-item__col {
  background: #fff;
  border-radius: 5px;
  height: 44px;
  padding: 0 12px;
  font-size: 16px;
  color: #bdbdbd;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  border: 1px solid #000;
}
.selection-item__col span {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-right: 7px;
}
.selection-item__col input {
  color: #000;
  font-size: 14px;
  border: 0;
  height: 100%;
  width: 100%;
  outline: none;
  padding-top: 2px;
}
.selection-item__more {
  padding-left: 22px;
  margin-top: 7px;
  font-size: 14px;
}
.selection-item__more a {
  color: #d85757;
}
.selection-item .checkbox.b-color {
  width: 100%;
}
.selection-item.has-hidden-items .selection-item__body-item:nth-child(5n) ~ .selection-item__body-item {
  display: none;
}
.selection-item.has-hidden-items.show-hiddens .selection-item__body-item:nth-child(5n) ~ .selection-item__body-item {
  display: block;
}
@media (min-width: 992px) {
  .selection-item {
    margin-bottom: 25px;
    -webkit-transition: 0.3s ease background;
    transition: 0.3s ease background;
  }
  .selection-item:hover {
    background: var(--color3h);
  }
  .selection-item.is-opened {
    background: var(--color3);
  }
  .selection-item__title {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .selection-item__close {
    top: 23px;
  }
}
@media (min-width: 1200px) {
  .selection-item .checkbox {
    font-size: 13px;
  }
}
