.selections__item {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: calc(1 * 100vh);
  height: calc(1 * calc(var(--vh, 1vh) * 100));
  background: #fff;
  z-index: 50;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s ease transform;
  transition: 0.3s ease transform;
}
.selections__item.is-opened {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.selections__item-title {
  border-bottom: 1px solid #e9e3cf;
  font-size: 20px;
  font-weight: 400;
  min-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding: 5px 20px 5px 17px;
}
.selections__item-title .arr-l {
  width: 6px;
  height: 13px;
  margin-right: 20px;
  background: var(--arr-l) center center no-repeat;
  background-size: contain;
}
.selections__item-close {
  margin-left: auto;
}
.selections__item-close i {
  display: block;
  margin-left: 15px;
  width: 12px;
  height: 12px;
  background: var(--close2) center center no-repeat;
  background-size: contain;
}
.selections__item-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  padding: 8px 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.selections__item-footer {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding: 15px 18px;
}
.selections__item-button {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  min-height: 41px;
  border: 0;
  background: var(--color2);
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s ease background, 0.3s ease border-color, 0.3s ease color;
  transition: 0.3s ease background, 0.3s ease border-color, 0.3s ease color;
}
.selections__item-button:hover {
  background: var(--color2h);
}
.selections__item-button.reset {
  background: none;
  border: 1px solid #000;
  color: #000;
  text-decoration: none;
  margin-top: 13px;
  min-height: 37px;
  font-weight: 400;
  padding-left: 54px;
  padding-right: 54px;
  position: relative;
}
.selections__item-button.reset:hover {
  background: var(--color2);
  border-color: var(--color2);
}
.selections__item--selected-items {
  display: none;
}
.selections .checkbox.c-fake {
  display: block;
  margin-bottom: 7px;
  margin-right: 0;
}
.selections__item--sorting {
  background: var(--color3);
}
.selections__item--sorting .selections__item-title {
  border: 0;
}
.selections__item {
  max-width: 480px;
}
.selections__item--selected-items {
  display: none;
}
.selections--reviews {
  margin-top: 0;
}
.selections--reviews .toggle-switch {
  margin-bottom: 13px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.selections--reviews .selection-item__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.selections--reviews .checkbox__icon {
  width: 22px;
  height: 22px;
  margin-right: 11px;
}
.selections--reviews .checkbox__text {
  font-size: 16px;
}
@media (min-width: 992px) {
  .selections {
    margin-top: 34px;
  }
  .selections__item {
    position: relative;
    background: none;
    display: block !important;
    height: auto;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    z-index: 1;
  }
  .selections__item-title {
    display: none;
  }
  .selections__item-body {
    padding: 0;
    overflow: visible;
  }
  .selections__item-footer {
    padding: 0;
    margin-top: 37px;
  }
  .selections__item-button {
    min-height: 62px;
    font-size: 20px;
  }
  .selections__item-button.reset {
    min-height: 59px;
  }
  .selections__item-button.smal {
    min-height: 40px;
    font-size: 16px;
  }
  .selections__item-button.smal .cls {
    right: 13px;
    width: 15px;
    height: 15px;
  }
  .selections__item--sorting .selections__item-footer {
    display: none;
  }
  .selections__item--selected-items {
    display: block;
    margin-top: 24px;
    margin-bottom: 24px;
    z-index: 0;
  }
  .selections__item--selected-items .selections__item-button {
    margin-top: 0;
  }
  .selections--reviews {
    margin-top: 0;
  }
  .selections--reviews .toggle-switch {
    margin-bottom: 20px;
  }
  .selections--reviews .selection-item {
    margin-bottom: 20px;
  }
  .selections--brand {
    margin-bottom: 4px;
    margin-top: -36px;
  }
  .selections--designers {
    margin-top: -9px;
    margin-bottom: 0;
  }
}
@media (max-width: 991px) {
  .selections {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    z-index: 50;
    opacity: 0;
    visibility: hidden;
    background: rgba(0,0,0,0.7);
    -webkit-transition: 0.3s opacity, 0.3s visibility;
    transition: 0.3s opacity, 0.3s visibility;
  }
  .selections.is-opened {
    opacity: 1;
    visibility: visible;
  }
  .selections__item--sorting {
    max-width: 300px;
    margin: auto;
    max-height: 90vh;
    max-height: calc(var(--vh, 1vh) * 90);
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    height: auto;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s opacity, 0.3s visibility;
    transition: 0.3s opacity, 0.3s visibility;
  }
  .selections__item--sorting.is-opened {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .selections__item--sorting .selection-item {
    background: none;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .selections__item--sorting .selection-item__title {
    display: none;
  }
  .selections__item--sorting .selection-item__body {
    padding: 10px 18px 0;
  }
  .selections__item--sorting .selection-item__body-item {
    margin-bottom: 13px;
    max-width: 240px;
  }
  .selections__item--sorting .selection-item__body-item:last-child {
    margin-bottom: 0;
  }
  .selections__item--sorting .selection-item .checkbox {
    margin: 0;
    display: block;
    font-size: 14px;
    font-weight: 400;
  }
  .selections__item--sorting .selection-item .checkbox__label {
    padding: 0;
    border: 0;
  }
  .selections__item--sorting .selection-item .checkbox__icon {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-right: 14px;
    width: 27px;
    height: 15px;
    border-radius: 100px;
    border: 1px solid #000;
    padding: 1px 2px;
    -webkit-transition: 0.3s ease background-color;
    transition: 0.3s ease background-color;
    border-radius: 29px;
  }
  .selections__item--sorting .selection-item .checkbox__icon:after {
    content: '';
    display: block;
    position: static;
    border-radius: 50px;
    width: 11px;
    height: 11px;
    background: var(--color1);
    -webkit-transition: 0.3s ease margin-left, 0.3s ease background;
    transition: 0.3s ease margin-left, 0.3s ease background;
  }
  .selections__item--sorting .selection-item .checkbox__cross {
    display: none;
  }
  .selections__item--sorting .selection-item .checkbox input:checked ~ .checkbox__label {
    border: 0;
  }
  .selections__item--sorting .selection-item .checkbox input:checked ~ .checkbox__label .checkbox__icon {
    background: var(--color1);
    border-color: #000;
  }
  .selections__item--sorting .selection-item .checkbox input:checked ~ .checkbox__label .checkbox__icon:after {
    position: static;
    background: #fff;
    margin-left: calc(100% - 13px);
  }
}
