.seo-block2 {
  background: #b4d6e0;
  margin-top: 17px;
  margin-bottom: 17px;
  border-radius: 5px;
  padding: 19px 0 0 17px;
}
.seo-block2__text {
  padding-bottom: 6px;
  padding-right: 23%;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.seo-block2__image {
  text-align: right;
}
.seo-block2__image img {
  display: block;
  margin-left: auto;
  width: 53.72%;
}
@media (min-width: 575px) {
  .seo-block2 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .seo-block2__text {
    font-size: 18px;
    line-height: 23px;
  }
}
@media (min-width: 768px) {
  .seo-block2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
  .seo-block2__text {
    padding: 50px 30px 48px 42px;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .seo-block2__image {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .seo-block2__image img {
    height: 100%;
    width: auto;
    background-size: cover;
  }
}
@media (min-width: 1366px) {
  .seo-block2 {
    margin-top: 0;
  }
}
