.shop-text {
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 56px;
}
.shop-text h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 15px;
}
.shop-text h2:first-child {
  margin-top: 0;
}
@media (min-width: 768px) {
  .shop-text {
    font-size: 20px;
    line-height: 26px;
  }
  .shop-text h2 {
    font-size: 40px;
    line-height: 51px;
    margin-bottom: 21px;
  }
}
@media (min-width: 992px) {
  .shop-text {
    margin-bottom: 106px;
  }
  .shop-text:last-child {
    margin-bottom: 20px;
  }
}
