.tags {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  overflow: hidden;
  overflow-x: auto;
  scrollbar-height: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}
.tags::-webkit-scrollbar {
  display: none;
}
.tags__item {
  margin-right: 26px;
  font-size: 12px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  text-decoration: none;
  color: #000;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
}
.tags__item:hover {
  border-bottom-color: var(--color1);
}
.tags__item:last-child {
  margin-right: 0;
}
.tags__item.is-active {
  font-weight: 450;
  border-bottom-color: var(--color1);
}
@media (min-width: 768px) {
  .tags {
    margin-bottom: 36px;
    margin-top: 36px;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .tags__item {
    font-size: 24px;
    border-bottom-width: 6px;
    padding-bottom: 10px;
    margin-right: 49px;
  }
}
@media (min-width: 992px) {
  .tags {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    margin-bottom: 16px;
    padding-left: 0;
    padding-right: 0;
    margin-left: -49px;
  }
  .tags__item {
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 49px;
  }
}
