.text-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 18px;
  margin-left: -12px;
}
@media (min-width: 768px) {
  .text-blocks {
    margin-left: -24px;
  }
  .text-blocks.type-5 {
    margin-top: 50px;
    margin-bottom: 38px;
  }
}
