.views {
  font-size: 11px;
  margin-left: 6px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.views:before {
  content: '';
  width: 12px;
  height: 8px;
  margin-right: 4px;
  background: url("data:image/svg+xml,%3Csvg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.1104 4.0156C10.9633 1.94959 8.69229 0.551758 6.09198 0.551758C3.49167 0.551758 1.22008 1.95057 0.0736 4.01579C0.0252114 4.10415 0 4.20176 0 4.30077C0 4.39977 0.0252114 4.49739 0.0736 4.58574C1.22071 6.65175 3.49167 8.04958 6.09198 8.04958C8.69229 8.04958 10.9639 6.65077 12.1104 4.58555C12.1588 4.49719 12.184 4.39958 12.184 4.30057C12.184 4.20157 12.1588 4.10395 12.1104 4.0156ZM6.09198 7.11235C5.48954 7.11235 4.90063 6.94745 4.39972 6.6385C3.89881 6.32955 3.50839 5.89042 3.27785 5.37665C3.0473 4.86289 2.98698 4.29755 3.10451 3.75214C3.22204 3.20672 3.51215 2.70573 3.93814 2.31251C4.36413 1.91929 4.90687 1.6515 5.49774 1.54301C6.0886 1.43452 6.70105 1.4902 7.25764 1.70301C7.81422 1.91582 8.28994 2.2762 8.62464 2.73858C8.95933 3.20096 9.13798 3.74457 9.13798 4.30067C9.13817 4.66996 9.05952 5.03566 8.90651 5.37687C8.75351 5.71808 8.52915 6.02811 8.24626 6.28923C7.96338 6.55036 7.62751 6.75746 7.25787 6.89869C6.88822 7.03993 6.49204 7.11253 6.09198 7.11235ZM6.09198 2.42621C5.91073 2.42855 5.73065 2.45344 5.55661 2.50022C5.70007 2.68018 5.76891 2.90164 5.75065 3.12444C5.73239 3.34724 5.62824 3.55662 5.45708 3.71461C5.28592 3.8726 5.05909 3.96874 4.81773 3.9856C4.57636 4.00245 4.33645 3.9389 4.14149 3.80648C4.03047 4.18402 4.05051 4.5842 4.19879 4.95068C4.34706 5.31716 4.61611 5.63149 4.96805 5.84943C5.32 6.06737 5.73713 6.17795 6.16072 6.1656C6.58432 6.15325 6.99305 6.01859 7.32939 5.78057C7.66574 5.54256 7.91275 5.21318 8.03567 4.83879C8.15859 4.4644 8.15123 4.06386 8.01462 3.69354C7.87801 3.32321 7.61903 3.00176 7.27413 2.77442C6.92923 2.54707 6.51579 2.42529 6.09198 2.42621Z' fill='%23E0E0E0'/%3E%3C/svg%3E") center center no-repeat;
  background-size: 100% 100%;
}
@media (min-width: 575px) {
  .views {
    font-size: 14px;
    margin-left: 8px;
  }
  .views:before {
    width: 13px;
    height: 10px;
    margin-right: 5px;
  }
}
