.actions {
  margin-bottom: 40px;
}
.actions__header {
  margin-top: 0;
  margin-bottom: 13px;
}
.actions__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -14px;
}
.actions__item {
  margin-bottom: 7px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: calc(50% - 14px);
      flex-basis: calc(50% - 14px);
  max-width: calc(50% - 14px);
  width: calc(50% - 14px);
  margin-left: 14px;
  color: #000;
  text-decoration: none;
  -webkit-transition: 0.3s ease color;
  transition: 0.3s ease color;
}
.actions__item:hover {
  color: var(--colorAccent);
}
.actions__item:hover .actions__image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.actions__image {
  display: block;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.actions__image img {
  -webkit-transition: 0.3s ease transform;
  transition: 0.3s ease transform;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 2px;
}
.actions__title {
  display: block;
  margin-top: 6px;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.actions .action-timer {
  display: none;
}
.actions--full {
  margin-bottom: 0;
  margin-top: 15px;
}
.actions--full .actions__item {
  margin-bottom: 27px;
}
@media (min-width: 768px) {
  .actions {
    margin-bottom: 80px;
  }
  .actions__header {
    margin-bottom: 42px;
  }
  .actions__item {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(33.33333% - 14px);
        flex-basis: calc(33.33333% - 14px);
    max-width: calc(33.33333% - 14px);
    width: calc(33.33333% - 14px);
  }
  .actions__item {
    display: none;
  }
  .actions__item:nth-child(-n+3) {
    display: block;
  }
  .actions__image {
    border-radius: 3px;
  }
  .actions__image img {
    border-radius: 3px;
  }
  .actions__title {
    font-size: 20px;
    line-height: 30px;
  }
  .actions .action-timer {
    display: block;
    position: absolute;
    right: 16px;
    bottom: 16px;
  }
  .actions .section-more__link {
    top: -78px;
  }
  .actions--full {
    margin-top: 3px;
    margin-bottom: 0;
  }
  .actions--full .actions__item {
    margin-bottom: 20px;
    display: block;
  }
}
@media (min-width: 992px) {
  .actions__items {
    margin-left: -44px;
  }
  .actions__item {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(33.33333% - 44px);
        flex-basis: calc(33.33333% - 44px);
    max-width: calc(33.33333% - 44px);
    width: calc(33.33333% - 44px);
    margin-left: 44px;
  }
  .actions__title {
    margin-top: 18px;
  }
  .actions .action-timer {
    right: 29px;
    bottom: 38px;
  }
  .actions--full .actions__item {
    margin-bottom: 71px;
  }
}
