.added-to-cart {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 250px;
  padding: 20px 20px;
  background: #e9f9f1;
  text-align: center;
  -webkit-box-shadow: 0px 4px 35px rgba(0,0,0,0.15);
          box-shadow: 0px 4px 35px rgba(0,0,0,0.15);
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  z-index: 200;
  -webkit-transition: 0.3s opacity, 0.3s visibility;
  transition: 0.3s opacity, 0.3s visibility;
}
.added-to-cart.is-visible {
  opacity: 1;
  visibility: visible;
}
.added-to-cart__icon {
  margin-bottom: 13px;
}
.added-to-cart__icon img {
  width: 37px;
}
.added-to-cart__text {
  font-size: 15px;
  font-weight: 450;
  margin-bottom: 15px;
}
.added-to-cart__image {
  width: 98px;
  height: 98px;
  margin: 0 auto 20px;
  border-radius: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.added-to-cart__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}
.added-to-cart__close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 10px;
  height: 10px;
  background: var(--close2) center center no-repeat;
  background-size: contain;
  -webkit-transition: 0.3s ease transform;
  transition: 0.3s ease transform;
  cursor: pointer;
  border: 0;
}
.added-to-cart__close:before {
  content: '';
  position: absolute;
  left: -5px;
  top: -5px;
  right: -5px;
  bottom: -5px;
}
.added-to-cart__close:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.added-to-cart .site-button {
  width: 100%;
}
.added-to-cart .site-button.ghos {
  margin-top: 10px;
  border-color: #cbcbcb;
  min-height: 47px;
}
@media (min-width: 768px) {
  .added-to-cart {
    width: 350px;
    padding: 30px 30px 35px;
  }
  .added-to-cart__close {
    right: 20px;
    top: 20px;
    width: 12px;
    height: 12px;
  }
  .added-to-cart__icon {
    margin-bottom: 14px;
  }
  .added-to-cart__icon img {
    width: 57px;
  }
  .added-to-cart__text {
    font-size: 24px;
    margin-bottom: 27px;
  }
  .added-to-cart__image {
    margin-bottom: 28px;
  }
  .added-to-cart .site-button {
    min-height: 56px;
    border-radius: 5px;
    font-size: 20px;
  }
}
