.c-selection-wrap {
  margin-bottom: 27px;
}
.c-selection-wrap__title {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 14px;
}
.c-selection-wrap__text {
  font-size: 14px;
  font-weight: 400;
  color: #3d3d3d;
}
@media (min-width: 768px) {
  .c-selection-wrap {
    margin-bottom: 42px;
  }
  .c-selection-wrap__title {
    margin-bottom: 14px;
  }
  .c-selection-wrap .c-selection {
    margin-bottom: 15px;
  }
  .c-selection-wrap .c-selection:last-child {
    margin-bottom: 0;
    margin-top: 10px;
  }
  .c-selection-wrap__text {
    font-size: 20px;
  }
}
