.c-text {
  text-align: center;
  margin-bottom: 44px;
  font-size: 14px;
  font-weight: 400;
}
.c-text .emphasis {
  margin-top: 15px;
  font-weight: 500;
  display: block;
  color: var(--color1);
}
@media (min-width: 768px) {
  .c-text {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 54px;
  }
  .c-text .emphasis {
    font-size: 36px;
    margin-top: 5px;
  }
}
