.checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  font-size: 12px;
  margin-bottom: 2px;
  margin-right: 2px;
  line-height: 1;
}
.checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}
.checkbox__label {
  padding: 3px 3px 2px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.checkbox__icon {
  width: 16px;
  height: 16px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-right: 6px;
  background-color: #fff;
  border-radius: 3px;
  position: relative;
  border: 1px solid #000;
}
.checkbox__text {
  margin-right: auto;
  font-size: 14px;
}
.checkbox__cross {
  width: 18px;
  height: 10px;
  border-left: 1px solid #000;
  margin-left: 5px;
  background-size: 9px 9px;
  opacity: 0;
  cursor: pointer;
  position: relative;
}
.checkbox__cross:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.3s ease transform;
  transition: 0.3s ease transform;
  background: var(--close) center center no-repeat;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-size: 10px 10px;
}
.checkbox.b-color .checkbox__label {
  width: 100%;
}
.checkbox.b-color .checkbox__icon:after {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}
.checkbox.i-light .checkbox__icon:after {
  -webkit-filter: brightness(100);
          filter: brightness(100);
}
.checkbox.simple .checkbox__label {
  padding-right: 0;
}
.checkbox.simple .checkbox__cross {
  display: none;
}
.checkbox.simple input:checked + .checkbox__label {
  border-color: transparent;
}
.checkbox input:disabled {
  pointer-events: none;
}
.checkbox input:checked ~ .checkbox__label {
  border-color: #000;
}
.checkbox input:disabled ~ .checkbox__label {
  color: #c9d5db;
}
.checkbox input:disabled ~ .checkbox__label .checkbox__icon {
  border-color: rgba(0,0,0,0.2);
}
.checkbox input:checked ~ .checkbox__label .checkbox__icon {
  background: var(--color2);
  border-color: transparent;
}
.checkbox input:checked ~ .checkbox__label .checkbox__icon:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url("data:image/svg+xml,%0A%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.93775 8L10 1.58854L8.49798 0L3.93775 4.82292L1.50202 2.24688L0 3.83542L3.93775 8Z' fill='%23ffffff'/%3E%3C/svg%3E%0A") center center no-repeat;
  background-size: 10px 8px;
}
.checkbox input:checked ~ .checkbox__label .checkbox__cross {
  opacity: 1;
}
.checkbox--ratings {
  width: 100%;
}
.checkbox--ratings .checkbox__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px !important;
}
.checkbox__stars {
  width: 100%;
  display: block;
  position: relative;
}
.checkbox__stars-in {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.checkbox.checked .checkbox__label {
  border-color: #000;
}
.checkbox.checked .checkbox__cross {
  opacity: 1;
}
.checkbox.c-fake {
  font-size: 16px;
  font-weight: 400;
  margin-left: 0;
}
.checkbox.c-fake .checkbox__label {
  padding: 5px 0 5px 11px;
}
.checkbox.c-fake .checkbox__cross {
  width: 24px;
  height: 19px;
  background-size: 9px 9px;
}
.checkbox.c-fake .checkbox__cross:after {
  background-size: 15px 15px;
}
.checkbox.c-fake .checkbox__cross:hover:after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
