.footer-menu__header {
  position: relative;
  font-weight: 400;
}
.footer-menu__header br {
  display: none;
}
.footer-menu ul,
.footer-menu ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-menu ul {
  display: none;
  margin-bottom: 24px;
}
.footer-menu ul li {
  margin-top: 10px;
}
.footer-menu ul li:first-child {
  margin-top: 0;
}
.footer-menu ul li a {
  display: inline-block;
  color: #0e0e0e;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-decoration-thickness: 1px;
  -webkit-transition: 0.3s ease color;
  transition: 0.3s ease color;
}
.footer-menu ul li a:hover {
  text-decoration: none;
  color: var(--colorAccent);
}
@media (min-width: 768px) {
  .footer-menu {
    width: auto;
    margin-bottom: 20px;
  }
  .footer-menu__header.accordion-title {
    line-height: 18px;
    color: #0e0e0e;
    font-size: 24px;
    line-height: 26px;
    padding-left: 0;
    cursor: auto;
  }
  .footer-menu__header br {
    display: block;
  }
  .footer-menu ul {
    display: block;
    margin-bottom: 20px;
  }
  .footer-menu ul li {
    margin-top: 14px;
  }
  .footer-menu ul li:first-child {
    margin-top: 14px;
  }
}
