.hero {
  margin-top: 10px;
  margin-bottom: 32px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.hero__in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__in2 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.hero__items-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__items-outer.swiper {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: -200px;
  margin-top: -200px;
  position: static;
}
.hero__items-outer.swiper-backface-hidden .swiper-slide {
  -webkit-transform: none;
          transform: none;
}
.hero__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}
.hero__items.swiper-wrapper {
  z-index: 11;
}
.hero__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 278px;
          flex: 0 0 278px;
  max-width: 278px;
  width: 278px;
  padding-right: 12px;
  scroll-snap-align: start;
}
.hero__item:last-child {
  margin-right: 8px;
}
.hero__item-in {
  position: relative;
}
.hero__image {
  border-radius: 3px;
  background-color: var(--color17);
}
.hero img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .hero {
    margin-top: 23px;
    margin-bottom: 47px;
  }
  .hero__items {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hero__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 360px;
            flex: 0 0 360px;
    max-width: 360px;
    width: 360px;
  }
  .hero__item:last-child {
    margin-right: 28px;
  }
}
@media (min-width: 992px) {
  .hero {
    margin-top: 5px;
  }
  .hero__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 566px;
            flex: 0 0 566px;
    max-width: 566px;
    width: 566px;
    padding-right: 36px;
  }
  .hero__item:last-child {
    margin-right: 4px;
  }
}
@media (min-width: 1814px) {
  .hero__in {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 1774px;
  }
  .hero__items {
    padding-left: 0;
    padding-right: 0;
  }
  .hero__item:last-child {
    margin-right: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 550px;
            flex: 0 0 550px;
    max-width: 550px;
    width: 550px;
    padding-right: 20px;
  }
}
