.hero-in {
  margin-top: -6px;
  margin-bottom: 36px;
}
.hero-in__content {
  position: relative;
}
.hero-in__image {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.hero-in__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right bottom;
     object-position: right bottom;
}
.hero-in__container {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 216px;
  padding-bottom: 67px;
  padding-top: 25px;
}
.hero-in__container-in {
  padding-left: 20px;
  padding-right: 20px;
}
.hero-in h1,
.hero-in .h1 {
  margin-bottom: 15px;
}
.hero-in .site-button {
  min-width: 144px;
  font-size: 12px;
}
@media (min-width: 768px) {
  .hero-in__container {
    min-height: 374px;
  }
  .hero-in h1,
  .hero-in .h1 {
    min-height: 112px;
  }
  .hero-in .site-button {
    min-width: 254px;
    font-size: 20px;
    min-height: 50px;
    padding-bottom: 12px;
  }
  .hero-in__footer {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1200px) {
  .hero-in {
    position: relative;
    margin-top: 30px;
    margin-bottom: 44px;
  }
  .hero-in__content {
    position: static;
  }
  .hero-in__container {
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
  }
  .hero-in__container-in {
    padding-bottom: 90px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 78px;
    min-height: 434px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-in__container .site-button {
    margin-top: auto;
  }
}
