.installment {
  padding: 0 7px 0 7px;
  margin-bottom: 17px;
}
.installment__header {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 7px;
}
.installment__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--color3);
  border-radius: 3.1704px;
  margin-bottom: 13px;
}
.installment__buttons .site-button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333333333336%;
          flex: 0 0 33.333333333333336%;
  max-width: 33.333333333333336%;
  width: 33.333333333333336%;
  font-size: 12px;
  line-height: 15px;
  font-weight: 300;
  padding-top: 0;
  padding-bottom: 0;
  height: 25px;
}
.installment__buttons .site-button.primary {
  color: var(--color27);
  background-color: transparent;
}
.installment__buttons .site-button.primary:hover {
  background-color: var(--color3h);
  color: var(--color27);
  radius: 0;
}
.installment__buttons .site-button.primary.is-active {
  color: #fff;
  background-color: var(--color1);
}
.installment__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}
.installment__price .site-button {
  height: 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 79px;
          flex: 0 0 79px;
  max-width: 79px;
  width: 79px;
  padding: 0;
  font-size: 12px;
  line-height: 15px;
  padding-bottom: 1px;
}
.installment__price-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.installment__price-value {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: right;
}
.installment__price-current {
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
}
.installment__price-end {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  margin-top: -2px;
}
.installment__price-notes {
  font-size: 11px;
  line-height: 16px;
  margin-left: 5px;
}
.installment__price-note {
  margin-top: 3px;
}
.installment__price-note:last-child {
  margin-top: -1px;
}
.installment__body {
  display: none;
}
.installment__body.is-active {
  display: block;
}
.installment__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -6px;
}
.installment__items.row-cols-6 {
  margin-left: -4px;
}
.installment__items.row-cols-6 .installment__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.666666666666668%;
          flex: 0 0 16.666666666666668%;
  max-width: 16.666666666666668%;
  width: 16.666666666666668%;
  padding-left: 4px;
}
.installment__items.row-cols-6 .installment__item-body {
  padding-left: 0;
  padding-right: 0;
}
.installment__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  width: 25%;
  padding-left: 6px;
  margin-bottom: 6px;
}
.installment__item.is-active .installment__item-border {
  background-color: var(--color1);
}
.installment__item.is-active .installment__item-main {
  color: #000;
  font-weight: 400;
}
.installment__item.is-active .installment__item-body .svg-icon {
  display: block;
}
.installment__item-border {
  margin-bottom: 4px;
  height: 5px;
  background: var(--color28);
  border-radius: 2px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.installment__item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 7px 0 7px;
}
.installment__item-body .svg-icon {
  display: none;
  width: 13px;
  height: 9px;
  fill: var(--color30);
}
.installment__item-main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  font-size: 11px;
  line-height: 16px;
  color: var(--color29);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.installment__item-price {
  margin-top: -5px;
  white-space: nowrap;
}
.installment__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.installment__footer-text {
  font-size: 11px;
  line-height: 16px;
}
.installment__footer-link {
  font-size: 11px;
  line-height: 14px;
  color: #000;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.installment__footer-link:hover {
  text-decoration: none;
  color: var(--color5);
}
@media (min-width: 768px) {
  .installment {
    border-radius: 5px;
    padding: 11px 17px 8px;
  }
  .installment__header {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 8px;
  }
  .installment__buttons {
    margin-bottom: 16px;
  }
  .installment__buttons .site-button {
    font-size: 16px;
    line-height: 21px;
    height: 32px;
    padding-bottom: 2px;
  }
  .installment__price {
    margin-bottom: 9px;
  }
  .installment__price .site-button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    max-width: 100px;
    width: 100px;
    height: 32px;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 2px;
  }
  .installment__price-current {
    font-size: 20px;
    line-height: 26px;
  }
  .installment__price-end {
    font-size: 16px;
    line-height: 21px;
    margin-top: -3px;
  }
  .installment__price-notes {
    font-size: 14px;
    line-height: 21px;
    margin-left: 8px;
  }
  .installment__price-note {
    margin-top: 3px;
  }
  .installment__price-note:last-child {
    margin-top: -2px;
  }
  .installment__items {
    margin-left: -7px;
  }
  .installment__items.row-cols-6 {
    margin-left: -4px;
  }
  .installment__items.row-cols-6 .installment__item {
    padding-left: 4px;
  }
  .installment__items.row-cols-6 .installment__item-body .svg-icon {
    margin-top: -6px;
  }
  .installment__items.row-cols-6 .installment__item-main {
    font-size: 12px;
    line-height: 18px;
  }
  .installment__item {
    padding-left: 7px;
    margin-bottom: 13px;
  }
  .installment__item-border {
    margin-bottom: 5px;
    height: 6px;
  }
  .installment__item-body {
    padding-left: 9px;
    padding-right: 9px;
  }
  .installment__item-body .svg-icon {
    width: 16px;
    height: 11px;
  }
  .installment__item-main {
    font-size: 14px;
    line-height: 21px;
  }
  .installment__item-price {
    margin-top: -6px;
  }
  .installment__footer {
    margin-top: -7px;
  }
  .installment__footer-text {
    font-size: 15px;
    line-height: 22px;
  }
  .installment__footer-link {
    font-size: 15px;
    line-height: 19px;
  }
}
@media (min-width: 992px) {
  .installment {
    margin-bottom: 0;
    border: 1px solid var(--color16);
  }
}
