.m-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  margin-bottom: 13px;
}
.m-buttons__item {
  min-height: 34px;
  border: 1px solid #202020;
  border-radius: 5px;
  font-weight: 400;
  background: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 33px;
  padding-right: 33px;
  width: 47%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.m-buttons__item + .m-buttons__item {
  margin-left: 11px;
}
.m-buttons__item--filter {
  background: url("data:image/svg+xml,%3Csvg width='21' height='18' viewBox='0 0 21 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.59082 16.5455V10.5' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.59082 7.04545V1' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.5 16.5454V8.77271' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.5 5.31818V1' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.4092 16.5455V12.2273' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.4092 8.77273V1' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 10.5H6.18182' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.90918 5.31818H13.091' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.8184 12.2273H20.0002' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 8px center no-repeat;
}
.m-buttons__item--sorting {
  background: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7L11 7' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 1L17 1' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 13H5' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 8px center no-repeat;
}
.m-buttons__additionally {
  border: 90909;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7px;
  width: 100%;
}
.m-buttons__additionally:before,
.m-buttons__additionally:after {
  content: '';
  height: 1px;
  margin-top: 1px;
  background: #000;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}
.m-buttons__additionally-button {
  border: 0;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 11px 0 23px;
  cursor: pointer;
}
.m-buttons__additionally-button .icn {
  margin-left: 8px;
  font-size: 16px;
  color: #d85757;
  font-weight: 400;
  line-height: 10px;
  margin-top: 2px;
}
@media (min-width: 575px) {
  .m-buttons__item {
    min-height: 42px;
    font-size: 16px;
  }
  .m-buttons__additionally {
    margin-top: 15px;
  }
  .m-buttons__additionally-button {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .m-buttons {
    display: none;
  }
}
