.m-h-button {
  width: 27px;
  height: 27px;
  border-radius: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 4px;
  cursor: pointer;
}
.m-h-button .svg-icon {
  fill: #000;
  display: block;
}
.m-h-button--burger {
  margin-left: 0;
  margin-right: 12px;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.m-h-button--burger:before,
.m-h-button--burger:after,
.m-h-button--burger .b-line {
  border-top: 1.3px solid #000;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.m-h-button--burger.close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 12px;
}
.m-h-button--burger.close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 12px;
}
.m-h-button--burger.close .b-line {
  display: none;
  left: 100%;
}
.m-h-button--burger:before,
.m-h-button--burger:after {
  width: 20px;
  content: '';
}
.m-h-button--burger:before {
  top: 5px;
}
.m-h-button--burger:after {
  bottom: 5px;
}
.m-h-button--burger .b-line {
  right: 6px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.m-h-button--cart .svg-icon {
  width: 18px;
  height: 20px;
}
.m-h-button--phone .svg-icon {
  width: 21px;
  height: 21px;
}
.m-h-button--search .svg-icon {
  width: 20px;
  height: 20px;
}
@media (min-width: 768px) {
  .m-h-button {
    margin-left: 15px;
    width: 40px;
    height: 40px;
  }
  .m-h-button--burger {
    margin-left: 0;
    margin-right: 20px;
  }
  .m-h-button--burger:before {
    top: 10px;
  }
  .m-h-button--burger:after {
    bottom: 10px;
  }
  .m-h-button--burger .b-line {
    right: 14px;
  }
  .m-h-button--burger.close:before {
    top: 19px;
  }
  .m-h-button--burger.close:after {
    bottom: 18px;
  }
}
