.m-question {
  margin-left: 6px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 1px;
}
.m-question:active .m-question__icon {
  background: var(--questionh) center center no-repeat;
}
.m-question__icon {
  width: 16px;
  height: 16px;
  background: var(--question) center center no-repeat;
  background-size: contain;
}
.m-question__text {
  background: #fff;
  font-size: 12px;
  line-height: 120%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  -webkit-box-shadow: 0px 4px 16px rgba(223,223,223,0.25);
          box-shadow: 0px 4px 16px rgba(223,223,223,0.25);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  z-index: 10;
  opacity: 0;
  -webkit-transition: 0.3s ease opacity;
  transition: 0.3s ease opacity;
}
.m-question__text-title {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding: 10px 20px 10px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 20px;
  min-height: 48px;
  border-bottom: 1px solid #e9e3cf;
}
.m-question__text-title:before {
  content: '';
  width: 6px;
  height: 13px;
  margin-right: 20px;
  background: var(--arr-l) center center no-repeat;
  background-size: contain;
}
.m-question__text-title span {
  margin-left: auto;
  pointer-events: none;
}
.m-question__text-title span:after {
  content: '';
  display: block;
  margin-left: 15px;
  width: 12px;
  height: 12px;
  background: var(--close2) center center no-repeat;
  background-size: contain;
}
.m-question__text-body {
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.m-question__text-footer {
  padding: 10px 20px;
}
.m-question__text-footer .site-button {
  width: 100%;
}
.m-question.is-opened .m-question__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.m-question.is-visible .m-question__text {
  opacity: 1;
}
@media (min-width: 768px) {
  .m-question:hover .m-question__icon {
    background: var(--questionh) center center no-repeat;
    background-size: contain;
  }
  .m-question:hover .m-question__text {
    display: block;
    opacity: 1;
  }
  .m-question__text {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 246px;
    margin-left: 13px;
    left: 100%;
    height: auto;
    bottom: auto;
    border-radius: 5px;
    z-index: 100;
  }
  .m-question__text:after {
    content: '';
    position: absolute;
    top: 50%;
    height: 50px;
    margin-top: -25px;
    left: -22px;
    width: 22px;
  }
  .m-question__text:before {
    content: '';
    border: 8px solid transparent;
    border-right: 8px solid #fff;
    position: absolute;
    left: -16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .m-question__text-title,
  .m-question__text-footer {
    display: none;
  }
  .m-question__text-body {
    cursor: auto;
  }
}
