.mobile-sidebar {
  position: fixed;
  left: 0;
  right: 0;
  top: 40px;
  height: calc(100% - 40px);
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}
.mobile-sidebar.is-opened {
  opacity: 1;
  visibility: visible;
}
.mobile-sidebar.is-opened:before {
  opacity: 1;
}
.mobile-sidebar.is-opened .mobile-sidebar__container {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile-sidebar.is-closing:before {
  opacity: 0;
}
.mobile-sidebar.is-closing .mobile-sidebar__container {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.mobile-sidebar:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  opacity: 0;
  -webkit-transition: 0.5s ease opacity;
  transition: 0.5s ease opacity;
}
.mobile-sidebar__container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 450px;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: 0.5s ease transform;
  transition: 0.5s ease transform;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background: #d9e5ea;
}
.mobile-sidebar__container-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.mobile-sidebar__top {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-bottom: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}
.mobile-sidebar__shop-navs {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.mobile-sidebar__footer {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding: 17px 10px 22px;
  background: #f9f9f9;
  z-index: 1;
}
.mobile-sidebar__footer .site-button {
  width: 100%;
  min-height: 39px;
  font-weight: 400;
  margin-bottom: 20px;
}
.mobile-sidebar__footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.mobile-sidebar__i-info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  vertical-align: top;
  padding-right: 17px;
  width: 59%;
}
.mobile-sidebar__i-info:nth-child(2n) {
  width: 40%;
  padding-right: 0;
}
.mobile-sidebar__i-info:last-child {
  margin-right: 0;
}
.mobile-sidebar__i-info > span {
  display: block;
  color: var(--color5);
}
.mobile-sidebar__i-info .i-sity {
  border-bottom: 1px dashed var(--color5);
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  -webkit-overflow-scrolling: touch;
}
.mobile-sidebar .shop-nav__item {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 4px 25px 5px;
  min-height: 40px;
}
.mobile-sidebar .shop-nav__item:last-child:after {
  display: none;
}
.mobile-sidebar .shop-nav__item:after {
  content: '';
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 1px;
  background: #eaeaea;
}
.mobile-sidebar .shop-nav__item-icon {
  width: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 11px;
}
.mobile-sidebar .shop-nav__item-icon .svg-icon {
  fill: var(--color5);
}
.mobile-sidebar .shop-nav__item-icon .svg-icon--rotate-arr {
  width: 14px;
  height: 14px;
}
.mobile-sidebar .shop-nav__item-icon .svg-icon--comparison {
  width: 12px;
  height: 15px;
}
.mobile-sidebar .shop-nav__item-icon .svg-icon--heart {
  width: 15px;
  height: 14px;
}
.mobile-sidebar .shop-nav__item-icon .svg-icon--cart {
  width: 14px;
  height: 15px;
}
.mobile-sidebar .shop-nav__item-name {
  padding-right: 10px;
}
.mobile-sidebar .shop-nav__item-quantity {
  margin-left: auto;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: #f2f2f2;
  border-radius: 100%;
}
@media (min-width: 768px) {
  .mobile-sidebar {
    top: 53px;
    height: calc(100vh - 53px);
    height: calc(calc(var(--vh, 1vh) * 100) - 53px);
  }
}
