.product-reviews {
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 18px;
}
.product-reviews__header {
  display: none;
}
.product-reviews__subheader {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
.product-reviews__photos {
  margin-bottom: 23px;
}
.product-reviews__photos.swiper {
  margin-left: -5px;
  margin-right: -5px;
  padding-left: 5px;
  padding-right: 5px;
}
.product-reviews__photos.swiper-initialized .product-reviews__photo {
  margin-left: 0;
}
.product-reviews__photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90px;
          flex: 0 0 90px;
  max-width: 90px;
  width: 90px;
  margin-left: 11px;
}
.product-reviews__photo:first-child {
  margin-left: 0;
}
.product-reviews__photo img {
  display: block;
  width: 100%;
  height: auto;
}
.product-reviews .product-quote {
  display: block;
}
.product-reviews .product-quote__in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-reviews .product-quote__button {
  display: none;
}
.product-reviews .product-quote__text {
  font-weight: 400;
}
.product-reviews .product-quote .site-button {
  width: 100%;
  margin-top: 13px;
  min-height: 41px;
}
@media (min-width: 768px) {
  .product-reviews {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 23px;
  }
  .product-reviews__subheader {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 18px;
  }
  .product-reviews__photos.swiper {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .product-reviews__photos {
    margin-bottom: 45px;
  }
  .product-reviews__photos.swiper-initialized .product-reviews__photo {
    margin-left: 0;
  }
  .product-reviews__photo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 181px;
            flex: 0 0 181px;
    max-width: 181px;
    width: 181px;
    margin-left: 23.5px;
  }
  .product-reviews__photo:first-child {
    margin-left: 0;
  }
  .product-reviews .product-quote__image {
    width: 129px;
    height: 129px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    max-width: none;
  }
  .product-reviews .product-quote__text {
    font-size: 16px;
    line-height: 1.2;
  }
  .product-reviews .product-quote .site-button {
    min-height: 41px;
    margin-top: 0;
  }
  .product-reviews .product-quote__button {
    display: block;
  }
}
@media (min-width: 992px) {
  .product-reviews {
    margin-bottom: 23px;
  }
  .product-reviews__header {
    display: block;
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 2px;
    font-weight: 400;
  }
  .product-reviews__photos.swiper {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1200px) {
  .product-reviews .product-quote {
    padding: 20px 36px 20px 25px;
  }
  .product-reviews .product-quote__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .product-reviews .product-quote__image {
    margin-right: 24px;
  }
  .product-reviews .product-quote__text {
    padding-right: 30px;
    max-width: 332px;
  }
  .product-reviews .product-quote__button {
    margin-top: 0;
    max-width: 55%;
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .product-reviews .product-quote .site-button {
    width: 100%;
    max-width: none;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    min-height: 69px;
    font-size: 24px;
  }
}
