.product-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 29px;
}
.product-tabs .delivery {
  margin-bottom: 0;
}
.product-tabs .popular-goods {
  display: none;
}
.product-tabs .popular-goods .section-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-tabs .popular-goods .section-more__link {
  font-size: 16px;
  line-height: 21px;
  height: 21px;
  top: -42px;
}
.product-tabs .popular-goods__header {
  font-size: 24px;
  line-height: 31px;
  font-weight: 450;
  margin-bottom: 19px;
}
.product-tabs .popular-goods__items {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -16px;
}
.product-tabs .popular-goods__items .product-thumb {
  -ms-flex-preferred-size: calc(33.3333% - 16px);
      flex-basis: calc(33.3333% - 16px);
  max-width: calc(33.3333% - 16px);
  width: calc(33.3333% - 16px);
  margin-left: 16px;
  margin-bottom: 27px;
}
.product-tabs .popular-goods__items .product-thumb__content {
  margin-top: 4px;
}
.product-tabs .popular-goods__items .product-thumb__title {
  font-size: 12px;
  line-height: 16px;
}
.product-tabs .popular-goods__items .product-thumb__price-current {
  font-size: 14px;
  line-height: 19px;
}
.product-tabs .popular-goods__items .product-thumb__price-old {
  font-size: 10px;
  line-height: 12px;
  margin-right: 7px;
  margin-bottom: 1px;
}
.product-tabs .popular-goods__items .product-thumb__price-old:last-child {
  margin-right: 0;
}
.product-tabs .popular-goods__items .product-thumb__discount {
  height: 11px;
  font-size: 9px;
  line-height: 11px;
  min-width: 22px;
  margin-bottom: 1px;
  margin-right: 7px;
}
.product-tabs .popular-goods__items .product-thumb__discount:last-child {
  margin-right: 0;
}
.product-tabs .popular-goods__items .product-thumb__gift {
  margin-bottom: 1px;
}
.product-tabs__title {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: calc(100% + 20px);
      flex-basis: calc(100% + 20px);
  max-width: calc(100% + 20px);
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-right: -10px;
  padding: 11px 10px 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color6);
  border-top: 1px solid var(--color31);
  border-bottom: 1px solid var(--color31);
  margin-bottom: -1px;
  position: relative;
  cursor: pointer;
}
.product-tabs__title .ttl {
  color: #a5a5a5;
}
.product-tabs__title.is-active {
  border-bottom: 0;
}
.product-tabs__title:first-child {
  display: none;
}
.product-tabs__arrow {
  margin-left: auto;
  display: block;
  position: absolute;
  right: 16px;
  top: 50%;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  -webkit-transition: 0.3s -webkit-transform;
  transition: 0.3s -webkit-transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
}
.product-tabs__arrow:before,
.product-tabs__arrow:after {
  content: '';
  position: absolute;
  right: 16px;
  background: #000;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.product-tabs__arrow:before {
  width: 100%;
  height: 1px;
}
.product-tabs__arrow:after {
  width: 1px;
  height: 100%;
}
.product-tabs__header {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: calc(100% + 20px);
      flex-basis: calc(100% + 20px);
  max-width: calc(100% + 20px);
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-right: -10px;
  padding: 11px 10px 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color6);
  border-top: 1px solid var(--color31);
  border-bottom: 1px solid var(--color31);
  margin-bottom: -1px;
  cursor: pointer;
  position: relative;
}
.product-tabs__header.is-active {
  border-bottom: 0;
}
.product-tabs__description {
  padding-top: 12px;
  padding-bottom: 17px;
}
.product-tabs__description.is-hidden {
  display: none;
}
.product-tabs__body {
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 17px;
}
.product-tabs__body.is-opened {
  display: block;
}
.product-tabs .is-active .product-tabs__arrow {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.product-tabs__row:last-child {
  margin-bottom: -18px;
}
@media (min-width: 768px) {
  .product-tabs__title {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(100% + 40px);
        flex-basis: calc(100% + 40px);
    max-width: calc(100% + 40px);
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 26px;
    line-height: 1.2;
  }
  .product-tabs__arrow {
    font-size: 20px;
    line-height: 24px;
    right: 22px;
  }
  .product-tabs__header {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(100% + 40px);
        flex-basis: calc(100% + 40px);
    max-width: calc(100% + 40px);
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    line-height: 31px;
  }
  .product-tabs__description {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media (min-width: 992px) {
  .product-tabs {
    margin-bottom: 46px;
  }
  .product-tabs .delivery__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
  }
  .product-tabs .popular-goods {
    display: block;
  }
  .product-tabs__title {
    display: block;
    margin-left: 0;
    margin-right: 0;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    max-width: none;
    width: auto;
    font-size: 24px;
    line-height: 31px;
    border: none;
    background: none;
    padding: 0;
    margin: 0 0 44px 25px;
  }
  .product-tabs__title:after {
    content: '';
    display: block;
    opacity: 0;
    margin-right: 118px;
    height: 7px;
    margin-top: 10px;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    background-color: var(--color34);
  }
  .product-tabs__title:first-child {
    display: block;
    margin-left: 0;
  }
  .product-tabs__title.is-active:after {
    opacity: 1;
  }
  .product-tabs__arrow {
    display: none;
  }
  .product-tabs__header {
    margin-left: 0;
    margin-right: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    padding: 0;
    background: none;
    border: none;
    margin-bottom: 28px;
    font-weight: 450;
    cursor: auto;
  }
  .product-tabs__description {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 45px;
  }
  .product-tabs__body {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0;
  }
  .product-tabs__body.is-opened {
    -webkit-animation: fadeIn 0.7s forwards;
            animation: fadeIn 0.7s forwards;
  }
  .product-tabs__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px;
  }
  .product-tabs__col {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(50%);
        flex-basis: calc(50%);
    max-width: calc(50%);
    width: calc(50%);
    padding-left: 30px;
  }
  .product-tabs__col:last-child {
    margin-top: -8px;
  }
  .product-tabs .product-thumb__discount-and-old-price {
    padding-bottom: 0;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  .product-tabs__col {
    padding-left: 65px;
  }
}
@media (min-width: 1200px) {
  .product-tabs {
    margin-bottom: 66px;
  }
  .product-tabs .delivery__cols {
    margin-left: -56px;
  }
  .product-tabs .delivery__col {
    padding-left: 56px;
  }
  .product-tabs__title {
    font-size: 30px;
    line-height: 38px;
    margin-left: 20px;
  }
  .product-tabs__title:first-child {
    margin-left: 0;
  }
  .product-tabs__row {
    margin-left: -65px;
  }
}
@media (min-width: 1366px) {
  .product-tabs__title {
    margin-left: 65px;
  }
  .product-tabs__title:first-child {
    margin-left: 0;
  }
}
@media (min-width: 1440px) {
  .product-tabs__title {
    margin-left: 73px;
  }
  .product-tabs__title:first-child {
    margin-left: 0;
  }
}
