.product-table {
  margin-left: -5px;
  margin-right: -5px;
}
.product-table__table {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.product-table__row {
  display: table-row;
}
.product-table__row:nth-child(odd) {
  background-color: var(--color33);
}
.product-table__col {
  display: table-cell;
  width: 50%;
  font-size: 8px;
  line-height: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 400;
  padding-right: 10px;
}
.product-table__col:first-child {
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
}
.product-table__header {
  margin-top: 15px;
  font-size: 9px;
  line-height: 11px;
  font-weight: 400;
  margin-bottom: 4px;
}
@media (min-width: 768px) {
  .product-table {
    margin-left: 0;
    margin-right: 0;
  }
  .product-table__col {
    font-size: 18px;
    line-height: 17px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 23px;
  }
  .product-table__col--value {
    font-size: 16px;
  }
  .product-table__col:first-child {
    padding-left: 23px;
    padding-right: 23px;
  }
  .product-table__header {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
    margin-top: 28px;
  }
}
