.product-list {
  margin-bottom: 13px;
}
.product-list__head {
  margin-bottom: 7px;
  width: 100%;
}
.product-list__title {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}
.product-list.m-scroll-x {
  position: relative;
}
.product-list.m-scroll-x:after {
  content: '';
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: var(--border-color);
}
.product-list.m-scroll-x .product-list__items {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  overflow: hidden;
  overflow-x: auto;
  scrollbar-height: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}
.product-list.m-scroll-x .product-list__items::-webkit-scrollbar {
  display: none;
}
.product-list__items {
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 5px;
  padding-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.product-list__button {
  text-align: center;
  margin-top: 22px;
}
.product-list__button .site-button {
  width: 100%;
  max-width: 396px;
  font-weight: 300;
}
.product-list--similar .product-list__title,
.product-list--sale .product-list__title {
  margin-bottom: 13px;
}
.product-list--similar .product-item,
.product-list--sale .product-item {
  border-bottom: none;
}
.product-list--similar:not(.m-scroll-x) .product-list__items,
.product-list--sale:not(.m-scroll-x) .product-list__items {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  overflow: hidden;
  overflow-x: auto;
  scrollbar-height: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: -10px;
  margin-right: -10px;
  -webkit-overflow-scrolling: touch;
}
.product-list--similar:not(.m-scroll-x) .product-list__items::-webkit-scrollbar,
.product-list--sale:not(.m-scroll-x) .product-list__items::-webkit-scrollbar {
  display: none;
}
.product-list--similar:not(.m-scroll-x) .product-item,
.product-list--sale:not(.m-scroll-x) .product-item {
  border-bottom: none;
  width: 278px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
}
.product-list--sale {
  margin-bottom: 22px;
}
.product-list.smallest {
  margin-bottom: 27px;
}
.product-list + .product-list {
  margin-top: 32px;
}
.site-popup .product-list {
  width: 1116px;
  max-width: 100%;
  margin-top: 32px;
}
.site-popup .product-list__head {
  display: block;
}
@media (min-width: 768px) {
  .product-list__items {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .product-list__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 15px;
  }
  .product-list__title {
    font-size: 30px;
    margin-right: 40px;
    margin-bottom: 24px;
  }
  .product-list__button {
    margin-top: 40px;
    margin-bottom: 54px;
  }
  .product-list--similar .prices,
  .product-list--sale .prices {
    margin-top: 23px;
    margin-right: 0;
  }
  .product-list--similar .product-list__head,
  .product-list--sale .product-list__head {
    display: block;
  }
  .product-list--similar .product-list__title,
  .product-list--sale .product-list__title {
    margin-bottom: 15px;
    line-height: 1;
  }
  .product-list--similar:not(.m-scroll-x) .product-list__items,
  .product-list--sale:not(.m-scroll-x) .product-list__items {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .product-list--similar:not(.m-scroll-x) .product-item,
  .product-list--sale:not(.m-scroll-x) .product-item {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 992px) {
  .product-list {
    margin-bottom: 20px;
  }
  .product-list__head {
    margin-bottom: 0;
  }
  .product-list__title {
    margin-bottom: 15px;
    line-height: 1;
  }
  .product-list.m-scroll-x .product-list__items {
    overflow: visible;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .product-list--similar .product-list__title,
  .product-list--sale .product-list__title {
    font-size: 40px;
    line-height: 51px;
    margin-bottom: 9px;
  }
  .product-list--similar:not(.m-scroll-x) .product-list__items,
  .product-list--sale:not(.m-scroll-x) .product-list__items {
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 12px;
    padding-right: 12px;
    overflow: visible;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .product-list--similar:not(.m-scroll-x) .product-item,
  .product-list--sale:not(.m-scroll-x) .product-item {
    width: 25%;
    padding-top: 24px;
  }
  .product-list--sale,
  .product-list--similar {
    margin-bottom: 70px;
  }
  .product-list + .product-list {
    margin-top: 47px;
  }
}
@media (min-width: 1200px) {
  .product-list.smallest {
    margin-bottom: 50px;
  }
}
