.product-card h1 {
  margin-bottom: 26px;
  margin-top: -4px;
}
.product-card .product-controls__item--more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-card .product-controls__tooltips {
  z-index: 11;
}
.product-card .fake-select {
  margin-bottom: 17px;
}
.product-card .fake-select__text {
  padding: 10px 27px 6px 29px;
}
.product-card .fake-select__text:after {
  right: 17px;
}
.product-card .fake-select__text-col {
  font-size: 12px;
  line-height: 18px;
}
.product-card .fake-select__text-col:first-child {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.product-card .fake-select__text-col:first-child .fake-select__text-col-name {
  margin-top: -2px;
  font-size: 10px;
  line-height: 15px;
}
.product-card .fake-select__text-col:first-child .fake-select__text-col-val {
  font-size: 12px;
  line-height: 18px;
}
.product-card .fake-select__text-col:nth-child(2) {
  margin-left: 4px;
}
.product-card .fake-select__text-col:last-child {
  padding-bottom: 3px;
  margin-left: -4px;
  margin-right: 10px;
}
.product-card .fake-select__text-col-val {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.product-card .fake-select__text-col-val:before {
  bottom: 0;
}
.product-card .fake-select__text-col-name {
  font-size: 9px;
  line-height: 14px;
  margin-bottom: -4px;
}
.product-card .fake-select__text-col-sm {
  display: block;
  font-size: 12px;
  line-height: 18px;
  margin-top: -4px;
}
.product-card__aside {
  margin-bottom: 18px;
}
.product-card__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
}
.product-card__images.is-hidden {
  display: none;
}
.product-card__image {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: calc(100% - 10px);
      flex-basis: calc(100% - 10px);
  max-width: calc(100% - 10px);
  width: calc(100% - 10px);
  margin-left: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 3px;
  background-color: var(--color15);
  -webkit-overflow-scrolling: touch;
}
.product-card__image img {
  display: block;
  width: 100%;
  height: auto;
}
.product-card__image--half {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: calc(50% - 10px);
      flex-basis: calc(50% - 10px);
  max-width: calc(50% - 10px);
  width: calc(50% - 10px);
}
.product-card__images-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 300;
}
.product-card__images-more span {
  display: block;
  position: relative;
  top: 1px;
  margin-left: 8px;
}
.product-card__images-more.is-hidden {
  display: none;
}
.product-card__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.product-card__header {
  display: none;
}
.product-card__price-wrap {
  margin-bottom: 16px;
}
.product-card__price-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-card__price-current {
  font-size: 36px;
  line-height: 46px;
  font-weight: 400;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
  color: #f00;
}
.product-card__price-row {
  margin-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-card .i-rating {
  font-size: 13px;
  margin-top: -2px;
  margin-left: auto;
}
.product-card__price-old {
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: var(--color16);
  margin-right: 6px;
}
.product-card__discount {
  border-radius: 2px;
  color: var(--color16);
  background: var(--color17);
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 26px;
          flex: 0 0 26px;
  max-width: 26px;
  width: 26px;
  height: 13px;
  margin-right: 4px;
}
.product-card__gift {
  height: 13px;
  background: var(--color24);
  border-radius: 2px;
  color: #fff;
  font-size: 10px;
  line-height: 13px;
  padding: 0 5px 0 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 4px;
}
.product-card__controls {
  margin-left: auto;
  position: relative;
  margin-top: 10px;
}
.product-card__buttons {
  margin-bottom: 16px;
}
.product-card__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}
.product-card__button:first-child {
  margin-top: 0;
}
.product-card__button .site-button {
  width: 100%;
  height: 37px;
  padding-top: 0;
  padding-bottom: 1px;
}
.product-card__button .site-button.is-hidden {
  display: none;
}
.product-card__button .quantity {
  display: none;
}
.product-card__button.in-cart .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 414px) {
  .product-card .fake-select__text-col:first-child {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .product-card .fake-select__text-col:nth-child(2) {
    margin-left: auto;
  }
  .product-card .fake-select__text-col:last-child {
    margin-right: auto;
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .product-card .fake-select__text {
    padding: 12px 37px 11px 41px;
  }
  .product-card .fake-select__text-col:first-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product-card .fake-select__text-col:first-child .fake-select__text-col-name {
    margin-top: -5px;
    font-size: 12px;
    line-height: 18px;
  }
  .product-card .fake-select__text-col:first-child .fake-select__text-col-val {
    font-size: 16px;
    line-height: 24px;
  }
  .product-card .fake-select__text-col:nth-child(2) {
    margin-left: 0;
  }
  .product-card .fake-select__text-col:nth-child(2) {
    margin-left: auto;
  }
  .product-card .fake-select__text-col:last-child {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 2px;
    position: relative;
    left: -5px;
  }
  .product-card .fake-select__text-col-val {
    line-height: 30px;
    margin-top: 0;
  }
  .product-card .fake-select .fake-select__text-col-name + .fake-select__text-col-val,
  .product-card .fake-select .p-size__text-col-name + .fake-select__text-col-val,
  .product-card .fake-select .fake-select__text-col-name + .p-size__text-col-val,
  .product-card .fake-select .p-size__text-col-name + .p-size__text-col-val {
    font-size: 20px;
  }
  .product-card .fake-select__text-col-name {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: -5px;
  }
  .product-card__images-more {
    height: 50px;
    padding: 0 0 3px;
    font-size: 20px;
    line-height: 30px;
    margin-top: -4px;
  }
  .product-card__images-more span {
    top: 2px;
    margin-left: 18px;
  }
  .product-card__price-current {
    font-size: 48px;
    line-height: 62px;
  }
  .product-card__price-row {
    margin-top: -2px;
  }
  .product-card .i-rating {
    font-size: 15px;
  }
  .product-card__price-old {
    font-size: 16px;
    line-height: 17px;
    margin-right: 10px;
  }
  .product-card__discount {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35px;
            flex: 0 0 35px;
    max-width: 35px;
    width: 35px;
    height: 17px;
    font-size: 14px;
    line-height: 18px;
    margin-right: 16px;
    border-radius: 3px;
  }
  .product-card__gift {
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    padding: 0 7px 0 4px;
    height: 17px;
    margin-right: 16px;
  }
  .product-card__controls {
    margin-top: 16px;
  }
  .product-card__buttons {
    margin-bottom: 23px;
  }
  .product-card__button {
    margin-top: 14px;
  }
  .product-card__button:first-child {
    margin-top: 0;
  }
  .product-card__button .site-button {
    height: 50px;
    padding-top: 0;
    font-size: 20px;
    padding-bottom: 3px;
  }
}
@media (min-width: 992px) {
  .product-card {
    margin-bottom: 50px;
  }
  .product-card h1 {
    display: none;
  }
  .product-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product-card .product-quote__button {
    display: block;
  }
  .product-card .product-quote__colors {
    margin-bottom: 10px;
  }
  .product-card .fake-select {
    margin-bottom: 23px;
  }
  .product-card__aside {
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
    margin-bottom: 0;
    padding-right: 30px;
  }
  .product-card__images {
    margin-left: -30px;
  }
  .product-card__image {
    margin-left: 30px;
    margin-bottom: 30px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(100% - 30px);
        flex-basis: calc(100% - 30px);
    max-width: calc(100% - 30px);
    width: calc(100% - 30px);
  }
  .product-card__image--half {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    max-width: calc(50% - 30px);
    width: calc(50% - 30px);
  }
  .product-card__data {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 406px;
            flex: 0 0 406px;
    max-width: 406px;
    width: 406px;
  }
  .product-card__data .product-quote--color_yellow {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .product-card__header {
    display: block;
    margin-bottom: 2px;
    font-size: 32px;
    line-height: 41px;
    font-weight: 400;
  }
  .product-card__price-wrap {
    margin-bottom: 25px;
  }
  .product-card__button .site-button.is-hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .product-card {
    margin-bottom: 147px;
  }
  .product-card__aside {
    padding-right: 55px;
  }
}
