.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-links__header {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social-links__item {
  margin-right: 14px;
  max-width: 27px;
  max-height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-links__item:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.social-links__item img {
  max-width: 27px;
  -webkit-transition: 0.17s ease transform;
  transition: 0.17s ease transform;
  display: block;
}
.social-links__item:last-child {
  margin-right: 0;
}
.social-links--with-header {
  display: block;
}
.social-links--with-header .social-links__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 23px;
  max-height: 21px;
}
.social-links--with-header .social-links__item img {
  max-width: 29px;
}
