.sorting {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 26px 0;
  width: 100%;
}
.sorting__item {
  font-size: 14px;
  margin-bottom: 28px;
  font-weight: 400;
}
.sorting__item:last-child {
  margin-bottom: 0;
}
.sorting__item.is-active .icn {
  background: var(--color5h);
}
.sorting__item.is-active .icn:after {
  background: var(--color5);
  margin-left: calc(100% - 18px);
}
.sorting__item a {
  color: #000;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sorting__item .icn {
  width: 49px;
  height: 24px;
  margin-left: auto;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding: 2px 3px;
  border: 1px solid #37bfdf;
  border-radius: 36px;
  margin-left: auto;
  -webkit-transition: 0.3s ease background-color;
  transition: 0.3s ease background-color;
}
.sorting__item .icn:after {
  content: '';
  border-radius: 50px;
  width: 18px;
  display: block;
  margin-left: 0;
  height: 18px;
  background: #eee9d8;
  -webkit-transition: 0.3s ease margin-left, 0.3s ease background;
  transition: 0.3s ease margin-left, 0.3s ease background;
}
@media (min-width: 992px) {
  .sorting {
    padding: 4px 0 0 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sorting__item {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0;
    margin-right: 4.2%;
  }
  .sorting__item .icn {
    display: none;
  }
  .sorting__item a:hover {
    color: var(--color5);
  }
  .sorting__item.is-active {
    font-weight: 450;
  }
  .sorting__item.is-active a {
    color: #000;
  }
}
