.text-block2 {
  text-align: center;
  margin-bottom: 22px;
}
.text-block2__image {
  margin-bottom: 15px;
}
.text-block2__text {
  text-align: left;
  font-size: 12px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .text-block2 {
    margin-bottom: 40px;
  }
  .text-block2__text {
    font-size: 16px;
    line-height: 1.8;
  }
}
@media (min-width: 992px) {
  .text-block2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text-block2__image {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 198px;
    margin-right: 40px;
    margin-bottom: 0;
  }
  .text-block2__text {
    padding-top: 10px;
  }
}
