.text-block {
  padding: 15px 17px;
  border-radius: 10px;
  background-color: var(--color3);
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 13px;
  margin-left: 12px;
  width: calc(50% - 12px);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.text-block:last-child {
  margin-bottom: 0;
}
.text-block:first-child {
  width: calc(100% - 12px);
}
.text-block__title.h2 {
  margin-top: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 3px;
}
.text-block p {
  margin-top: 12px;
  margin-bottom: 12px;
}
.text-block p:first-child {
  margin-top: 0;
}
.text-block p:last-child {
  margin-bottom: 0;
}
.text-block b,
.text-block strong {
  font-weight: 500;
}
.text-block a[href^="tel"],
.text-block a[href^="mailto"] {
  color: #000;
  text-decoration: none;
}
.text-block ul {
  padding: 0 0 0 14px;
  margin: 0;
}
.text-block ul li {
  margin-bottom: 3px;
}
.text-block .line-style {
  padding: 0;
  list-style: none;
}
.text-block .line-style li {
  margin-bottom: 18px;
  padding-left: 12px;
  position: relative;
}
.text-block .line-style li:before {
  content: '';
  width: 3px;
  height: 1px;
  background: #000;
  position: absolute;
  left: 0;
  top: 8px;
}
.text-block .line-style li:last-child {
  margin-bottom: 0;
}
.text-block__container {
  margin-right: auto;
  padding-right: 10px;
}
.text-block .city-selection {
  width: 88px;
}
.text-block.type-2 {
  background: #fffae7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.text-block.type-3 {
  background: none;
}
.text-block.type-3 .text-block__title {
  padding-left: 14px;
  position: relative;
  margin-left: -14px;
}
.text-block.type-3 .text-block__title:before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 4px;
  height: 4px;
  display: block;
  background: #000;
  border-radius: 50px;
  margin-right: 9px;
}
.text-block.no-bg {
  background: none;
}
.text-blocks.type-2 .text-block {
  width: 100%;
  font-weight: 300;
}
.text-blocks.type-3 .text-block {
  width: 100%;
  font-weight: 300;
}
.text-blocks.type-4 .text-block {
  width: 100%;
  font-weight: 300;
}
.text-blocks.type-5 .text-block {
  width: 100%;
  font-weight: 300;
}
@media (min-width: 768px) {
  .text-block ul {
    padding-left: 17px;
  }
  .text-block.type-2 {
    display: block;
  }
  .text-block.type-2 .city-selection {
    width: auto;
    margin-top: 30px;
    padding-left: 12px;
  }
  .text-block.type-3 {
    padding-right: 0;
    padding-top: 10px;
    padding-left: 23px;
  }
  .text-block.type-3 .text-block__title {
    padding-left: 23px;
    margin-left: -23px;
    font-size: 20px;
    line-height: 26px;
  }
  .text-block.type-3 .text-block__title:before {
    width: 7px;
    height: 7px;
    top: 10px;
  }
  .text-block.type-4 .text-block__title {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 7px;
  }
  .text-block.type-5 .text-block__body {
    font-size: 20px;
    line-height: 1.5;
  }
  .text-block {
    padding: 24px 31px 29px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px;
    margin-left: 24px;
    width: calc(50% - 24px);
  }
  .text-block:first-child {
    width: calc(100% - 24px);
  }
  .text-block:last-child {
    margin-bottom: 24px;
  }
  .text-block__title.h2 {
    font-size: 24px;
    margin-bottom: 14px;
    line-height: 31px;
  }
  .text-block p {
    margin-top: 17px;
    margin-bottom: 17px;
  }
  .text-blocks.type-2 .text-block {
    width: calc(50% - 24px);
  }
  .text-blocks.type-3 .text-block {
    width: calc(50% - 24px);
  }
  .text-blocks.type-4 .text-block {
    width: calc(50% - 24px);
  }
  .text-blocks.type-5 .text-block {
    width: calc(50% - 24px);
  }
  .text-blocks.type-5 .text-block.type-3 {
    margin-left: 33px;
    width: calc(50% - 33px);
  }
}
@media (min-width: 992px) {
  .text-blocks.type-3 .text-block {
    width: calc(33.33% - 24px);
  }
  .text-blocks.type-3 .text-block:nth-child(1),
  .text-blocks.type-3 .text-block:nth-child(2) {
    width: calc(50% - 24px);
  }
}
@media (min-width: 1200px) {
  .text-block {
    width: calc(25% - 24px);
  }
  .text-block:first-child {
    width: calc(50% - 24px);
  }
  .text-blocks.type-2 .text-block {
    width: calc(33.33% - 24px);
  }
  .text-blocks.type-4 .text-block {
    margin-left: 12px;
    width: calc(25% - 12px);
  }
}
