@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.woff2") format('woff2'), url("../fonts/Montserrat-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-MediumItalic.woff2") format('woff2'), url("../fonts/Montserrat-MediumItalic.woff") format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-BoldItalic.woff2") format('woff2'), url("../fonts/Montserrat-BoldItalic.woff") format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Italic.woff2") format('woff2'), url("../fonts/Montserrat-Italic.woff") format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.woff2") format('woff2'), url("../fonts/Montserrat-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.woff2") format('woff2'), url("../fonts/Montserrat-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input {
/* 1 */
  overflow: visible;
}
button,
select {
/* 1 */
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.main-svg-sprite {
  display: none;
}
.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
  font-size: 0;
}
.svg-icon__link {
  vertical-align: top;
  fill: inherit;
  width: inherit;
  height: inherit;
}
* {
  min-width: 0;
  min-height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: auto;
  font-family: sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 11px;
  font-weight: 400;
  line-height: 1.4;
  color: #f4f4f4;
  background-color: #060606;
}
svg:not(:root) {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
blockquote {
  padding: 20px;
  margin: 30px 0;
  padding-left: 20px;
  border-left: 5px solid #0c0c0c;
  background-color: rgba(12,12,12,0.03);
}
img {
  max-width: 100%;
  height: auto;
}
.theme-color {
  color: #0c0c0c;
}
/**
 * The CSS class screen-reader-text
 *
 * @link https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
 */
.visuallyhidden,
.screen-reader-text,
.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
  -webkit-overflow-scrolling: touch;
}
.visuallyhidden:active,
.screen-reader-text:active,
.sr-only:active,
.visuallyhidden:focus,
.screen-reader-text:focus,
.sr-only:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000 /* Above WP toolbar. */;
}
.overflow-hidden {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.container {
  width: 100%;
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  word-wrap: break-word;
}
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 23px;
  font-size: 30px;
  font-weight: 400;
}
h2,
.h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 27px;
}
h4,
.h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
}
h5,
.h5,
h6,
.h6 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}
a {
  color: #f4f4f4;
  -webkit-transition: 0.25s color, 0.25s background, 0.25s border-color;
  transition: 0.25s color, 0.25s background, 0.25s border-color;
}
a:hover {
  text-decoration: none;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
.button {
  padding: 8px 20px 10px;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  border: 0;
  color: #000;
  background: #eee;
  cursor: pointer;
  -webkit-transition: 0.2s ease background, 0.2s ease color;
  transition: 0.2s ease background, 0.2s ease color;
}
.button:hover {
  background: #000;
  color: #fff;
}
html,
body {
  margin: 0;
  padding: 0;
}
html {
  min-height: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}
.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.app__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}
.app__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.app__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}
.header {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding-top: 105px;
}
.header:after {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(6,6,6,0.4);
  z-index: 10;
  opacity: 0;
  -webkit-transition: 0.3s ease opacity;
  transition: 0.3s ease opacity;
  pointer-events: none;
}
.header.menu-opened:after {
  pointer-events: auto;
  opacity: 1;
}
.header__content {
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #060606;
}
.header__burger {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
}
.header__burger:after {
  position: absolute;
  left: -5px;
  top: -12px;
  right: -5px;
  bottom: -12px;
}
.header__burger .svg-icon {
  pointer-events: none;
  width: 100%;
  height: 100%;
}
.header__burger .svg-icon--menu {
  width: 30px;
  height: 18px;
}
.header__burger .svg-icon--close {
  display: none;
}
.header__burger.is-active .svg-icon--menu {
  display: none;
}
.header__burger.is-active .svg-icon--close {
  display: block;
}
.header__actions {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 0 15px 30px;
  background: #060606;
  display: none;
  z-index: 10;
}
.header__menu ul li {
  margin-bottom: 10px;
}
.header__menu ul li:last-child {
  margin-bottom: 0;
}
.header__menu ul li a {
  font-size: 16px;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
}
.header__menu ul li a:hover {
  color: #7715a7;
}
.header__cart {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  background: #7715a7;
  width: 100%;
}
.header__cart.site-button {
  min-height: 45px;
}
.header__cart .svg-icon {
  margin-top: -2px;
}
.header__cart .cart-text {
  margin-left: 9px;
}
.site-logo a,
.site-logo img {
  width: 170px;
  display: block;
}
.site-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  background: #7715a7;
  -webkit-transition: 0.25s color, 0.25s background, 0.25s border-color;
  transition: 0.25s color, 0.25s background, 0.25s border-color;
  min-height: 52px;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
.site-button:hover,
.site-button:active {
  background: #5c1081;
}
.site-button.disabled,
.site-button[disabled] {
  background: #aa82bd;
  pointer-events: none;
}
.site-button.type-2 {
  background: #057205;
}
.site-button.type-2:hover,
.site-button.type-2:active {
  background: #009000;
}
.site-button.type-2.disabled,
.site-button.type-2[disabled] {
  background: #66b966;
}
.site-button.type-3 {
  background: #2e2e2e;
  font-weight: 400;
}
.site-button.type-3:hover,
.site-button.type-3:active {
  background: #212121;
}
.site-button .svg-icon--arr-r {
  width: 7px;
  height: 12px;
  margin-left: 6px;
  margin-top: 1px;
}
.site-button.type-4 {
  background: #f3f3f3;
  min-height: 45px;
  color: #7715a7;
}
.site-button.type-4:hover {
  background: #f6e3ff;
}
.site-button.type-5 {
  border: 3px solid #7715a7;
  background: none;
}
.site-button.type-5:hover {
  background: #7715a7;
}
.site-button[disabled] {
  background: #aa82bd;
}
.back-button {
  width: 100%;
}
.mobile-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  pointer-events: none;
  z-index: 100;
}
.mobile-sidebar:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  opacity: 0;
  -webkit-transition: 0.3s ease opacity;
  transition: 0.3s ease opacity;
}
.mobile-sidebar__close {
  position: absolute;
  right: 0;
  padding-left: 1px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 51px;
  height: 51px;
  background: #0c0c0c;
  z-index: 1;
  border-radius: 0 0 0 10px;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
          box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.mobile-sidebar__close .svg-icon {
  pointer-events: none;
  width: 20px;
  display: block;
  color: #fff;
}
.mobile-sidebar__container {
  position: fixed;
  padding-top: 55px;
  overflow: hidden;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 480px;
  background: #fff;
  -webkit-transition: 0.3s ease transform;
  transition: 0.3s ease transform;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-overflow-scrolling: touch;
}
.mobile-sidebar__content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding-top: 65px;
  -webkit-overflow-scrolling: touch;
}
.mobile-sidebar.opened {
  visibility: visible;
  pointer-events: auto;
}
.mobile-sidebar.opened:before {
  opacity: 1;
}
.mobile-sidebar.opened .mobile-sidebar__container {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.intro {
  text-align: center;
  line-height: 1.4;
  margin-bottom: 20px;
  max-width: 1328px;
}
.intro__title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 18px;
  line-height: 1;
}
.intro__text {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
}
.intro__image {
  margin-left: -15px;
  margin-right: -15px;
  display: block;
}
.intro__image img {
  width: 100%;
}
.product-slider {
  background: #0c0c0c;
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.product-slider:last-child {
  margin-bottom: 0;
}
.product-slider__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
.product-slider__play {
  width: 20px;
  height: 20px;
  background: none;
  display: block;
  border: 0;
  padding: 0;
  margin-right: 10px;
}
.product-slider__play .svg-icon {
  display: block;
  fill: #7715a7;
  width: 100%;
  height: 100%;
}
.product-slider__in {
  padding-top: 25px;
  padding-bottom: 25px;
}
.product-slider__title {
  margin-top: 0;
  line-height: 1.4;
  margin-bottom: 17px;
}
.product-slider .product-item {
  width: 48.695%;
  margin: 0 10px 0 0;
}
.product-slider .swiper {
  overflow: visible;
}
body .swiper-pagination {
  position: static;
  width: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
body .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px 0 0;
  height: 1px;
  background: #8f8f8f;
  width: 38px;
  overflow: hidden;
  display: block;
  position: relative;
  opacity: 1;
  -webkit-overflow-scrolling: touch;
}
body .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:before,
body .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background: #7715a7;
}
body .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:after,
body .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:after {
  content: '';
  position: absolute;
  left: 0;
  top: -10px;
  right: 0;
  bottom: -10px;
  cursor: pointer;
}
body .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active:first-child:before,
body .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active:first-child:before {
  -webkit-animation: 8s linear progress alternate both;
          animation: 8s linear progress alternate both;
}
body .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active:before,
body .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active:before {
  -webkit-animation: 8.8s linear progress alternate both;
          animation: 8.8s linear progress alternate both;
}
body .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet.activated:before,
body .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet.activated:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.product-slider.type-2 {
  background: none;
}
.product-slider.type-2 .product-slider__in {
  padding-top: 0;
  padding-bottom: 0;
}
.is-mobile .product-slider .product-item {
  opacity: 1;
}
.product-item {
  margin-bottom: 20px;
}
.product-item:hover .product-item__image img {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}
.product-item__container {
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  background: #fff;
  display: block;
  text-decoration: none;
}
.product-item__image {
  display: block;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.product-item__image img {
  display: block;
  width: 100%;
  -webkit-transition: 0.3s ease transform;
  transition: 0.3s ease transform;
}
.product-item__sticker {
  position: absolute;
  padding: 3px 5px;
  font-weight: 700;
  font-size: 10px;
  background: #7715a7;
  min-width: 43px;
  text-align: center;
  white-space: nowrap;
  z-index: 1;
}
.product-item__sticker--orders-quantity {
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.product-item__sticker--discount {
  bottom: 5px;
  right: 5px;
  background: #d60909;
}
.product-item__name {
  font-weight: 700;
  margin-bottom: 8px;
}
.product-item__name a {
  text-decoration: none;
}
.product-item__name a:hover {
  color: #7715a7;
}
.product-item__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: bold;
  margin-bottom: 8px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.product-item__price {
  font-size: 16px;
  margin-right: 7px;
}
.product-item__price-old {
  font-size: 13px;
  color: #8f8f8f;
  text-decoration: line-through;
}
a.product-item__button,
a.product-item__more {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  min-height: 31px;
  margin-bottom: 5px;
}
a.product-item__button:last-child,
a.product-item__more:last-child {
  margin-bottom: 0;
}
.product-list--tile .product-item {
  margin-left: 10px;
  width: calc(50% - 10px);
}
.product-list--simle .product-item {
  margin-bottom: 24px;
}
.product-list--simle .product-item:last-child {
  margin-bottom: 0;
}
.product-list--simle .product-item__name {
  font-size: 20px;
  margin-bottom: 10px;
}
.product-list--simle .product-item__prices {
  margin-bottom: 10px;
}
.product-list--simle .product-item__price {
  font-size: 25px;
}
.product-list--simle .product-item__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product-list--simle .product-item a.product-item__button,
.product-list--simle .product-item a.product-item__more {
  min-height: 35px;
  margin-bottom: 0;
}
.product-list--simle .product-item a.product-item__button {
  width: 55.155%;
}
.product-list--simle .product-item a.product-item__more {
  width: 40.91%;
}
@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes progress {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes progress {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@media (min-width: 575px) {
  .header {
    padding-top: 120px;
  }
  .header .site-logo a,
  .header .site-logo img {
    width: 245px;
  }
}
@media (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  h1,
  .h1 {
    font-size: 45px;
    margin-bottom: 30px;
    text-transform: uppercase;
    line-height: 1.2;
  }
  h2,
  .h2 {
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  h3,
  .h3 {
    font-size: 38px;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  h4,
  .h4 {
    font-size: 35px;
    margin-bottom: 27px;
    margin-top: 27px;
  }
  h5,
  .h5,
  h6,
  .h6 {
    font-size: 27px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .header__actions {
    padding: 0 30px 30px;
  }
  .back-button {
    width: auto;
    min-width: 273px;
  }
  .intro__image {
    margin-left: -30px;
    margin-right: -30px;
  }
  .intro__title {
    font-size: 37px;
  }
}
@media (min-width: 992px) {
  body {
    font-size: 20px;
  }
  h1,
  .h1 {
    font-size: 50px;
    margin-bottom: 25px;
  }
  h2,
  .h2 {
    font-size: 35px;
  }
  .header {
    padding-top: 0;
    margin-bottom: 78px;
  }
  .header__content {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__burger {
    display: none;
  }
  .header .site-logo a,
  .header .site-logo img {
    width: 180px;
  }
  .header__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0;
    padding-bottom: 0;
    margin-left: auto;
    background: none;
  }
  .header__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__menu ul li {
    margin-bottom: 0;
  }
  .header__menu ul li a {
    display: block;
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 5px;
  }
  .header__menu ul li a:hover {
    background: #2e2e2e;
    color: #fff;
  }
  .header__cart {
    width: auto;
    margin-top: 0;
    margin-left: 15px;
  }
  .header__cart .cart-text {
    display: none;
  }
  .site-button .svg-icon--arr-r {
    width: 9px;
    height: 14px;
  }
  .site-button.type-4 {
    min-height: 52px;
  }
  .mobile-sidebar {
    display: none;
  }
  .intro__image {
    opacity: 0;
    -webkit-transition: 2s opacity;
    transition: 2s opacity;
  }
  .intro__title {
    opacity: 0;
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
    -webkit-transition: 0.7s opacity, 0.7s -webkit-transform;
    transition: 0.7s opacity, 0.7s -webkit-transform;
    transition: 0.7s opacity, 0.7s transform;
    transition: 0.7s opacity, 0.7s transform, 0.7s -webkit-transform;
  }
  .intro__text {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    -webkit-transition: 1s opacity, 1s -webkit-transform;
    transition: 1s opacity, 1s -webkit-transform;
    transition: 1s opacity, 1s transform;
    transition: 1s opacity, 1s transform, 1s -webkit-transform;
  }
  .intro.loadet .intro__image {
    opacity: 1;
  }
  .intro.loadet .intro__title,
  .intro.loadet .intro__text {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 50px;
  }
  .intro__image {
    margin-right: 30px;
    margin-left: -30px;
    width: 52%;
  }
  .intro__title {
    font-size: 37px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .intro__text {
    max-width: none;
    margin: 0;
    font-size: 22px;
  }
  .product-slider {
    margin-bottom: 57px;
  }
  .product-slider__in {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .product-slider__title {
    margin-bottom: 22px;
  }
  .product-slider__pagination {
    margin-bottom: 50px;
  }
  .product-slider .product-item__name {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .product-slider .product-item__price {
    font-size: 20px;
  }
  .product-slider a.product-item__button,
  .product-slider a.product-item__more {
    min-height: 44px;
    width: 100%;
  }
  .product-slider.type-2 .product-slider__title {
    margin-bottom: 40px;
  }
  .product-slider .product-item {
    opacity: 0;
  }
  .product-slider.aos-animate .product-item {
    -webkit-animation: fadeInLeft 1.1s forwards;
            animation: fadeInLeft 1.1s forwards;
  }
  .product-item {
    margin-bottom: 50px;
  }
  .product-item__container {
    padding: 23px;
    margin-bottom: 20px;
  }
  .product-item__sticker {
    font-size: 16px;
    padding: 6px 10px;
    min-width: 88px;
  }
  .product-item__sticker--orders-quantity {
    left: 12px;
    top: 14px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .product-item__sticker--discount {
    right: 17px;
    bottom: 13px;
  }
  .product-item__name {
    margin-bottom: 12px;
  }
  .product-item__prices {
    margin-bottom: 12px;
  }
  .product-item__price {
    font-size: 25px;
  }
  .product-item__price-old {
    font-size: 12px;
    margin-top: 2px;
  }
  a.product-item__button,
  a.product-item__more {
    min-height: 50px;
    font-size: 16px;
  }
  .product-list--tile {
    margin-bottom: -50px;
  }
  .product-list--tile .product-item {
    margin-left: 25px;
    width: calc(50% - 25px);
  }
  .product-list--simle .product-item {
    margin-bottom: 60px;
  }
  .product-list--simle .product-item__container {
    padding: 30px;
    margin-bottom: 30px;
  }
  .product-list--simle .product-item__bot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product-list--simle .product-item__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: auto;
  }
  .product-list--simle .product-item__buttons {
    display: block;
    max-width: 320px;
  }
  .product-list--simle .product-item a.product-item__button,
  .product-list--simle .product-item a.product-item__more {
    width: 100%;
    min-height: 54px;
    margin-bottom: 10px;
  }
  .product-list--simle .product-item a.product-item__button:last-child,
  .product-list--simle .product-item a.product-item__more:last-child {
    margin-bottom: 0;
  }
  .product-list--simle .product-item__prices {
    margin-top: auto;
    margin-bottom: 0;
  }
  .product-list--simle .product-item__price {
    font-size: 35px;
  }
}
@media (min-width: 1200px) {
  .header .site-logo a,
  .header .site-logo img {
    width: 245px;
  }
  .header__content {
    padding-top: 0;
    padding-bottom: 0;
  }
  .header__menu ul {
    margin-left: -15px;
  }
  .header__menu ul li {
    margin-left: 15px;
  }
  .header__menu ul li a {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header__cart {
    font-size: 16px;
    min-width: 143px;
    min-height: 45px;
  }
  .header__cart .cart-text {
    display: inline;
  }
  .intro__title {
    font-size: 45px;
  }
  .intro__text {
    font-size: 27px;
  }
  .product-slider a.product-item__button {
    width: 58.85%;
  }
  .product-slider a.product-item__more {
    width: 39.522%;
  }
  .product-slider .swiper {
    padding-right: 50px;
  }
  .product-slider a.product-item__button {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 70%;
  }
  body .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  body .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 230px;
  }
  .product-item__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  a.product-item__button,
  a.product-item__more {
    margin-bottom: 0;
  }
  a.product-item__button {
    width: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
  }
  .product-list--tile .product-item a.product-item__button {
    width: 55.964%;
  }
  .product-list--tile .product-item a.product-item__more {
    width: 39.66%;
  }
}
@media (max-width: 768px) {
  [data-aos] {
    opacity: 1 !important;
  }
}
